# Data Classification

# Notebook set-up

In [192]:
import os 
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
import io

sns.set_style('whitegrid')
sns.set_context('notebook')

# Data loading

In [193]:
# Load the data into a dataframe 
#can_master = pd.read_csv('can-1996-2016.csv')
#cmte_master =pd.read_csv('cm-1996-2014.csv') 
#opex=pd.read_csv('opex-2004-2014.csv')
#oth=pd.read_csv('oth-1996-2014.csv')
#exp=pd.read_csv('expresults_rev.csv')
#election_spend=pd.read_csv('catall.csv')
#results = pd.read_csv('candr.csv')
catsort= pd.read_csv('catsort.csv')

In [194]:
catsort['cycle']=pd.to_numeric(catsort['cycle'],errors='coerce')

In [195]:
print(catsort[pd.to_numeric(catsort['cycle'], errors = 'coerce').isnull()])

         cand_id  cycle  c1  c2  c3  c4  c5  c6  c7  c8  c9  c10  c11  c12  \
30254        NaN    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30258  H2PA04192    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30272  H4IL06104    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30280  H4IN02051    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30288  S0SC00149    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30293  H8FL24042    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30297  H2TX03118    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30306  H0LA04073    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30309  H4TX04088    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30317  H4IL08092    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30320  H4CA19076    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30324  H4MO01126    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30351  S4SC00158    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30356  H0TN09053    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30363  S0AZ00152    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30364  H2TN07202    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30368  H4PA04099    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30384  H8MD00013    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30386  H4NC04115    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30389  H2GA13053    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30394  H0CA28109    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30396  S0NH00219    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30408  H6NC13012    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30414  H8CA22089    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30422  H4CO01138    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30435  H4CA42052    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30439  H0KY05130    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30452  H2MI13154    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30455  H8KS03072    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30460  H8FL01099    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
...          ...    ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...
43183  S8MN00438    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43186  H0MD05126    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43195  H0MO09168    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43203  H4CA25099    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43205  H4TN04205    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43210  H0MI06137    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43232  H6OH04082    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43244  H4AR01044    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43249  S0UT00066    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43258  H0IN02125    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43259  H0PA12124    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43263  H8MI12062    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43291  H2FL22114    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43292  H4NE03037    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43301  S8MS00196    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43304  H4TX03064    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43309  H2CA49234    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43316  H2OR04079    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43324  H2AZ07161    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43337  H4TX07065    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43338  S4IL00362    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43341  H4ID01073    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43348  H0OH02071    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43352  S4CO00197    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43353  H4CA48059    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43354  H4CO03167    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43359  S0CO00211    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43388  H4MD06175    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43403  H8FL00026    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43407  H4AZ05047    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN

       c13  total
30254  NaN    NaN
30258  NaN    NaN
30272  NaN    NaN
30280  NaN    NaN
30288  NaN    NaN
30293  NaN    NaN
30297  NaN    NaN
30306  NaN    NaN
30309  NaN    NaN
30317  NaN    NaN
30320  NaN    NaN
30324  NaN    NaN
30351  NaN    NaN
30356  NaN    NaN
30363  NaN    NaN
30364  NaN    NaN
30368  NaN    NaN
30384  NaN    NaN
30386  NaN    NaN
30389  NaN    NaN
30394  NaN    NaN
30396  NaN    NaN
30408  NaN    NaN
30414  NaN    NaN
30422  NaN    NaN
30435  NaN    NaN
30439  NaN    NaN
30452  NaN    NaN
30455  NaN    NaN
30460  NaN    NaN
...    ...    ...
43183  NaN    NaN
43186  NaN    NaN
43195  NaN    NaN
43203  NaN    NaN
43205  NaN    NaN
43210  NaN    NaN
43232  NaN    NaN
43244  NaN    NaN
43249  NaN    NaN
43258  NaN    NaN
43259  NaN    NaN
43263  NaN    NaN
43291  NaN    NaN
43292  NaN    NaN
43301  NaN    NaN
43304  NaN    NaN
43309  NaN    NaN
43316  NaN    NaN
43324  NaN    NaN
43337  NaN    NaN
43338  NaN    NaN
43341  NaN    NaN
43348  NaN    NaN
43352  NaN    NaN
43353  NaN    NaN
43354  NaN    NaN
43359  NaN    NaN
43388  NaN    NaN
43403  NaN    NaN
43407  NaN    NaN

[1319 rows x 16 columns]

In [196]:
catsort = catsort[pd.notnull(catsort['cycle'])]

In [197]:
catsort['cycle'] = catsort['cycle'].astype(int).astype('str')

In [198]:
catsort.head()

,cand_id,cycle,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,total
0,H6FL19038,2006,281886.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,H2NY17071,2004,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H8TX27023,2008,12900.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,H8OH18088,2012,30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,H0SC01071,2008,83183.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [199]:
#exp = exp[pd.notnull(exp['cycle'])]

In [200]:
#exp['cycle'] = exp['cycle'].astype(int).astype('str')

In [201]:
#exp.head()

In [202]:
#catsort['cycle']=catsort['cycle'].astype('str')

In [203]:
print(catsort.dtypes)

cand_id     object
cycle       object
c1         float64
c2         float64
c3         float64
c4         float64
c5         float64
c6         float64
c7         float64
c8         float64
c9         float64
c10        float64
c11        float64
c12        float64
c13        float64
total      float64
dtype: object

In [204]:
cs1 = catsort

In [205]:
cs1 = cs1.drop(['c2','c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis=1)

In [206]:
cs1.head()

     cand_id cycle         c1
0  H6FL19038  2006  281886.64
1  H2NY17071  2004    4500.00
2  H8TX27023  2008   12900.00
3  H8OH18088  2012      30.00
4  H0SC01071  2008   83183.76

In [207]:
#cs1 = cs1.set_index(['cand_id','cycle'], inplace=True)

In [208]:
#print(cs1)

In [209]:
cs1.head()

     cand_id cycle         c1
0  H6FL19038  2006  281886.64
1  H2NY17071  2004    4500.00
2  H8TX27023  2008   12900.00
3  H8OH18088  2012      30.00
4  H0SC01071  2008   83183.76

In [210]:
#test
#cs1.loc["H0SC01071", '2006']

In [211]:
#agg_df = cs1.sum(level=['cand_id','cycle'])
#print(agg_df)

In [212]:
#test
#agg_df.loc['H0SC01071','2006']

In [213]:
cs1 = cs1[pd.notnull(cs1['c1'])]

In [214]:
cs1 = cs1.drop_duplicates()

In [215]:
cs1 = cs1.groupby(['cand_id','cycle'])['c1'].sum().reset_index()

In [216]:
cs1.head()

     cand_id cycle        c1
0  H0AK00089  2010    550.00
1  H0AK01038  2010   1569.23
2  H0AL00016  2010  19831.34
3  H0AL01030  2010   7054.34
4  H0AL01030  2012   3480.00

In [217]:
cs2 = catsort

In [218]:
cs2 = cs2.drop(['c1','c3','c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis =1)

In [177]:
#cs2.set_index(['cand_id','cycle'], inplace=True)

In [178]:
#print(cs2)

In [38]:
#cs2 = catsort

In [219]:
cs2 = cs2[pd.notnull(cs2['c2'])]

In [220]:
#test
#cs2.loc["H2NY17071", '2004']

In [221]:
#agg_df = cs2.sum(level=['cand_id','cycle'])
#print(agg_df)

In [222]:
cs2 = cs2.drop_duplicates()

In [182]:
#test
#agg_df.loc['H0NC11118','2010']

In [223]:
cs2 = cs2.groupby(['cand_id','cycle'])['c2'].sum().reset_index()

In [224]:
#test
#agg_df.loc['H2NY17071','2004']

In [225]:
cs2.head()

     cand_id cycle       c2
0  H0AK01038  2010    88.93
1  H0AL00016  2010   909.80
2  H0AL01030  2010  5233.32
3  H0AL01030  2012    27.72
4  H0AL03184  2010  1441.91

In [226]:
#cs2.groupby(['cand_id','cycle'])['c2'].sum()

In [227]:
cm1 = pd.merge(cs1, cs2, on=['cand_id','cycle'], how='outer')

In [228]:
cm1.head()

     cand_id cycle        c1       c2
0  H0AK00089  2010    550.00      NaN
1  H0AK01038  2010   1569.23    88.93
2  H0AL00016  2010  19831.34   909.80
3  H0AL01030  2010   7054.34  5233.32
4  H0AL01030  2012   3480.00    27.72

In [229]:
cs3 = catsort

In [230]:
cs3 = cs3.drop(['c1', 'c2', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [231]:
cs3 = cs3[pd.notnull(cs3['c3'])]

In [232]:
cs3 = cs3.drop_duplicates()

In [234]:
cs3.head()

     cand_id cycle        c3
0  H0AL00016  2010     81.19
1  H0AL01030  2010    668.95
2  H0AL01030  2012    381.09
3  H0AL02087  2012  16964.09
4  H0AL02087  2014  16866.78

In [233]:
cs3 = cs3.groupby(['cand_id','cycle'])['c3'].sum().reset_index()

In [240]:
#cs3.set_index(['cand_id','cycle'], inplace=True)

In [241]:
#cs3.groupby(['cand_id','cycle'])['c3'].sum()

In [237]:
cm1 = pd.merge(cm1, cs3, on=['cand_id','cycle'], how='outer')

In [242]:
cm1.head(10)

     cand_id cycle        c1       c2        c3
0  H0AK00089  2010    550.00      NaN       NaN
1  H0AK01038  2010   1569.23    88.93       NaN
2  H0AL00016  2010  19831.34   909.80     81.19
3  H0AL01030  2010   7054.34  5233.32    668.95
4  H0AL01030  2012   3480.00    27.72    381.09
5  H0AL02087  2012  11727.82      NaN  16964.09
6  H0AL02087  2014  12132.25      NaN  16866.78
7  H0AL02103  2010   2197.40      NaN       NaN
8  H0AL02111  2010   4897.58      NaN    484.62
9  H0AL03184  2010     14.95  1441.91       NaN

In [235]:
#agg_df = cs3.sum(level=['cand_id','cycle'])
#print(agg_df)

In [236]:
#test
#agg_df.loc['S8VA00214','2006']

In [243]:
cs4 = catsort

In [244]:
cs4 = cs4.drop(['c1', 'c2', 'c3', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [245]:
cs4 = cs4[pd.notnull(cs4['c4'])]

In [61]:
#cs4.groupby(['cand_id','cycle'])['c4'].sum()

In [246]:
cs4 = cs4.drop_duplicates()

In [247]:
cs4 = cs4.groupby(['cand_id','cycle'])['c4'].sum().reset_index()

In [63]:
#cs4.set_index(['cand_id','cycle'], inplace=True)

In [248]:
cs4.head()

     cand_id cycle        c4
0  H0AL00016  2010    465.00
1  H0AL01030  2010  27082.28
2  H0AL01030  2012   7257.71
3  H0AL02111  2010   8403.45
4  H0AL03184  2010   5000.00

In [250]:
cm1 = pd.merge(cm1, cs4, on=['cand_id','cycle'], how='outer')

In [249]:
#agg_df = cs4.sum(level=['cand_id','cycle'])
#print(agg_df)

In [251]:
cs5 = catsort

In [252]:
cs5 = cs5.drop(['c1', 'c2', 'c3', 'c4', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [253]:
cs5 = cs5[pd.notnull(cs5['c5'])]

In [69]:
#cs5.groupby(['cand_id','cycle'])['c5'].sum()

In [254]:
cs5 = cs5.drop_duplicates()

In [256]:
cs5 = cs5.groupby(['cand_id','cycle'])['c5'].sum().reset_index()

In [255]:
#cs5.set_index(['cand_id','cycle'], inplace=True)

In [257]:
cs5.head()

     cand_id cycle       c5
0  H0AL01030  2010   1175.0
1  H0AL05163  2010  27000.0
2  H0AL05163  2012  17000.0
3  H0AL05163  2014  15000.0
4  H0AL07086  2010  55500.0

In [258]:
#agg_df = cs5.sum(level=['cand_id','cycle'])
#print(agg_df)

In [259]:
#test
#agg_df.loc['H0CA02138','2010']

In [260]:
cm1 = pd.merge(cm1, cs5, on=['cand_id','cycle'], how='outer')

In [261]:
cs6 = catsort

In [262]:
cs6 = cs6.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [263]:
cs6 = cs6[pd.notnull(cs6['c6'])]

In [79]:
#cs6.groupby(['cand_id','cycle'])['c6'].sum()

In [264]:
cs6 = cs6.drop_duplicates()

In [265]:
#cs6.set_index(['cand_id','cycle'], inplace=True)

In [266]:
cs6 = cs6.groupby(['cand_id','cycle'])['c6'].sum().reset_index()

In [267]:
cm1 = pd.merge(cm1, cs6, on=['cand_id','cycle'], how='outer')

In [268]:
#agg_df = cs6.sum(level=['cand_id','cycle'])
#print(agg_df)

In [269]:
#test
#agg_df.loc['H0AR01109','2010']

In [270]:
cs7 = catsort

In [271]:
cs7 = cs7.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [272]:
cs7 = cs7[pd.notnull(cs7['c7'])]

In [89]:
#cs7.groupby(['cand_id','cycle'])['c7'].sum()

In [273]:
cs7 = cs7.drop_duplicates()

In [274]:
cs7 = cs7.groupby(['cand_id','cycle'])['c7'].sum().reset_index()

In [275]:
#cs7.set_index(['cand_id','cycle'], inplace=True)

In [276]:
cs7.head()

     cand_id cycle        c7
0  H0AL00016  2010   2192.99
1  H0AL01030  2010    583.75
2  H0AL01030  2012     56.58
3  H0AL05155  2010  47101.73
4  H0AL05163  2010   9362.66

In [277]:
#agg_df = cs7.sum(level=['cand_id','cycle'])
#print(agg_df)

In [278]:
#test
#agg_df.loc['H0AL02087','2010']

In [279]:
cm1 = pd.merge(cm1, cs7, on=['cand_id','cycle'], how='outer')

In [280]:
cs8 = catsort

In [281]:
cs8 = cs8.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [282]:
cs8 = cs8[pd.notnull(cs8['c8'])]

In [283]:
#cs8.groupby(['cand_id','cycle'])['c8'].sum()

In [284]:
cs8 = cs8.drop_duplicates()

In [285]:
cs8 = cs8.groupby(['cand_id','cycle'])['c8'].sum().reset_index()

In [286]:
#cs8.set_index(['cand_id','cycle'], inplace=True)

In [287]:
cs8.head()

     cand_id cycle         c8
0  H0AL05163  2010     249.00
1  H0AZ01259  2012   50000.00
2  H0CA15148  2004     904.66
3  H0FL04066  2006  500000.00
4  H0HI01157  2010   15000.00

In [288]:
#agg_df = cs8.sum(level=['cand_id','cycle'])
#print(agg_df)

In [289]:
#test
#agg_df.loc['S8WV00093','2008']

In [290]:
cm1 = pd.merge(cm1, cs8, on=['cand_id','cycle'], how='outer')

In [291]:
cs9 = catsort

In [292]:
cs9 = cs9.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [293]:
cs9 = cs9[pd.notnull(cs9['c9'])]

In [108]:
#cs9.groupby(['cand_id','cycle'])['c9'].sum()

In [294]:
cs9 = cs9.drop_duplicates()

In [295]:
#cs9.set_index(['cand_id','cycle'], inplace=True)

In [296]:
#agg_df = cs9.sum(level=['cand_id','cycle'])
#print(agg_df)

In [297]:
cs9 = cs9.groupby(['cand_id','cycle'])['c9'].sum().reset_index()

In [298]:
cs9.head()

     cand_id cycle       c9
0  H0AL07177  2012  1020.00
1  H0AR01109  2012  4000.00
2  H0AR04061  2010  3027.27
3  H0AZ04493  2012  1615.52
4  H0CA02138  2012  1200.00

In [299]:
#test
#agg_df.loc['H0AL05163','2010']

In [300]:
cm1 = pd.merge(cm1, cs9, on=['cand_id','cycle'], how='outer')

In [301]:
cs10 = catsort

In [302]:
cs10 = cs10.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c11', 'c12', 'c13','total'], axis = 1)

In [303]:
cs10 = cs10[pd.notnull(cs10['c10'])]

In [117]:
#cs10.groupby(['cand_id','cycle'])['c10'].sum()

In [304]:
cs10 = cs10.drop_duplicates()

In [305]:
#cs10.set_index(['cand_id','cycle'], inplace=True)

In [306]:
cs10 = cs10.groupby(['cand_id','cycle'])['c10'].sum().reset_index()

In [307]:
#agg_df = cs10.sum(level=['cand_id','cycle'])
#print(agg_df)

In [308]:
#test
#agg_df.loc['H0AL05155','2010']

In [309]:
cm1 = pd.merge(cm1, cs10, on=['cand_id','cycle'], how='outer')

In [310]:
cs11 = catsort

In [311]:
cs11 = cs11.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c12', 'c13','total'], axis = 1)

In [312]:
cs11 = cs11[pd.notnull(cs11['c11'])]

In [315]:
#cs11.groupby(['cand_id','cycle'])['c11'].sum()

In [313]:
cs11 = cs11.drop_duplicates()

In [314]:
#cs11.set_index(['cand_id','cycle'], inplace=True)

In [316]:
cs11 = cs11.groupby(['cand_id','cycle'])['c11'].sum().reset_index()

In [317]:
#agg_df = cs11.sum(level=['cand_id','cycle'])
#print(agg_df)

In [318]:
#test
#agg_df.loc['H0AL05197','2010']

In [328]:
cm1 = pd.merge(cm1, cs11, on=['cand_id','cycle'], how='outer')

In [319]:
cs12 = catsort

In [320]:
cs12 = cs12.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c13','total'], axis = 1)

In [321]:
cs12 = cs12[pd.notnull(cs12['c12'])]

In [322]:
#cs12.groupby(['cand_id','cycle'])['c12'].sum()

In [323]:
cs12 = cs12.drop_duplicates()

In [324]:
#cs12.set_index(['cand_id','cycle'], inplace=True)

In [325]:
cs12 = cs12.groupby(['cand_id','cycle'])['c12'].sum().reset_index()

In [326]:
#agg_df = cs12.sum(level=['cand_id','cycle'])
#print(agg_df)

In [327]:
#test
#agg_df.loc['H0AL05049', '2012']

In [329]:
cm1 = pd.merge(cm1, cs12, on=['cand_id','cycle'], how='outer')

In [330]:
cs13 = catsort

In [331]:
cs13 = cs13.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12','total'], axis = 1)

In [332]:
cs13 = cs13[pd.notnull(cs13['c13'])]

In [333]:
#cs13.groupby(['cand_id','cycle'])['c13'].sum()

In [334]:
cs13 = cs13.drop_duplicates()

In [335]:
#cs13.set_index(['cand_id','cycle'], inplace=True)

In [336]:
cs13 = cs13.groupby(['cand_id','cycle'])['c13'].sum().reset_index()

In [337]:
#agg_df = cs13.sum(level=['cand_id','cycle'])
#print(agg_df)

In [338]:
cm1 = pd.merge(cm1, cs13, on=['cand_id','cycle'], how='outer')

In [339]:
#test
#agg_df.loc['S8WY00163','2008']

In [344]:
cm1.head()

,cand_id,cycle,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13
0,H0AK00089,2010,550.00,NaN,NaN,NaN,NaN,785.00,NaN,NaN,NaN,NaN,NaN,NaN,218666.06
1,H0AK01038,2010,1569.23,88.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168119.58
2,H0AL00016,2010,19831.34,909.80,81.19,465.00,NaN,3177.55,2192.99,NaN,NaN,NaN,NaN,300.0,NaN
3,H0AL01030,2010,7054.34,5233.32,668.95,27082.28,1175.0,1295.21,583.75,NaN,NaN,NaN,NaN,NaN,1284.15
4,H0AL01030,2012,3480.00,27.72,381.09,7257.71,NaN,NaN,56.58,NaN,NaN,NaN,NaN,NaN,NaN

In [343]:
cm1.to_csv('cand_cat.csv', index=False)

In [154]:
pr = exp

In [155]:
pr.head()

,state_abbreviation,district,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes,cand_id,cmte_id,exp_sum,category,cycle
0,AL,7,(I),D,0.0,NaN,228518.0,NaN,W,228518,H0AL07060,C00347872,1363.96,NaN,2012
1,AL,7,(I),DEM,93586.0,NaN,133870.0,NaN,W,227456,H0AL07060,C00347872,1363.96,NaN,2012
2,AL,7,(I),D,58193.0,NaN,183408.0,NaN,W,241601,H0AL07060,C00347872,1363.96,NaN,2012
3,AL,7,(I),D,0.0,NaN,228518.0,NaN,W,228518,H0AL07060,C00347872,1204248.81,NaN,2010
4,AL,7,(I),DEM,93586.0,NaN,133870.0,NaN,W,227456,H0AL07060,C00347872,1204248.81,NaN,2010

In [156]:
pr = pr.drop(['cmte_id', 'exp_sum', 'category'], axis = 1)

In [157]:
#exp= exp[pd.notnull(cs12['c12'])]

In [158]:
pr.head()

,state_abbreviation,district,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes,cand_id,cycle
0,AL,7,(I),D,0.0,NaN,228518.0,NaN,W,228518,H0AL07060,2012
1,AL,7,(I),DEM,93586.0,NaN,133870.0,NaN,W,227456,H0AL07060,2012
2,AL,7,(I),D,58193.0,NaN,183408.0,NaN,W,241601,H0AL07060,2012
3,AL,7,(I),D,0.0,NaN,228518.0,NaN,W,228518,H0AL07060,2010
4,AL,7,(I),DEM,93586.0,NaN,133870.0,NaN,W,227456,H0AL07060,2010

In [159]:
#cs10 = cs10.drop_duplicates()

In [160]:
pr.set_index(['cand_id','cycle'], inplace=True)

In [161]:
pr.head()

                state_abbreviation district incumbent party  primary_votes  \
cand_id   cycle
H0AL07060 2012                  AL        7       (I)     D            0.0
          2012                  AL        7       (I)   DEM        93586.0
          2012                  AL        7       (I)     D        58193.0
          2010                  AL        7       (I)     D            0.0
          2010                  AL        7       (I)   DEM        93586.0

                 runoff_votes  general_votes  ge_runoff_election_votes  \
cand_id   cycle
H0AL07060 2012            NaN       228518.0                       NaN
          2012            NaN       133870.0                       NaN
          2012            NaN       183408.0                       NaN
          2010            NaN       228518.0                       NaN
          2010            NaN       133870.0                       NaN

                ge_winner_indicator  total_votes
cand_id   cycle
H0AL07060 2012                    W       228518
          2012                    W       227456
          2012                    W       241601
          2010                    W       228518
          2010                    W       227456

In [162]:
pr['primary_votes'].fillna(0, inplace = True)

In [163]:
pr['runoff_votes'].fillna(0, inplace = True)

In [164]:
pr['ge_runoff_election_votes'].fillna(0, inplace = True)

In [165]:
pr['general_votes'].fillna(0, inplace = True)

In [166]:
pr.head()

                state_abbreviation district incumbent party  primary_votes  \
cand_id   cycle
H0AL07060 2012                  AL        7       (I)     D            0.0
          2012                  AL        7       (I)   DEM        93586.0
          2012                  AL        7       (I)     D        58193.0
          2010                  AL        7       (I)     D            0.0
          2010                  AL        7       (I)   DEM        93586.0

                 runoff_votes  general_votes  ge_runoff_election_votes  \
cand_id   cycle
H0AL07060 2012            0.0       228518.0                       0.0
          2012            0.0       133870.0                       0.0
          2012            0.0       183408.0                       0.0
          2010            0.0       228518.0                       0.0
          2010            0.0       133870.0                       0.0

                ge_winner_indicator  total_votes
cand_id   cycle
H0AL07060 2012                    W       228518
          2012                    W       227456
          2012                    W       241601
          2010                    W       228518
          2010                    W       227456

In [167]:
pr['primary_total'] = pr.primary_votes + pr.runoff_votes

In [168]:
pr.head()

                state_abbreviation district incumbent party  primary_votes  \
cand_id   cycle
H0AL07060 2012                  AL        7       (I)     D            0.0
          2012                  AL        7       (I)   DEM        93586.0
          2012                  AL        7       (I)     D        58193.0
          2010                  AL        7       (I)     D            0.0
          2010                  AL        7       (I)   DEM        93586.0

                 runoff_votes  general_votes  ge_runoff_election_votes  \
cand_id   cycle
H0AL07060 2012            0.0       228518.0                       0.0
          2012            0.0       133870.0                       0.0
          2012            0.0       183408.0                       0.0
          2010            0.0       228518.0                       0.0
          2010            0.0       133870.0                       0.0

                ge_winner_indicator  total_votes  primary_total
cand_id   cycle
H0AL07060 2012                    W       228518            0.0
          2012                    W       227456        93586.0
          2012                    W       241601        58193.0
          2010                    W       228518            0.0
          2010                    W       227456        93586.0

In [169]:
pr['general_total'] = pr.general_votes + pr.ge_runoff_election_votes

In [170]:
pr.head()

                state_abbreviation district incumbent party  primary_votes  \
cand_id   cycle
H0AL07060 2012                  AL        7       (I)     D            0.0
          2012                  AL        7       (I)   DEM        93586.0
          2012                  AL        7       (I)     D        58193.0
          2010                  AL        7       (I)     D            0.0
          2010                  AL        7       (I)   DEM        93586.0

                 runoff_votes  general_votes  ge_runoff_election_votes  \
cand_id   cycle
H0AL07060 2012            0.0       228518.0                       0.0
          2012            0.0       133870.0                       0.0
          2012            0.0       183408.0                       0.0
          2010            0.0       228518.0                       0.0
          2010            0.0       133870.0                       0.0

                ge_winner_indicator  total_votes  primary_total  general_total
cand_id   cycle
H0AL07060 2012                    W       228518            0.0       228518.0
          2012                    W       227456        93586.0       133870.0
          2012                    W       241601        58193.0       183408.0
          2010                    W       228518            0.0       228518.0
          2010                    W       227456        93586.0       133870.0

In [171]:
#pd.merge(pr,cs1, how = 'left', on = 'cand_id')

In [172]:
#RS1 = pr.join(cs1)

In [ ]:
#RS2 = RS1.join(cs2)

In [ ]:
#RS3 = RS2.join(cs3)

In [ ]:
#RS4 = RS3.join(cs4)

In [ ]:
cm1 = pd.merge(cs1, cs2, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs3, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs4, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs5, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs6, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs7, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs8, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs9, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs10, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs11, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs12, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = csm1.drop(['c13'], axis = 1)

In [ ]:
#csm1 = csm1.drop_duplicates()

In [ ]:
csm1.head(200)

In [ ]:
#cs12.groupby(['cand_id','cycle'])['c12'].sum()

In [ ]:
df.head()

In [ ]:
df = election_spend

In [ ]:
df.drop('id', axis=1, inplace=True)

In [ ]:
df.drop('cand_name', axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
df.count()

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.head(4)

In [ ]:
df.count()

In [ ]:
df.loc[:'H6FL19038']

In [ ]:
df = df[df.total_votes != 0]

In [ ]:
df.head()

In [ ]:
Expense = df[["cand_id","cand_ici","cycle","c1","c2","c3","c4","c5","c6","c7","c8","c9","c10","c11","c12","c13"]]

In [ ]:
Other = df[["cand_id","cand_pty_affiliation","cand_office_st","cand_office","cand_office_district","cand_ici","cycle","total_votes"]]

In [ ]:
Expense.head(10)

In [ ]:
Expense_Update = Expense.drop_duplicates()

In [ ]:
Expense_Update.head()

In [ ]:
results.head()

In [ ]:
df1 = results

In [ ]:
df1.fec_id.apply(str)

In [ ]:
df2 = df1[pd.notnull(df1['fec_id'])]

In [ ]:
df2.head(20)

In [ ]:
df2['incumbent']=df2['incumbent'].fillna(0)

In [ ]:
df2['primary_votes']=df2['primary_votes'].fillna(0)

In [ ]:
df2['runoff_votes']=df2['runoff_votes'].fillna(0)

In [ ]:
df2['general_votes']=df2['general_votes'].fillna(0)

In [ ]:
df2['ge_runoff_election_votes']=df2['ge_runoff_election_votes'].fillna(0)

In [ ]:
df2.head()

In [ ]:
df2['ge_winner_indicator']=df2['ge_winner_indicator'].fillna(0)

In [ ]:
df2.head(20)

In [ ]:
df3 = df2.replace("W",1)

In [ ]:
df3.head(20)

In [ ]:
df4 = df3.replace("(I)",1)

In [ ]:
df4.head(20)

In [ ]:
results_clean = df4.drop_duplicates()

In [ ]:
results_clean.count()

In [ ]:
results_clean.drop('ge_runoff_election_votes', axis=1, inplace=True)

In [ ]:
results_clean.drop('ge_winner_indicator', axis=1, inplace=True)

In [ ]:
results_clean.drop('blank', axis=1, inplace=True)

In [ ]:
results_clean.head(20)

In [ ]:
from pandas.tools.plotting import parallel_coordinates
parallel_coordinates(data, class_column='label')

In [ ]:
from sklearn.model_selection import train_test_split as tts 

X = data[[
    '??', '??', '??', '??', '??', '??', '??'
]]
y = data['label']

print(X.shape)
print(y.shape)

In [ ]:
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2)