# Data Classification

# Notebook set-up

In [7]:
import os 
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
import io

sns.set_style('whitegrid')
sns.set_context('notebook')

# Data loading

In [8]:
# Load the data into a dataframe 
#can_master = pd.read_csv('can-1996-2016.csv')
#cmte_master =pd.read_csv('cm-1996-2014.csv') 
#opex=pd.read_csv('opex-2004-2014.csv')
#oth=pd.read_csv('oth-1996-2014.csv')
exp=pd.read_csv('expresults_rev.csv')
#election_spend=pd.read_csv('catall.csv')
results = pd.read_csv('candr.csv')
catsort= pd.read_csv('catsort_rev.csv')

In [9]:
catsort['cycle']=pd.to_numeric(catsort['cycle'],errors='coerce')

In [10]:
print(catsort[pd.to_numeric(catsort['cycle'], errors = 'coerce').isnull()])

         cand_id  cycle  c1  c2  c3  c4  c5  c6  c7  c8  c9  c10  c11  c12  \
30254        NaN    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30258  H2PA04192    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30272  H4IL06104    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30280  H4IN02051    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30288  S0SC00149    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30293  H8FL24042    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30297  H2TX03118    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30306  H0LA04073    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30309  H4TX04088    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30317  H4IL08092    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30320  H4CA19076    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30324  H4MO01126    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30351  S4SC00158    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30356  H0TN09053    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30363  S0AZ00152    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30364  H2TN07202    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30368  H4PA04099    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30384  H8MD00013    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30386  H4NC04115    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30389  H2GA13053    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30394  H0CA28109    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30396  S0NH00219    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30408  H6NC13012    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30414  H8CA22089    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30422  H4CO01138    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30435  H4CA42052    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30439  H0KY05130    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30452  H2MI13154    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30455  H8KS03072    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
30460  H8FL01099    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
...          ...    ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...
43183  S8MN00438    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43186  H0MD05126    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43195  H0MO09168    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43203  H4CA25099    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43205  H4TN04205    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43210  H0MI06137    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43232  H6OH04082    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43244  H4AR01044    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43249  S0UT00066    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43258  H0IN02125    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43259  H0PA12124    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43263  H8MI12062    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43291  H2FL22114    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43292  H4NE03037    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43301  S8MS00196    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43304  H4TX03064    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43309  H2CA49234    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43316  H2OR04079    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43324  H2AZ07161    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43337  H4TX07065    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43338  S4IL00362    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43341  H4ID01073    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43348  H0OH02071    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43352  S4CO00197    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43353  H4CA48059    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43354  H4CO03167    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43359  S0CO00211    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43388  H4MD06175    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43403  H8FL00026    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
43407  H4AZ05047    NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN

       c13  total
30254  NaN    NaN
30258  NaN    NaN
30272  NaN    NaN
30280  NaN    NaN
30288  NaN    NaN
30293  NaN    NaN
30297  NaN    NaN
30306  NaN    NaN
30309  NaN    NaN
30317  NaN    NaN
30320  NaN    NaN
30324  NaN    NaN
30351  NaN    NaN
30356  NaN    NaN
30363  NaN    NaN
30364  NaN    NaN
30368  NaN    NaN
30384  NaN    NaN
30386  NaN    NaN
30389  NaN    NaN
30394  NaN    NaN
30396  NaN    NaN
30408  NaN    NaN
30414  NaN    NaN
30422  NaN    NaN
30435  NaN    NaN
30439  NaN    NaN
30452  NaN    NaN
30455  NaN    NaN
30460  NaN    NaN
...    ...    ...
43183  NaN    NaN
43186  NaN    NaN
43195  NaN    NaN
43203  NaN    NaN
43205  NaN    NaN
43210  NaN    NaN
43232  NaN    NaN
43244  NaN    NaN
43249  NaN    NaN
43258  NaN    NaN
43259  NaN    NaN
43263  NaN    NaN
43291  NaN    NaN
43292  NaN    NaN
43301  NaN    NaN
43304  NaN    NaN
43309  NaN    NaN
43316  NaN    NaN
43324  NaN    NaN
43337  NaN    NaN
43338  NaN    NaN
43341  NaN    NaN
43348  NaN    NaN
43352  NaN    NaN
43353  NaN    NaN
43354  NaN    NaN
43359  NaN    NaN
43388  NaN    NaN
43403  NaN    NaN
43407  NaN    NaN

[1319 rows x 16 columns]

In [11]:
catsort = catsort[pd.notnull(catsort['cycle'])]

In [12]:
catsort['cycle'] = catsort['cycle'].astype(int).astype('str')

In [13]:
catsort.head()

,cand_id,cycle,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,total
0,H6FL19038,2006,281886.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,H2NY17071,2004,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H8TX27023,2008,12900.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,H8OH18088,2012,30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,H0SC01071,2008,83183.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
exp['cycle']=pd.to_numeric(exp['cycle'],errors='coerce')

In [15]:
print(exp[pd.to_numeric(exp['cycle'], errors = 'coerce').isnull()])

       state_abbreviation district incumbent party  primary_votes  \
187                    CA        4       (I)   REP        63731.0
188                    CA        4       (I)     R       105015.0
264                    CA       45       NaN     R         8422.0
282                    CA       48       NaN     D        39385.0
283                    CA       48       NaN     D        39385.0
284                    CA       49       (I)     R        56558.0
285                    CA       49       (I)     R        71329.0
286                    CA       49       (I)   REP        60447.0
287                    CA       49       (I)     R        41369.0
288                    CA       49       (I)   REP        47693.0
289                    CA       49       (I)     R        66710.0
1063                   ID        1       (I)     R        48986.0
1064                   ID        1       (I)     R        48986.0
1081                   ID        1       (I)     R        48986.0
1382                   LA        2       (I)     D        17506.0
1383                   LA        2       (I)   DEM            NaN
1384                   LA        2       (I)     D            NaN
1775                   MN        7       NaN   IDP         2242.0
1776                   MN        7       NaN     R         7698.0
2029                   MO        7       NaN   DEM         4370.0
2030                   MO        7       NaN     D         3743.0
2031                   MT        0       (I)   REP        96796.0
2032                   MT        0       (I)     R        90492.0
2033                   MT        0       (I)   REP        91836.0
2034                   MT        0       (I)     R       107309.0
2152                   NV        3       (I)     R        21955.0
2153                   NV        3       (I)   REP            0.0
2154                   NV        3       (I)     R            0.0
2155                   NV        3       (I)     R        21955.0
2156                   NV        3       (I)   REP            0.0
...                   ...      ...       ...   ...            ...
458501                 ID        S       NaN     R         2082.0
458502                 OH        S       NaN     W            NaN
458503                 NC        9       NaN   LBT            NaN
458504                 NV        1       NaN     R         1137.0
458505                 CO        4       NaN    UN            NaN
458506                 TX        3       NaN     R         2357.0
458507                 AK        S       NaN     D         1080.0
458508                 TX       24       NaN   LBT            NaN
458509                 CA       52       NaN   LBT          486.0
458510                 NV        4       NaN   IAP            NaN
458511                 NV        3       NaN   IAP            NaN
458512                 OK        S       NaN     R         3800.0
458513                 RI        2       NaN     W            NaN
458514                 MN        4       NaN   DFL         3212.0
458515                 MN        4       NaN   DFL         8622.0
458516                 SC        1       NaN   IDP            NaN
458517                 CA       49       NaN   LIB          395.0
458518                 AZ        7       NaN   REP         2737.0
458519                 TX       17       NaN   LIB            NaN
458520                 TX       31       NaN   LIB            NaN
458521                 NV        S       NaN   LBT            NaN
458522                 NJ        S       NaN     R        19238.0
458523                 HI        1       NaN     R          799.0
458524                 HI        1       NaN   REP          397.0
458525                 HI        1       NaN   LBT          295.0
458526                 NJ       13       NaN   PLC            NaN
458527                 NJ       13       NaN   PLC            NaN
458528                 OR        S       NaN     R        15838.0
458529                 NJ       13       NaN   PLC            NaN
458530                 MD        8       NaN   CON            NaN

        runoff_votes  general_votes  ge_runoff_election_votes  \
187              NaN       135818.0                       NaN
188              NaN       221926.0                       NaN
264              NaN            NaN                       NaN
282              NaN        93525.0                       NaN
283              NaN        93525.0                       NaN
284              NaN        98161.0                       NaN
285              NaN       159725.0                       NaN
286              NaN       119088.0                       NaN
287              NaN       140300.0                       NaN
288              NaN        98831.0                       NaN
289              NaN       141658.0                       NaN
1063             NaN       207662.0                       NaN
1064             NaN       207662.0                       NaN
1081             NaN       207662.0                       NaN
1382         92921.0        31318.0                       NaN
1383             NaN        28283.0                   35153.0
1384             NaN       173510.0                       NaN
1775             NaN         7839.0                       NaN
1776             NaN        87062.0                       NaN
2029             NaN            NaN                       NaN
2030             NaN            NaN                       NaN
2031             NaN       217696.0                       NaN
2032             NaN       308470.0                       NaN
2033             NaN       239124.0                       NaN
2034             NaN       286076.0                       NaN
2152             NaN       147940.0                       NaN
2153             NaN       102232.0                       NaN
2154             NaN       162240.0                       NaN
2155             NaN       147940.0                       NaN
2156             NaN       102232.0                       NaN
...              ...            ...                       ...
458501           NaN            NaN                       NaN
458502           NaN          296.0                       NaN
458503           NaN         6711.0                       NaN
458504           NaN            NaN                       NaN
458505           NaN         3986.0                       NaN
458506           NaN            NaN                       NaN
458507           NaN            NaN                       NaN
458508           NaN         4340.0                       NaN
458509           NaN         6465.0                       NaN
458510           NaN         9389.0                       NaN
458511           NaN         6937.0                       NaN
458512           NaN            NaN                       NaN
458513           NaN            6.0                       NaN
458514           NaN            NaN                       NaN
458515           NaN            NaN                       NaN
458516           NaN         2489.0                       NaN
458517           NaN         4290.0                       NaN
458518           NaN            NaN                       NaN
458519           NaN            NaN                       NaN
458520           NaN        26735.0                       NaN
458521           NaN         5269.0                       NaN
458522           NaN            NaN                       NaN
458523           NaN            NaN                       NaN
458524           NaN            NaN                       NaN
458525           NaN            NaN                       NaN
458526           NaN         2592.0                       NaN
458527           NaN          586.0                       NaN
458528           NaN            NaN                       NaN
458529           NaN         1282.0                       NaN
458530           NaN          696.0                       NaN

       ge_winner_indicator  total_votes    cand_id    cmte_id  exp_sum  \
187                      W       199549  H0CA14042  C00393181      NaN
188                      W       326941  H0CA14042  C00393181      NaN
264                    NaN         8422  H0CA44122  C00396457      NaN
282                    NaN       132910  H0CA47034  C00404889      NaN
283                    NaN       132910  H0CA47034  C00349597      NaN
284                      W       154719  H0CA48024  C00393181      NaN
285                      W       231054  H0CA48024  C00393181      NaN
286                      W       179535  H0CA48024  C00393181      NaN
287                      W       181669  H0CA48024  C00393181      NaN
288                      W       146524  H0CA48024  C00393181      NaN
289                      W       208368  H0CA48024  C00393181      NaN
1063                     W       256648  H0ID01139  C00393181      NaN
1064                     W       256648  H0ID01139  C00381319      NaN
1081                     W       256648  H0ID01139  C00404814      NaN
1382                   NaN       141745  H0LA02119  C00247734      NaN
1383                     W        63436  H0LA02119  C00247734      NaN
1384                     W       173510  H0LA02119  C00247734      NaN
1775                   NaN        10081  H0MN07034  C00355537      NaN
1776                   NaN        94760  H0MN07034  C00355537      NaN
2029                   NaN         4370  H0MO07097  C00379339      NaN
2030                   NaN         3743  H0MO07097  C00379339      NaN
2031                     W       314492  H0MT00033  C00393181      NaN
2032                     W       398962  H0MT00033  C00393181      NaN
2033                     W       330960  H0MT00033  C00393181      NaN
2034                     W       393385  H0MT00033  C00393181      NaN
2152                   NaN       169895  H0NV01078  C00393181      NaN
2153                     W       102232  H0NV01078  C00393181      NaN
2154                     W       162240  H0NV01078  C00393181      NaN
2155                   NaN       169895  H0NV01078  C00350454      NaN
2156                     W       102232  H0NV01078  C00350454      NaN
...                    ...          ...        ...        ...      ...
458501                 NaN         2082        NaN        NaN      NaN
458502                 NaN          296        NaN        NaN      NaN
458503                 NaN         6711        NaN        NaN      NaN
458504                 NaN         1137        NaN        NaN      NaN
458505                 NaN         3986        NaN        NaN      NaN
458506                 NaN         2357        NaN        NaN      NaN
458507                 NaN         1080        NaN        NaN      NaN
458508                 NaN         4340        NaN        NaN      NaN
458509                 NaN         6951        NaN        NaN      NaN
458510                 NaN         9389        NaN        NaN      NaN
458511                 NaN         6937        NaN        NaN      NaN
458512                 NaN         3800        NaN        NaN      NaN
458513                 NaN            6        NaN        NaN      NaN
458514                 NaN         3212        NaN        NaN      NaN
458515                 NaN         8622        NaN        NaN      NaN
458516                 NaN         2489        NaN        NaN      NaN
458517                 NaN         4685        NaN        NaN      NaN
458518                 NaN         2737        NaN        NaN      NaN
458519                 NaN            0        NaN        NaN      NaN
458520                 NaN        26735        NaN        NaN      NaN
458521                 NaN         5269        NaN        NaN      NaN
458522                 NaN        19238        NaN        NaN      NaN
458523                 NaN          799        NaN        NaN      NaN
458524                 NaN          397        NaN        NaN      NaN
458525                 NaN          295        NaN        NaN      NaN
458526                 NaN         2592        NaN        NaN      NaN
458527                 NaN          586        NaN        NaN      NaN
458528                 NaN        15838        NaN        NaN      NaN
458529                 NaN         1282        NaN        NaN      NaN
458530                 NaN          696        NaN        NaN      NaN

       category  cycle
187         NaN    NaN
188         NaN    NaN
264         NaN    NaN
282         NaN    NaN
283         NaN    NaN
284         NaN    NaN
285         NaN    NaN
286         NaN    NaN
287         NaN    NaN
288         NaN    NaN
289         NaN    NaN
1063        NaN    NaN
1064        NaN    NaN
1081        NaN    NaN
1382        NaN    NaN
1383        NaN    NaN
1384        NaN    NaN
1775        NaN    NaN
1776        NaN    NaN
2029        NaN    NaN
2030        NaN    NaN
2031        NaN    NaN
2032        NaN    NaN
2033        NaN    NaN
2034        NaN    NaN
2152        NaN    NaN
2153        NaN    NaN
2154        NaN    NaN
2155        NaN    NaN
2156        NaN    NaN
...         ...    ...
458501      NaN    NaN
458502      NaN    NaN
458503      NaN    NaN
458504      NaN    NaN
458505      NaN    NaN
458506      NaN    NaN
458507      NaN    NaN
458508      NaN    NaN
458509      NaN    NaN
458510      NaN    NaN
458511      NaN    NaN
458512      NaN    NaN
458513      NaN    NaN
458514      NaN    NaN
458515      NaN    NaN
458516      NaN    NaN
458517      NaN    NaN
458518      NaN    NaN
458519      NaN    NaN
458520      NaN    NaN
458521      NaN    NaN
458522      NaN    NaN
458523      NaN    NaN
458524      NaN    NaN
458525      NaN    NaN
458526      NaN    NaN
458527      NaN    NaN
458528      NaN    NaN
458529      NaN    NaN
458530      NaN    NaN

[20997 rows x 15 columns]

In [16]:
exp = exp[pd.notnull(exp['cycle'])]

In [17]:
exp['cycle'] = exp['cycle'].astype(int).astype('str')

In [18]:
exp.head()

,state_abbreviation,district,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes,cand_id,cmte_id,exp_sum,category,cycle
0,AL,7,(I),D,0.0,NaN,228518.0,NaN,W,228518,H0AL07060,C00347872,1363.96,NaN,2012
1,AL,7,(I),DEM,93586.0,NaN,133870.0,NaN,W,227456,H0AL07060,C00347872,1363.96,NaN,2012
2,AL,7,(I),D,58193.0,NaN,183408.0,NaN,W,241601,H0AL07060,C00347872,1363.96,NaN,2012
3,AL,7,(I),D,0.0,NaN,228518.0,NaN,W,228518,H0AL07060,C00347872,1204248.81,NaN,2010
4,AL,7,(I),DEM,93586.0,NaN,133870.0,NaN,W,227456,H0AL07060,C00347872,1204248.81,NaN,2010

In [19]:
catsort.head()

,cand_id,cycle,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,total
0,H6FL19038,2006,281886.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,H2NY17071,2004,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H8TX27023,2008,12900.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,H8OH18088,2012,30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,H0SC01071,2008,83183.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
#catsort['cycle']=catsort['cycle'].astype('str')

In [21]:
print(catsort.dtypes)

cand_id     object
cycle       object
c1         float64
c2         float64
c3         float64
c4         float64
c5         float64
c6         float64
c7         float64
c8         float64
c9         float64
c10        float64
c11        float64
c12        float64
c13        float64
total      float64
dtype: object

In [22]:
cs1 = catsort

In [23]:
cs1 = cs1.drop(['c2','c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis=1)

In [24]:
cs1.head()

     cand_id cycle         c1
0  H6FL19038  2006  281886.64
1  H2NY17071  2004    4500.00
2  H8TX27023  2008   12900.00
3  H8OH18088  2012      30.00
4  H0SC01071  2008   83183.76

In [25]:
cs1.set_index(['cand_id','cycle'], inplace=True)

In [26]:
print(cs1)

                         c1
cand_id   cycle
H6FL19038 2006    281886.64
H2NY17071 2004      4500.00
H8TX27023 2008     12900.00
H8OH18088 2012        30.00
H0SC01071 2008     83183.76
S0CA00199 2010     65563.32
S0MI00056 2014     49863.62
H2GA12113 2012    162924.41
H8NJ03156 2010     48652.69
H6AZ08020 2006     21606.11
H4WV03070 2014      2826.00
H4WI04191 2006       966.06
H8VA10072 2008      4602.00
H2MA01202 2012     13388.58
H6WV03083 2006      1652.00
H8WY00148 2012     68895.65
H8WI01024 2014    356582.98
H6TX09033 2004   1143785.48
H0IN07157 2012     28824.84
H2MI11042 2014      1938.75
H0FL12150 2010     11395.96
H8AL05109 2012     10019.08
H8VA11039 2010      6902.86
H2MN08103 2012     22125.35
H4TX19136 2012      4743.92
S2CA00286 2006       595.15
H0WI07051 2012      1965.96
H0NY02085 2010   1625923.74
H4TN06051 2008     86814.26
H8CA37137 2012    390071.78
...                     ...
H0MA06072 2012          NaN
H0AZ01267 2012          NaN
S4SC00083 2006          NaN
H6TX09033 2004          NaN
S8NM00184 2014          NaN
H6OH15104 2014          NaN
H2TX21094 2012          NaN
S8ID00027 2010          NaN
H4PA08074 2006          NaN
S0NY00410 2012          NaN
S0NH00219 2008          NaN
H4TX09095 2008          NaN
H6HI02301 2006          NaN
S2MO00353 2006          NaN
H8OH01043 2008          NaN
H0NY27066 2010          NaN
H2AL05094 2014          NaN
H0KY03226 2010          NaN
H8NC11061 2012          NaN
H6CA27272 2006          NaN
H2ND00057 2008          NaN
S2GA00118 2008          NaN
S6MO00297 2010          NaN
H8AZ05071 2008          NaN
H2AZ07070 2014          NaN
H2GA05133 2012          NaN
H8OH05044 2004          NaN
H0WA02098 2012          NaN
H0WV01072 2014          NaN
S0AR00069 2014          NaN

[42090 rows x 1 columns]

In [27]:
cs1.head()

                        c1
cand_id   cycle
H6FL19038 2006   281886.64
H2NY17071 2004     4500.00
H8TX27023 2008    12900.00
H8OH18088 2012       30.00
H0SC01071 2008    83183.76

In [28]:
#test
cs1.loc["H0SC01071", '2006']

/Users/adammorris/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  from ipykernel import kernelapp as app

                       c1
cand_id   cycle
H0SC01071 2006   34484.85
          2006        NaN
          2006        NaN
          2006        NaN
          2006        NaN
          2006        NaN
          2006        NaN

In [29]:
agg_df = cs1.sum(level=['cand_id','cycle'])
print(agg_df)

                        c1
cand_id   cycle
H0AK00089 2010      550.00
          2012         NaN
H0AK01038 2010     1569.23
H0AL00016 2010    19831.34
H0AL01030 2010     7054.34
          2012     3480.00
H0AL02087 2010         NaN
          2012    11727.82
          2014    12132.25
H0AL02103 2010     2197.40
H0AL02111 2010     4897.58
H0AL03184 2010       14.95
H0AL05049 2004         NaN
          2006         NaN
          2008         NaN
          2010     5818.75
          2012    11016.15
          2014     4592.00
H0AL05155 2010    56555.95
          2012         NaN
H0AL05163 2010    54616.04
          2012    54178.00
          2014    15420.65
H0AL05171 2010     8174.82
H0AL05189 2010     1082.20
H0AL05197 2010         NaN
          2012         NaN
H0AL07060 2004         NaN
          2006         NaN
          2008         NaN
...                    ...
S8TN00246 2008         NaN
S8TX00202 2008         NaN
          2010         NaN
S8TX00228 2008         NaN
S8VA00214 2004     1500.00
          2006      747.99
          2008      250.00
          2012   116540.57
          2014         NaN
S8VA00255 2008         NaN
          2010         NaN
S8VA00263 2008         NaN
          2012         NaN
          2014         NaN
S8WA00194 2006         NaN
          2008         NaN
          2010         NaN
          2012         NaN
          2014         NaN
S8WI00026 2006         NaN
          2008         NaN
          2010         NaN
          2012         NaN
          2014         NaN
S8WI00158 2012     2377.63
          2014         NaN
S8WV00093 2008         NaN
S8WV00101 2010     2318.01
S8WY00163 2008         NaN
S8WY00171 2008         NaN

[10765 rows x 1 columns]

In [30]:
#test
agg_df.loc['H0SC01071','2006']

c1    34484.85
Name: (H0SC01071, 2006), dtype: float64

In [31]:
#cs1 = cs1[pd.notnull(cs1['c1'])]

In [32]:
#cs1 = cs1.drop_duplicates()

In [33]:
#cs1.groupby(['cand_id','cycle'])['c1'].sum()

In [34]:
cs2 = catsort

In [35]:
cs2 = cs2.drop(['c1','c3','c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis =1)

In [36]:
cs2.set_index(['cand_id','cycle'], inplace=True)

In [37]:
print(cs2)

                 c2
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN
S0CA00199 2010  NaN
S0MI00056 2014  NaN
H2GA12113 2012  NaN
H8NJ03156 2010  NaN
H6AZ08020 2006  NaN
H4WV03070 2014  NaN
H4WI04191 2006  NaN
H8VA10072 2008  NaN
H2MA01202 2012  NaN
H6WV03083 2006  NaN
H8WY00148 2012  NaN
H8WI01024 2014  NaN
H6TX09033 2004  NaN
H0IN07157 2012  NaN
H2MI11042 2014  NaN
H0FL12150 2010  NaN
H8AL05109 2012  NaN
H8VA11039 2010  NaN
H2MN08103 2012  NaN
H4TX19136 2012  NaN
S2CA00286 2006  NaN
H0WI07051 2012  NaN
H0NY02085 2010  NaN
H4TN06051 2008  NaN
H8CA37137 2012  NaN
...              ..
H0MA06072 2012  NaN
H0AZ01267 2012  NaN
S4SC00083 2006  NaN
H6TX09033 2004  NaN
S8NM00184 2014  NaN
H6OH15104 2014  NaN
H2TX21094 2012  NaN
S8ID00027 2010  NaN
H4PA08074 2006  NaN
S0NY00410 2012  NaN
S0NH00219 2008  NaN
H4TX09095 2008  NaN
H6HI02301 2006  NaN
S2MO00353 2006  NaN
H8OH01043 2008  NaN
H0NY27066 2010  NaN
H2AL05094 2014  NaN
H0KY03226 2010  NaN
H8NC11061 2012  NaN
H6CA27272 2006  NaN
H2ND00057 2008  NaN
S2GA00118 2008  NaN
S6MO00297 2010  NaN
H8AZ05071 2008  NaN
H2AZ07070 2014  NaN
H2GA05133 2012  NaN
H8OH05044 2004  NaN
H0WA02098 2012  NaN
H0WV01072 2014  NaN
S0AR00069 2014  NaN

[42090 rows x 1 columns]

In [38]:
#cs2 = catsort

In [39]:
cs2.head()

                 c2
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN

In [40]:
#cs2 = cs2[pd.notnull(cs2['c2'])]

In [41]:
#test
cs2.loc["H2NY17071", '2004']

/Users/adammorris/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  from ipykernel import kernelapp as app

                       c2
cand_id   cycle
H2NY17071 2004        NaN
          2004        NaN
          2004   12621.75
          2004        NaN
          2004        NaN
          2004        NaN
          2004        NaN
          2004        NaN
          2004        NaN
          2004        NaN
          2004        NaN

In [42]:
agg_df = cs2.sum(level=['cand_id','cycle'])
print(agg_df)

                       c2
cand_id   cycle
H0AK00089 2010        NaN
          2012        NaN
H0AK01038 2010      88.93
H0AL00016 2010     909.80
H0AL01030 2010    5233.32
          2012      27.72
H0AL02087 2010        NaN
          2012        NaN
          2014        NaN
H0AL02103 2010        NaN
H0AL02111 2010        NaN
H0AL03184 2010    1441.91
H0AL05049 2004        NaN
          2006        NaN
          2008        NaN
          2010        NaN
          2012        NaN
          2014        NaN
H0AL05155 2010   15549.94
          2012        NaN
H0AL05163 2010    2343.79
          2012    8154.95
          2014    8540.32
H0AL05171 2010        NaN
H0AL05189 2010        NaN
H0AL05197 2010        NaN
          2012        NaN
H0AL07060 2004        NaN
          2006        NaN
          2008        NaN
...                   ...
S8TN00246 2008        NaN
S8TX00202 2008        NaN
          2010        NaN
S8TX00228 2008        NaN
S8VA00214 2004        NaN
          2006        NaN
          2008        NaN
          2012        NaN
          2014        NaN
S8VA00255 2008        NaN
          2010        NaN
S8VA00263 2008        NaN
          2012        NaN
          2014        NaN
S8WA00194 2006        NaN
          2008        NaN
          2010        NaN
          2012        NaN
          2014        NaN
S8WI00026 2006        NaN
          2008        NaN
          2010        NaN
          2012        NaN
          2014        NaN
S8WI00158 2012     475.00
          2014        NaN
S8WV00093 2008        NaN
S8WV00101 2010        NaN
S8WY00163 2008        NaN
S8WY00171 2008        NaN

[10765 rows x 1 columns]

In [43]:
#cs2.drop_duplicates()

In [44]:
#test
agg_df.loc['H0NC11118','2010']

c2    4715.72
Name: (H0NC11118, 2010), dtype: float64

In [45]:
cs2.head()

                 c2
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN

In [46]:
#test
agg_df.loc['H2NY17071','2004']

c2    12621.75
Name: (H2NY17071, 2004), dtype: float64

In [47]:
#cs2.groupby(['cand_id','cycle'])['c2'].sum()

In [48]:
cs3 = catsort

In [49]:
cs3 = cs3.drop(['c1', 'c2', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [50]:
#cs3 = cs3[pd.notnull(cs3['c3'])]

In [51]:
cs3.head()

     cand_id cycle  c3
0  H6FL19038  2006 NaN
1  H2NY17071  2004 NaN
2  H8TX27023  2008 NaN
3  H8OH18088  2012 NaN
4  H0SC01071  2008 NaN

In [52]:
cs3.set_index(['cand_id','cycle'], inplace=True)

In [53]:
#cs3.groupby(['cand_id','cycle'])['c3'].sum()

In [54]:
cs3.head()

                 c3
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN

In [55]:
#cs3 = cs3.drop_duplicates()

In [56]:
agg_df = cs3.sum(level=['cand_id','cycle'])
print(agg_df)

                        c3
cand_id   cycle
H0AK00089 2010         NaN
          2012         NaN
H0AK01038 2010         NaN
H0AL00016 2010       81.19
H0AL01030 2010      668.95
          2012      381.09
H0AL02087 2010         NaN
          2012    16964.09
          2014    16866.78
H0AL02103 2010         NaN
H0AL02111 2010      484.62
H0AL03184 2010         NaN
H0AL05049 2004         NaN
          2006         NaN
          2008         NaN
          2010         NaN
          2012         NaN
          2014         NaN
H0AL05155 2010   266006.98
          2012     4745.35
H0AL05163 2010    71452.12
          2012   121673.90
          2014    91996.02
H0AL05171 2010         NaN
H0AL05189 2010         NaN
H0AL05197 2010         NaN
          2012         NaN
H0AL07060 2004         NaN
          2006         NaN
          2008         NaN
...                    ...
S8TN00246 2008         NaN
S8TX00202 2008         NaN
          2010         NaN
S8TX00228 2008         NaN
S8VA00214 2004     5112.83
          2006     6585.79
          2008         NaN
          2012    53277.88
          2014         NaN
S8VA00255 2008         NaN
          2010         NaN
S8VA00263 2008         NaN
          2012         NaN
          2014         NaN
S8WA00194 2006         NaN
          2008         NaN
          2010         NaN
          2012         NaN
          2014         NaN
S8WI00026 2006         NaN
          2008         NaN
          2010         NaN
          2012         NaN
          2014         NaN
S8WI00158 2012         NaN
          2014         NaN
S8WV00093 2008         NaN
S8WV00101 2010         NaN
S8WY00163 2008         NaN
S8WY00171 2008         NaN

[10765 rows x 1 columns]

In [57]:
#test
agg_df.loc['S8VA00214','2006']

c3    6585.79
Name: (S8VA00214, 2006), dtype: float64

In [58]:
cs4 = catsort

In [59]:
cs4 = cs4.drop(['c1', 'c2', 'c3', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [60]:
#cs4 = cs4[pd.notnull(cs4['c4'])]

In [61]:
#cs4.groupby(['cand_id','cycle'])['c4'].sum()

In [62]:
#cs4 = cs4.drop_duplicates()

In [63]:
cs4.set_index(['cand_id','cycle'], inplace=True)

In [64]:
cs4.head()

                 c4
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN

In [65]:
agg_df = cs4.sum(level=['cand_id','cycle'])
print(agg_df)

                        c4
cand_id   cycle
H0AK00089 2010         NaN
          2012         NaN
H0AK01038 2010         NaN
H0AL00016 2010      465.00
H0AL01030 2010    27082.28
          2012     7257.71
H0AL02087 2010         NaN
          2012         NaN
          2014         NaN
H0AL02103 2010         NaN
H0AL02111 2010     8403.45
H0AL03184 2010     5000.00
H0AL05049 2004         NaN
          2006         NaN
          2008         NaN
          2010         NaN
          2012         NaN
          2014         NaN
H0AL05155 2010    20809.92
          2012         NaN
H0AL05163 2010   547321.04
          2012   165131.27
          2014    81481.66
H0AL05171 2010    40231.96
H0AL05189 2010         NaN
H0AL05197 2010      595.35
          2012         NaN
H0AL07060 2004         NaN
          2006         NaN
          2008         NaN
...                    ...
S8TN00246 2008         NaN
S8TX00202 2008         NaN
          2010         NaN
S8TX00228 2008         NaN
S8VA00214 2004         NaN
          2006         NaN
          2008         NaN
          2012         NaN
          2014         NaN
S8VA00255 2008         NaN
          2010         NaN
S8VA00263 2008         NaN
          2012         NaN
          2014         NaN
S8WA00194 2006         NaN
          2008         NaN
          2010         NaN
          2012         NaN
          2014         NaN
S8WI00026 2006         NaN
          2008         NaN
          2010         NaN
          2012         NaN
          2014         NaN
S8WI00158 2012         NaN
          2014         NaN
S8WV00093 2008         NaN
S8WV00101 2010         NaN
S8WY00163 2008         NaN
S8WY00171 2008         NaN

[10765 rows x 1 columns]

In [66]:
cs5 = catsort

In [67]:
cs5 = cs5.drop(['c1', 'c2', 'c3', 'c4', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [68]:
#cs5 = cs5[pd.notnull(cs5['c5'])]

In [69]:
#cs5.groupby(['cand_id','cycle'])['c5'].sum()

In [70]:
#cs5 = cs5.drop_duplicates()

In [71]:
cs5.set_index(['cand_id','cycle'], inplace=True)

In [72]:
cs5.head()

                 c5
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN

In [73]:
agg_df = cs5.sum(level=['cand_id','cycle'])
print(agg_df)

                      c5
cand_id   cycle
H0AK00089 2010       NaN
          2012       NaN
H0AK01038 2010       NaN
H0AL00016 2010       NaN
H0AL01030 2010    1175.0
          2012       NaN
H0AL02087 2010       NaN
          2012       NaN
          2014       NaN
H0AL02103 2010       NaN
H0AL02111 2010       NaN
H0AL03184 2010       NaN
H0AL05049 2004       NaN
          2006       NaN
          2008       NaN
          2010       NaN
          2012       NaN
          2014       NaN
H0AL05155 2010       NaN
          2012       NaN
H0AL05163 2010   27000.0
          2012   17000.0
          2014   15000.0
H0AL05171 2010       NaN
H0AL05189 2010       NaN
H0AL05197 2010       NaN
          2012       NaN
H0AL07060 2004       NaN
          2006       NaN
          2008       NaN
...                  ...
S8TN00246 2008       NaN
S8TX00202 2008       NaN
          2010       NaN
S8TX00228 2008       NaN
S8VA00214 2004       NaN
          2006       NaN
          2008       NaN
          2012       NaN
          2014       NaN
S8VA00255 2008       NaN
          2010       NaN
S8VA00263 2008       NaN
          2012       NaN
          2014       NaN
S8WA00194 2006       NaN
          2008       NaN
          2010       NaN
          2012       NaN
          2014       NaN
S8WI00026 2006       NaN
          2008       NaN
          2010       NaN
          2012       NaN
          2014       NaN
S8WI00158 2012       NaN
          2014       NaN
S8WV00093 2008       NaN
S8WV00101 2010       NaN
S8WY00163 2008       NaN
S8WY00171 2008       NaN

[10765 rows x 1 columns]

In [74]:
#test
agg_df.loc['H0CA02138','2010']

c5    16750.0
Name: (H0CA02138, 2010), dtype: float64

In [75]:
cs5.head()

                 c5
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN

In [76]:
cs6 = catsort

In [77]:
cs6 = cs6.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [78]:
#cs6 = cs6[pd.notnull(cs6['c6'])]

In [79]:
#cs6.groupby(['cand_id','cycle'])['c6'].sum()

In [80]:
#cs6 = cs6.drop_duplicates()

In [81]:
cs6.set_index(['cand_id','cycle'], inplace=True)

In [82]:
cs6.head()

                 c6
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN

In [83]:
agg_df = cs6.sum(level=['cand_id','cycle'])
print(agg_df)

                       c6
cand_id   cycle
H0AK00089 2010     785.00
          2012        NaN
H0AK01038 2010        NaN
H0AL00016 2010    3177.55
H0AL01030 2010    1295.21
          2012        NaN
H0AL02087 2010        NaN
          2012        NaN
          2014        NaN
H0AL02103 2010        NaN
H0AL02111 2010    7489.74
H0AL03184 2010    2293.50
H0AL05049 2004        NaN
          2006        NaN
          2008        NaN
          2010        NaN
          2012        NaN
          2014        NaN
H0AL05155 2010        NaN
          2012        NaN
H0AL05163 2010   66857.04
          2012   16138.18
          2014   11833.66
H0AL05171 2010    5993.05
H0AL05189 2010        NaN
H0AL05197 2010        NaN
          2012        NaN
H0AL07060 2004        NaN
          2006        NaN
          2008        NaN
...                   ...
S8TN00246 2008        NaN
S8TX00202 2008        NaN
          2010        NaN
S8TX00228 2008        NaN
S8VA00214 2004        NaN
          2006        NaN
          2008        NaN
          2012        NaN
          2014        NaN
S8VA00255 2008        NaN
          2010        NaN
S8VA00263 2008        NaN
          2012        NaN
          2014        NaN
S8WA00194 2006        NaN
          2008        NaN
          2010        NaN
          2012        NaN
          2014        NaN
S8WI00026 2006        NaN
          2008        NaN
          2010        NaN
          2012        NaN
          2014        NaN
S8WI00158 2012        NaN
          2014        NaN
S8WV00093 2008        NaN
S8WV00101 2010        NaN
S8WY00163 2008        NaN
S8WY00171 2008        NaN

[10765 rows x 1 columns]

In [84]:
cs6.head()

                 c6
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN

In [85]:
#test
agg_df.loc['H0AR01109','2010']

c6    6671.16
Name: (H0AR01109, 2010), dtype: float64

In [86]:
cs7 = catsort

In [87]:
cs7 = cs7.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [88]:
#cs7 = cs7[pd.notnull(cs7['c7'])]

In [89]:
#cs7.groupby(['cand_id','cycle'])['c7'].sum()

In [90]:
#cs7 = cs7.drop_duplicates()

In [91]:
cs7.set_index(['cand_id','cycle'], inplace=True)

In [92]:
cs7.head()

                 c7
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN

In [93]:
agg_df = cs7.sum(level=['cand_id','cycle'])
print(agg_df)

                       c7
cand_id   cycle
H0AK00089 2010        NaN
          2012        NaN
H0AK01038 2010        NaN
H0AL00016 2010    2192.99
H0AL01030 2010     583.75
          2012      56.58
H0AL02087 2010        NaN
          2012        NaN
          2014        NaN
H0AL02103 2010        NaN
H0AL02111 2010        NaN
H0AL03184 2010        NaN
H0AL05049 2004        NaN
          2006        NaN
          2008        NaN
          2010        NaN
          2012        NaN
          2014        NaN
H0AL05155 2010   47101.73
          2012        NaN
H0AL05163 2010    9362.66
          2012    9083.92
          2014    2350.00
H0AL05171 2010        NaN
H0AL05189 2010     205.00
H0AL05197 2010        NaN
          2012        NaN
H0AL07060 2004        NaN
          2006        NaN
          2008        NaN
...                   ...
S8TN00246 2008        NaN
S8TX00202 2008        NaN
          2010        NaN
S8TX00228 2008        NaN
S8VA00214 2004        NaN
          2006        NaN
          2008        NaN
          2012    1516.16
          2014        NaN
S8VA00255 2008        NaN
          2010        NaN
S8VA00263 2008        NaN
          2012        NaN
          2014        NaN
S8WA00194 2006        NaN
          2008        NaN
          2010        NaN
          2012        NaN
          2014        NaN
S8WI00026 2006        NaN
          2008        NaN
          2010        NaN
          2012        NaN
          2014        NaN
S8WI00158 2012        NaN
          2014        NaN
S8WV00093 2008        NaN
S8WV00101 2010      86.42
S8WY00163 2008        NaN
S8WY00171 2008        NaN

[10765 rows x 1 columns]

In [94]:
#test
agg_df.loc['H0AL02087','2010']

c7   NaN
Name: (H0AL02087, 2010), dtype: float64

In [95]:
cs8 = catsort

In [96]:
cs8 = cs8.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [97]:
#cs8 = cs8[pd.notnull(cs8['c8'])]

In [98]:
#cs8.groupby(['cand_id','cycle'])['c8'].sum()

In [99]:
#cs8 = cs8.drop_duplicates()

In [100]:
cs8.head()

     cand_id cycle  c8
0  H6FL19038  2006 NaN
1  H2NY17071  2004 NaN
2  H8TX27023  2008 NaN
3  H8OH18088  2012 NaN
4  H0SC01071  2008 NaN

In [101]:
cs8.set_index(['cand_id','cycle'], inplace=True)

In [102]:
cs8.head()

                 c8
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN

In [103]:
agg_df = cs8.sum(level=['cand_id','cycle'])
print(agg_df)

                    c8
cand_id   cycle
H0AK00089 2010     NaN
          2012     NaN
H0AK01038 2010     NaN
H0AL00016 2010     NaN
H0AL01030 2010     NaN
          2012     NaN
H0AL02087 2010     NaN
          2012     NaN
          2014     NaN
H0AL02103 2010     NaN
H0AL02111 2010     NaN
H0AL03184 2010     NaN
H0AL05049 2004     NaN
          2006     NaN
          2008     NaN
          2010     NaN
          2012     NaN
          2014     NaN
H0AL05155 2010     NaN
          2012     NaN
H0AL05163 2010   249.0
          2012     NaN
          2014     NaN
H0AL05171 2010     NaN
H0AL05189 2010     NaN
H0AL05197 2010     NaN
          2012     NaN
H0AL07060 2004     NaN
          2006     NaN
          2008     NaN
...                ...
S8TN00246 2008     NaN
S8TX00202 2008     NaN
          2010     NaN
S8TX00228 2008     NaN
S8VA00214 2004     NaN
          2006     NaN
          2008     NaN
          2012     NaN
          2014     NaN
S8VA00255 2008     NaN
          2010     NaN
S8VA00263 2008     NaN
          2012     NaN
          2014     NaN
S8WA00194 2006     NaN
          2008     NaN
          2010     NaN
          2012     NaN
          2014     NaN
S8WI00026 2006     NaN
          2008     NaN
          2010     NaN
          2012     NaN
          2014     NaN
S8WI00158 2012     NaN
          2014     NaN
S8WV00093 2008     NaN
S8WV00101 2010     NaN
S8WY00163 2008     NaN
S8WY00171 2008     NaN

[10765 rows x 1 columns]

In [104]:
#test
agg_df.loc['S8WV00093','2008']

c8   NaN
Name: (S8WV00093, 2008), dtype: float64

In [105]:
cs9 = catsort

In [106]:
cs9 = cs9.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [107]:
#cs9 = cs9[pd.notnull(cs9['c9'])]

In [108]:
#cs9.groupby(['cand_id','cycle'])['c9'].sum()

In [109]:
#cs9 = cs9.drop_duplicates()

In [110]:
cs9.set_index(['cand_id','cycle'], inplace=True)

In [111]:
agg_df = cs9.sum(level=['cand_id','cycle'])
print(agg_df)

                 c9
cand_id   cycle
H0AK00089 2010  NaN
          2012  NaN
H0AK01038 2010  NaN
H0AL00016 2010  NaN
H0AL01030 2010  NaN
          2012  NaN
H0AL02087 2010  NaN
          2012  NaN
          2014  NaN
H0AL02103 2010  NaN
H0AL02111 2010  NaN
H0AL03184 2010  NaN
H0AL05049 2004  NaN
          2006  NaN
          2008  NaN
          2010  NaN
          2012  NaN
          2014  NaN
H0AL05155 2010  NaN
          2012  NaN
H0AL05163 2010  NaN
          2012  NaN
          2014  NaN
H0AL05171 2010  NaN
H0AL05189 2010  NaN
H0AL05197 2010  NaN
          2012  NaN
H0AL07060 2004  NaN
          2006  NaN
          2008  NaN
...              ..
S8TN00246 2008  NaN
S8TX00202 2008  NaN
          2010  NaN
S8TX00228 2008  NaN
S8VA00214 2004  NaN
          2006  NaN
          2008  NaN
          2012  NaN
          2014  NaN
S8VA00255 2008  NaN
          2010  NaN
S8VA00263 2008  NaN
          2012  NaN
          2014  NaN
S8WA00194 2006  NaN
          2008  NaN
          2010  NaN
          2012  NaN
          2014  NaN
S8WI00026 2006  NaN
          2008  NaN
          2010  NaN
          2012  NaN
          2014  NaN
S8WI00158 2012  NaN
          2014  NaN
S8WV00093 2008  NaN
S8WV00101 2010  NaN
S8WY00163 2008  NaN
S8WY00171 2008  NaN

[10765 rows x 1 columns]

In [112]:
cs9.head()

                 c9
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN

In [113]:
#test
agg_df.loc['H0AL05163','2010']

c9   NaN
Name: (H0AL05163, 2010), dtype: float64

In [114]:
cs10 = catsort

In [115]:
cs10 = cs10.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c11', 'c12', 'c13','total'], axis = 1)

In [116]:
#cs10 = cs10[pd.notnull(cs10['c10'])]

In [117]:
#cs10.groupby(['cand_id','cycle'])['c10'].sum()

In [118]:
#cs10 = cs10.drop_duplicates()

In [119]:
cs10.set_index(['cand_id','cycle'], inplace=True)

In [120]:
cs10.head()

                 c10
cand_id   cycle
H6FL19038 2006   NaN
H2NY17071 2004   NaN
H8TX27023 2008   NaN
H8OH18088 2012   NaN
H0SC01071 2008   NaN

In [121]:
agg_df = cs10.sum(level=['cand_id','cycle'])
print(agg_df)

                   c10
cand_id   cycle
H0AK00089 2010     NaN
          2012     NaN
H0AK01038 2010     NaN
H0AL00016 2010     NaN
H0AL01030 2010     NaN
          2012     NaN
H0AL02087 2010     NaN
          2012     NaN
          2014     NaN
H0AL02103 2010     NaN
H0AL02111 2010     NaN
H0AL03184 2010     NaN
H0AL05049 2004     NaN
          2006     NaN
          2008     NaN
          2010     NaN
          2012     NaN
          2014     NaN
H0AL05155 2010   610.0
          2012     NaN
H0AL05163 2010     NaN
          2012     NaN
          2014     NaN
H0AL05171 2010     NaN
H0AL05189 2010     NaN
H0AL05197 2010     NaN
          2012     NaN
H0AL07060 2004     NaN
          2006     NaN
          2008     NaN
...                ...
S8TN00246 2008     NaN
S8TX00202 2008     NaN
          2010     NaN
S8TX00228 2008     NaN
S8VA00214 2004     NaN
          2006     NaN
          2008     NaN
          2012     NaN
          2014     NaN
S8VA00255 2008     NaN
          2010     NaN
S8VA00263 2008     NaN
          2012     NaN
          2014     NaN
S8WA00194 2006     NaN
          2008     NaN
          2010     NaN
          2012     NaN
          2014     NaN
S8WI00026 2006     NaN
          2008     NaN
          2010     NaN
          2012     NaN
          2014     NaN
S8WI00158 2012     NaN
          2014     NaN
S8WV00093 2008     NaN
S8WV00101 2010     NaN
S8WY00163 2008     NaN
S8WY00171 2008     NaN

[10765 rows x 1 columns]

In [122]:
#test
agg_df.loc['H0AL05155','2010']

c10    610.0
Name: (H0AL05155, 2010), dtype: float64

In [123]:
cs11 = catsort

In [124]:
cs11 = cs11.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c12', 'c13','total'], axis = 1)

In [125]:
cs11.head()

     cand_id cycle  c11
0  H6FL19038  2006  NaN
1  H2NY17071  2004  NaN
2  H8TX27023  2008  NaN
3  H8OH18088  2012  NaN
4  H0SC01071  2008  NaN

In [126]:
#cs11 = cs11[pd.notnull(cs11['c11'])]

In [127]:
#cs11.groupby(['cand_id','cycle'])['c11'].sum()

In [128]:
#cs11 = cs11.drop_duplicates()

In [129]:
cs11.set_index(['cand_id','cycle'], inplace=True)

In [130]:
cs11.head()

                 c11
cand_id   cycle
H6FL19038 2006   NaN
H2NY17071 2004   NaN
H8TX27023 2008   NaN
H8OH18088 2012   NaN
H0SC01071 2008   NaN

In [131]:
agg_df = cs11.sum(level=['cand_id','cycle'])
print(agg_df)

                   c11
cand_id   cycle
H0AK00089 2010     NaN
          2012     NaN
H0AK01038 2010     NaN
H0AL00016 2010     NaN
H0AL01030 2010     NaN
          2012     NaN
H0AL02087 2010     NaN
          2012     NaN
          2014     NaN
H0AL02103 2010     NaN
H0AL02111 2010     NaN
H0AL03184 2010     NaN
H0AL05049 2004     NaN
          2006     NaN
          2008     NaN
          2010     NaN
          2012     NaN
          2014     NaN
H0AL05155 2010     NaN
          2012     NaN
H0AL05163 2010     NaN
          2012     NaN
          2014     NaN
H0AL05171 2010     NaN
H0AL05189 2010     NaN
H0AL05197 2010   500.0
          2012     NaN
H0AL07060 2004     NaN
          2006     NaN
          2008     NaN
...                ...
S8TN00246 2008     NaN
S8TX00202 2008     NaN
          2010     NaN
S8TX00228 2008     NaN
S8VA00214 2004     NaN
          2006     NaN
          2008     NaN
          2012     NaN
          2014     NaN
S8VA00255 2008     NaN
          2010     NaN
S8VA00263 2008     NaN
          2012     NaN
          2014     NaN
S8WA00194 2006     NaN
          2008     NaN
          2010     NaN
          2012     NaN
          2014     NaN
S8WI00026 2006     NaN
          2008     NaN
          2010     NaN
          2012     NaN
          2014     NaN
S8WI00158 2012     NaN
          2014     NaN
S8WV00093 2008     NaN
S8WV00101 2010     NaN
S8WY00163 2008     NaN
S8WY00171 2008     NaN

[10765 rows x 1 columns]

In [132]:
#test
agg_df.loc['H0AL05197','2010']

c11    500.0
Name: (H0AL05197, 2010), dtype: float64

In [133]:
cs12 = catsort

In [134]:
cs12 = cs12.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c13','total'], axis = 1)

In [135]:
cs12.head()

     cand_id cycle  c12
0  H6FL19038  2006  NaN
1  H2NY17071  2004  NaN
2  H8TX27023  2008  NaN
3  H8OH18088  2012  NaN
4  H0SC01071  2008  NaN

In [136]:
#cs12 = cs12[pd.notnull(cs12['c12'])]

In [137]:
#cs12.groupby(['cand_id','cycle'])['c12'].sum()

In [138]:
#cs12 = cs12.drop_duplicates()

In [139]:
cs12.set_index(['cand_id','cycle'], inplace=True)

In [140]:
cs12.head()

                 c12
cand_id   cycle
H6FL19038 2006   NaN
H2NY17071 2004   NaN
H8TX27023 2008   NaN
H8OH18088 2012   NaN
H0SC01071 2008   NaN

In [141]:
agg_df = cs12.sum(level=['cand_id','cycle'])
print(agg_df)

                    c12
cand_id   cycle
H0AK00089 2010      NaN
          2012      NaN
H0AK01038 2010      NaN
H0AL00016 2010    300.0
H0AL01030 2010      NaN
          2012      NaN
H0AL02087 2010      NaN
          2012      NaN
          2014      NaN
H0AL02103 2010      NaN
H0AL02111 2010      NaN
H0AL03184 2010      NaN
H0AL05049 2004      NaN
          2006      NaN
          2008      NaN
          2010      NaN
          2012    500.0
          2014   5000.0
H0AL05155 2010      NaN
          2012      NaN
H0AL05163 2010      NaN
          2012      NaN
          2014      NaN
H0AL05171 2010      NaN
H0AL05189 2010      NaN
H0AL05197 2010      NaN
          2012      NaN
H0AL07060 2004      NaN
          2006      NaN
          2008      NaN
...                 ...
S8TN00246 2008      NaN
S8TX00202 2008      NaN
          2010      NaN
S8TX00228 2008      NaN
S8VA00214 2004      NaN
          2006      NaN
          2008      NaN
          2012      NaN
          2014      NaN
S8VA00255 2008      NaN
          2010      NaN
S8VA00263 2008      NaN
          2012      NaN
          2014      NaN
S8WA00194 2006      NaN
          2008      NaN
          2010      NaN
          2012      NaN
          2014      NaN
S8WI00026 2006      NaN
          2008      NaN
          2010      NaN
          2012      NaN
          2014      NaN
S8WI00158 2012      NaN
          2014      NaN
S8WV00093 2008      NaN
S8WV00101 2010      NaN
S8WY00163 2008      NaN
S8WY00171 2008      NaN

[10765 rows x 1 columns]

In [142]:
#test
agg_df.loc['H0AL05049', '2012']

c12    500.0
Name: (H0AL05049, 2012), dtype: float64

In [143]:
cs13 = catsort

In [144]:
cs13 = cs13.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12','total'], axis = 1)

In [145]:
cs13.head()

     cand_id cycle  c13
0  H6FL19038  2006  NaN
1  H2NY17071  2004  NaN
2  H8TX27023  2008  NaN
3  H8OH18088  2012  NaN
4  H0SC01071  2008  NaN

In [146]:
#cs13 = cs13[pd.notnull(cs13['c13'])]

In [147]:
#cs13.groupby(['cand_id','cycle'])['c13'].sum()

In [148]:
#cs13 = cs13.drop_duplicates()

In [149]:
cs13.set_index(['cand_id','cycle'], inplace=True)

In [150]:
cs13.head()

                 c13
cand_id   cycle
H6FL19038 2006   NaN
H2NY17071 2004   NaN
H8TX27023 2008   NaN
H8OH18088 2012   NaN
H0SC01071 2008   NaN

In [151]:
agg_df = cs13.sum(level=['cand_id','cycle'])
print(agg_df)

                         c13
cand_id   cycle
H0AK00089 2010     218666.06
          2012       3766.93
H0AK01038 2010     168119.58
H0AL00016 2010           NaN
H0AL01030 2010       1284.15
          2012           NaN
H0AL02087 2010    1403415.39
          2012     666262.07
          2014     541474.45
H0AL02103 2010     127314.17
H0AL02111 2010           NaN
H0AL03184 2010           NaN
H0AL05049 2004     467848.90
          2006     332285.59
          2008     454202.00
          2010      10023.55
          2012        735.00
          2014           NaN
H0AL05155 2010     518734.69
          2012       9324.78
H0AL05163 2010       1626.96
          2012       2321.95
          2014        215.00
H0AL05171 2010      18926.36
H0AL05189 2010     370262.34
H0AL05197 2010     756375.70
          2012     161419.77
H0AL07060 2004    1004122.38
          2006     405922.39
          2008     579570.41
...                      ...
S8TN00246 2008     155202.00
S8TX00202 2008    4061842.00
          2010        723.00
S8TX00228 2008      14396.00
S8VA00214 2004     214384.60
          2006   15703582.53
          2008     181683.63
          2012   14194518.10
          2014      36146.13
S8VA00255 2008    2389603.15
          2010      22641.24
S8VA00263 2008      88847.00
          2012      58640.35
          2014       1067.95
S8WA00194 2006   14223069.42
          2008     899642.00
          2010     931331.42
          2012    8296449.12
          2014     893864.58
S8WI00026 2006    1605292.48
          2008    2327769.00
          2010   14982047.15
          2012    3918602.37
          2014    2470340.41
S8WI00158 2012    3505271.39
          2014      50779.77
S8WV00093 2008     107027.00
S8WV00101 2010           NaN
S8WY00163 2008      15796.00
S8WY00171 2008       6372.00

[10765 rows x 1 columns]

In [152]:
cs13.head()

                 c13
cand_id   cycle
H6FL19038 2006   NaN
H2NY17071 2004   NaN
H8TX27023 2008   NaN
H8OH18088 2012   NaN
H0SC01071 2008   NaN

In [153]:
#test
agg_df.loc['S8WY00163','2008']

c13    15796.0
Name: (S8WY00163, 2008), dtype: float64

In [154]:
pr = exp

In [155]:
pr.head()

,state_abbreviation,district,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes,cand_id,cmte_id,exp_sum,category,cycle
0,AL,7,(I),D,0.0,NaN,228518.0,NaN,W,228518,H0AL07060,C00347872,1363.96,NaN,2012
1,AL,7,(I),DEM,93586.0,NaN,133870.0,NaN,W,227456,H0AL07060,C00347872,1363.96,NaN,2012
2,AL,7,(I),D,58193.0,NaN,183408.0,NaN,W,241601,H0AL07060,C00347872,1363.96,NaN,2012
3,AL,7,(I),D,0.0,NaN,228518.0,NaN,W,228518,H0AL07060,C00347872,1204248.81,NaN,2010
4,AL,7,(I),DEM,93586.0,NaN,133870.0,NaN,W,227456,H0AL07060,C00347872,1204248.81,NaN,2010

In [156]:
pr = pr.drop(['cmte_id', 'exp_sum', 'category'], axis = 1)

In [157]:
#exp= exp[pd.notnull(cs12['c12'])]

In [158]:
pr.head()

,state_abbreviation,district,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes,cand_id,cycle
0,AL,7,(I),D,0.0,NaN,228518.0,NaN,W,228518,H0AL07060,2012
1,AL,7,(I),DEM,93586.0,NaN,133870.0,NaN,W,227456,H0AL07060,2012
2,AL,7,(I),D,58193.0,NaN,183408.0,NaN,W,241601,H0AL07060,2012
3,AL,7,(I),D,0.0,NaN,228518.0,NaN,W,228518,H0AL07060,2010
4,AL,7,(I),DEM,93586.0,NaN,133870.0,NaN,W,227456,H0AL07060,2010

In [159]:
#cs10 = cs10.drop_duplicates()

In [160]:
pr.set_index(['cand_id','cycle'], inplace=True)

In [161]:
pr.head()

                state_abbreviation district incumbent party  primary_votes  \
cand_id   cycle
H0AL07060 2012                  AL        7       (I)     D            0.0
          2012                  AL        7       (I)   DEM        93586.0
          2012                  AL        7       (I)     D        58193.0
          2010                  AL        7       (I)     D            0.0
          2010                  AL        7       (I)   DEM        93586.0

                 runoff_votes  general_votes  ge_runoff_election_votes  \
cand_id   cycle
H0AL07060 2012            NaN       228518.0                       NaN
          2012            NaN       133870.0                       NaN
          2012            NaN       183408.0                       NaN
          2010            NaN       228518.0                       NaN
          2010            NaN       133870.0                       NaN

                ge_winner_indicator  total_votes
cand_id   cycle
H0AL07060 2012                    W       228518
          2012                    W       227456
          2012                    W       241601
          2010                    W       228518
          2010                    W       227456

In [162]:
pr['primary_votes'].fillna(0, inplace = True)

In [163]:
pr['runoff_votes'].fillna(0, inplace = True)

In [164]:
pr['ge_runoff_election_votes'].fillna(0, inplace = True)

In [165]:
pr['general_votes'].fillna(0, inplace = True)

In [166]:
pr.head()

                state_abbreviation district incumbent party  primary_votes  \
cand_id   cycle
H0AL07060 2012                  AL        7       (I)     D            0.0
          2012                  AL        7       (I)   DEM        93586.0
          2012                  AL        7       (I)     D        58193.0
          2010                  AL        7       (I)     D            0.0
          2010                  AL        7       (I)   DEM        93586.0

                 runoff_votes  general_votes  ge_runoff_election_votes  \
cand_id   cycle
H0AL07060 2012            0.0       228518.0                       0.0
          2012            0.0       133870.0                       0.0
          2012            0.0       183408.0                       0.0
          2010            0.0       228518.0                       0.0
          2010            0.0       133870.0                       0.0

                ge_winner_indicator  total_votes
cand_id   cycle
H0AL07060 2012                    W       228518
          2012                    W       227456
          2012                    W       241601
          2010                    W       228518
          2010                    W       227456

In [167]:
pr['primary_total'] = pr.primary_votes + pr.runoff_votes

In [168]:
pr.head()

                state_abbreviation district incumbent party  primary_votes  \
cand_id   cycle
H0AL07060 2012                  AL        7       (I)     D            0.0
          2012                  AL        7       (I)   DEM        93586.0
          2012                  AL        7       (I)     D        58193.0
          2010                  AL        7       (I)     D            0.0
          2010                  AL        7       (I)   DEM        93586.0

                 runoff_votes  general_votes  ge_runoff_election_votes  \
cand_id   cycle
H0AL07060 2012            0.0       228518.0                       0.0
          2012            0.0       133870.0                       0.0
          2012            0.0       183408.0                       0.0
          2010            0.0       228518.0                       0.0
          2010            0.0       133870.0                       0.0

                ge_winner_indicator  total_votes  primary_total
cand_id   cycle
H0AL07060 2012                    W       228518            0.0
          2012                    W       227456        93586.0
          2012                    W       241601        58193.0
          2010                    W       228518            0.0
          2010                    W       227456        93586.0

In [169]:
pr['general_total'] = pr.general_votes + pr.ge_runoff_election_votes

In [170]:
pr.head()

                state_abbreviation district incumbent party  primary_votes  \
cand_id   cycle
H0AL07060 2012                  AL        7       (I)     D            0.0
          2012                  AL        7       (I)   DEM        93586.0
          2012                  AL        7       (I)     D        58193.0
          2010                  AL        7       (I)     D            0.0
          2010                  AL        7       (I)   DEM        93586.0

                 runoff_votes  general_votes  ge_runoff_election_votes  \
cand_id   cycle
H0AL07060 2012            0.0       228518.0                       0.0
          2012            0.0       133870.0                       0.0
          2012            0.0       183408.0                       0.0
          2010            0.0       228518.0                       0.0
          2010            0.0       133870.0                       0.0

                ge_winner_indicator  total_votes  primary_total  general_total
cand_id   cycle
H0AL07060 2012                    W       228518            0.0       228518.0
          2012                    W       227456        93586.0       133870.0
          2012                    W       241601        58193.0       183408.0
          2010                    W       228518            0.0       228518.0
          2010                    W       227456        93586.0       133870.0

In [171]:
#pd.merge(pr,cs1, how = 'left', on = 'cand_id')

In [172]:
#RS1 = pr.join(cs1)

In [ ]:
#RS2 = RS1.join(cs2)

In [ ]:
#RS3 = RS2.join(cs3)

In [ ]:
#RS4 = RS3.join(cs4)

In [ ]:
cm1 = pd.merge(cs1, cs2, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs3, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs4, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs5, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs6, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs7, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs8, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs9, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs10, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs11, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs12, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = csm1.drop(['c13'], axis = 1)

In [ ]:
#csm1 = csm1.drop_duplicates()

In [ ]:
csm1.head(200)

In [ ]:
#cs12.groupby(['cand_id','cycle'])['c12'].sum()

In [ ]:
df.head()

In [ ]:
df = election_spend

In [ ]:
df.drop('id', axis=1, inplace=True)

In [ ]:
df.drop('cand_name', axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
df.count()

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.head(4)

In [ ]:
df.count()

In [ ]:
df.loc[:'H6FL19038']

In [ ]:
df = df[df.total_votes != 0]

In [ ]:
df.head()

In [ ]:
Expense = df[["cand_id","cand_ici","cycle","c1","c2","c3","c4","c5","c6","c7","c8","c9","c10","c11","c12","c13"]]

In [ ]:
Other = df[["cand_id","cand_pty_affiliation","cand_office_st","cand_office","cand_office_district","cand_ici","cycle","total_votes"]]

In [ ]:
Expense.head(10)

In [ ]:
Expense_Update = Expense.drop_duplicates()

In [ ]:
Expense_Update.head()

In [ ]:
results.head()

In [ ]:
df1 = results

In [ ]:
df1.fec_id.apply(str)

In [ ]:
df2 = df1[pd.notnull(df1['fec_id'])]

In [ ]:
df2.head(20)

In [ ]:
df2['incumbent']=df2['incumbent'].fillna(0)

In [ ]:
df2['primary_votes']=df2['primary_votes'].fillna(0)

In [ ]:
df2['runoff_votes']=df2['runoff_votes'].fillna(0)

In [ ]:
df2['general_votes']=df2['general_votes'].fillna(0)

In [ ]:
df2['ge_runoff_election_votes']=df2['ge_runoff_election_votes'].fillna(0)

In [ ]:
df2.head()

In [ ]:
df2['ge_winner_indicator']=df2['ge_winner_indicator'].fillna(0)

In [ ]:
df2.head(20)

In [ ]:
df3 = df2.replace("W",1)

In [ ]:
df3.head(20)

In [ ]:
df4 = df3.replace("(I)",1)

In [ ]:
df4.head(20)

In [ ]:
results_clean = df4.drop_duplicates()

In [ ]:
results_clean.count()

In [ ]:
results_clean.drop('ge_runoff_election_votes', axis=1, inplace=True)

In [ ]:
results_clean.drop('ge_winner_indicator', axis=1, inplace=True)

In [ ]:
results_clean.drop('blank', axis=1, inplace=True)

In [ ]:
results_clean.head(20)

In [ ]:
from pandas.tools.plotting import parallel_coordinates
parallel_coordinates(data, class_column='label')

In [ ]:
from sklearn.model_selection import train_test_split as tts 

X = data[[
    '??', '??', '??', '??', '??', '??', '??'
]]
y = data['label']

print(X.shape)
print(y.shape)

In [ ]:
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2)