# Data Analysis

# Notebook set-up

In [752]:
import os 
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
import io
import statistics as stat
import statsmodels.api as sm
from statsmodels.api import OLS

sns.set_style('whitegrid')
sns.set_context('notebook')

# Data loading

In [753]:
# Load the data into a dataframe 
#can_master = pd.read_csv('can-1996-2016.csv')
#cmte_master =pd.read_csv('cm-1996-2014.csv') 
#opex=pd.read_csv('opex-2004-2014.csv')
#oth=pd.read_csv('oth-1996-2014.csv')
#exp=pd.read_csv('expresults_rev.csv')
#election_spend=pd.read_csv('catall.csv')
#results = pd.read_csv('candr.csv')
#catsort= pd.read_csv('catsort_rev.csv')
cost_vote = pd.read_csv('combined_all.csv')

In [754]:
cost_vote.head()

,cand_id,cycle,c1,c2,c3,c4,c5,c6,c7,c8,...,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes,totalspend,costpervote
0,H0AK00089,2010,550.00,0.00,0.00,0.00,0.0,785.00,0.00,0.0,...,0,DEM,38673.0,0.0,77606.0,0.0,0,116279.0,220001.06,1.892010
1,H0AK01038,2010,1569.23,88.93,0.00,0.00,0.0,0.00,0.00,0.0,...,0,REP,24709.0,0.0,0.0,0.0,0,24709.0,169777.74,6.871089
2,H0AL00016,2010,19831.34,909.80,81.19,465.00,0.0,3177.55,2192.99,0.0,...,0,DEM,6672.0,0.0,0.0,0.0,0,6672.0,26957.87,4.040448
3,H0AL01030,2010,7054.34,5233.32,668.95,27082.28,1175.0,1295.21,583.75,0.0,...,0,REP,18725.0,0.0,0.0,0.0,0,18725.0,44377.00,2.369933
4,H0AL01030,2012,3480.00,27.72,381.09,7257.71,0.0,0.00,56.58,0.0,...,0,R,3854.0,0.0,0.0,0.0,0,3854.0,11203.10,2.906876

In [796]:
cost_vote.dtypes

cand_id                      object
cycle                         int64
c1                          float64
c2                          float64
c3                          float64
c4                          float64
c5                          float64
c6                          float64
c7                          float64
c8                          float64
c9                          float64
c10                         float64
c11                         float64
c12                         float64
c13                         float64
state_abbreviation           object
district                     object
incumbent                    object
party                        object
primary_votes               float64
runoff_votes                float64
general_votes               float64
ge_runoff_election_votes    float64
winner                       object
total_votes                 float64
totalspend                  float64
costvote                    float64
dtype: object

In [755]:
cost_vote['total_votes']=cost_vote['total_votes'].fillna(0)

In [756]:
cost_vote['totalspend']=cost_vote['totalspend'].fillna(0)

In [757]:
cost_vote['incumbent']=cost_vote['incumbent'].fillna(0)

In [758]:
cost_vote['party']=cost_vote['party'].fillna('None')

In [759]:
cost_vote = cost_vote.drop(['costpervote'], axis=1)

In [760]:
cost_vote['totalspend']=pd.to_numeric(cost_vote['totalspend'],errors='coerce')

In [761]:
print(cost_vote[pd.to_numeric(cost_vote['totalspend'], errors = 'coerce').isnull()])

Empty DataFrame
Columns: [cand_id, cycle, c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11, c12, c13, state_abbreviation, district, incumbent, party, primary_votes, runoff_votes, general_votes, ge_runoff_election_votes, ge_winner_indicator, total_votes, totalspend]
Index: []

[0 rows x 26 columns]

In [762]:
cost_vote['total_votes']=pd.to_numeric(cost_vote['total_votes'],errors='coerce')

In [763]:
print(cost_vote[pd.to_numeric(cost_vote['total_votes'], errors = 'coerce').isnull()])

Empty DataFrame
Columns: [cand_id, cycle, c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11, c12, c13, state_abbreviation, district, incumbent, party, primary_votes, runoff_votes, general_votes, ge_runoff_election_votes, ge_winner_indicator, total_votes, totalspend]
Index: []

[0 rows x 26 columns]

In [799]:
cost_vote['cycle']=pd.to_numeric(cost_vote['cycle'],errors='coerce')

In [800]:
print(cost_vote[pd.to_numeric(cost_vote['cycle'], errors = 'coerce').isnull()])

Empty DataFrame
Columns: [cand_id, cycle, c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11, c12, c13, state_abbreviation, district, incumbent, party, primary_votes, runoff_votes, general_votes, ge_runoff_election_votes, winner, total_votes, totalspend, costvote]
Index: []

[0 rows x 27 columns]

In [801]:
cost_vote = cost_vote[cost_vote.total_votes != 0]

In [802]:
cost_vote.loc[cost_vote['totalspend'] == 0]

,cand_id,cycle,c1,c2,c3,c4,c5,c6,c7,c8,...,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,winner,total_votes,totalspend,costvote
9107,H4TN09055,2006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,D,122.0,0.0,0.0,0.0,0,122.0,0.0,0.0
9853,H6VA10191,2006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,IND,0.0,0.0,1851.0,0.0,0,1851.0,0.0,0.0
10982,S4MD00160,2006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,R,4110.0,0.0,0.0,0.0,0,4110.0,0.0,0.0
11505,H6LA02207,2008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,L,0.0,0.0,549.0,0.0,0,549.0,0.0,0.0
11506,H8NJ02133,2008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,RTB,0.0,0.0,1312.0,0.0,0,1312.0,0.0,0.0
11507,H0NJ02098,2008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,SUS,0.0,0.0,648.0,0.0,0,648.0,0.0,0.0
11508,H6RI01104,2008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,I,0.0,0.0,15108.0,0.0,0,15108.0,0.0,0.0
11509,H4AL02063,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,D,0.0,0.0,70562.0,0.0,0,70562.0,0.0,0.0
11510,H2AL05078,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,D,4393.0,0.0,0.0,0.0,0,4393.0,0.0,0.0
11511,H4AL05066,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,R,6742.0,2371.0,74145.0,0.0,0,83258.0,0.0,0.0
11512,H4AL05058,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,R,2175.0,0.0,0.0,0.0,0,2175.0,0.0,0.0
11513,H4AL07054,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,D,8061.0,0.0,0.0,0.0,0,8061.0,0.0,0.0
11514,H4AL07062,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,R,0.0,0.0,61019.0,0.0,0,61019.0,0.0,0.0
11515,S6AL00013,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,R,0.0,0.0,1242200.0,0.0,1,1242200.0,0.0,0.0
11516,S2AL00087,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,D,0.0,0.0,595018.0,0.0,0,595018.0,0.0,0.0
11517,H4AK00065,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,R,70142.0,0.0,213216.0,0.0,1,283358.0,0.0,0.0
11518,H4AK00081,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,D,14109.0,0.0,67074.0,0.0,0,81183.0,0.0,0.0
11519,H4AK00057,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,D,9025.0,0.0,0.0,0.0,0,9025.0,0.0,0.0
11520,H0AK00063,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,D,6479.0,0.0,0.0,0.0,0,6479.0,0.0,0.0
11521,H4AK00099,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,GRN,7490.0,0.0,11434.0,0.0,0,18924.0,0.0,0.0
11522,S4AK00131,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,R,29313.0,0.0,0.0,0.0,0,29313.0,0.0,0.0
11523,S4AK00156,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,R,2857.0,0.0,0.0,0.0,0,2857.0,0.0,0.0
11524,S2AK00069,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,R,748.0,0.0,0.0,0.0,0,748.0,0.0,0.0
11525,S4AK00107,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,D,40881.0,0.0,140424.0,0.0,0,181305.0,0.0,0.0
11526,S4AK00149,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,D,1080.0,0.0,0.0,0.0,0,1080.0,0.0,0.0
11527,S6AK00102,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,D,1045.0,0.0,0.0,0.0,0,1045.0,0.0,0.0
11528,H4AK00115,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,N,0.0,0.0,8885.0,0.0,0,8885.0,0.0,0.0
11529,S4AK00172,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,AKI,1953.0,0.0,3785.0,0.0,0,5738.0,0.0,0.0
11530,S4AK00164,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,AKI,501.0,0.0,0.0,0.0,0,501.0,0.0,0.0
11531,S4AK00093,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,GRN,2868.0,0.0,3053.0,0.0,0,5921.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16372,H2WA02201,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,IP,12844.0,0.0,0.0,0.0,0,12844.0,0.0,0.0
16373,H4WA04161,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,D,6744.0,0.0,0.0,0.0,0,6744.0,0.0,0.0
16374,H4WA20019,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,IP,1496.0,0.0,0.0,0.0,0,1496.0,0.0,0.0
16375,H4WA04153,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,R,547.0,0.0,0.0,0.0,0,547.0,0.0,0.0
16376,H8WA04048,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,R,178.0,0.0,0.0,0.0,0,178.0,0.0,0.0
16377,H4WA04146,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,R,161.0,0.0,0.0,0.0,0,161.0,0.0,0.0
16378,H4WA06083,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,NOP,4890.0,0.0,0.0,0.0,0,4890.0,0.0,0.0
16379,H0WA07113,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,R,9707.0,0.0,0.0,0.0,0,9707.0,0.0,0.0
16380,H4WA07065,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,IP,9371.0,0.0,0.0,0.0,0,9371.0,0.0,0.0
16381,H8WA07181,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,WWP,1665.0,0.0,0.0,0.0,0,1665.0,0.0,0.0
16382,H8WA08080,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,D,9273.0,0.0,0.0,0.0,0,9273.0,0.0,0.0
16383,H4WA09020,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,CIT,2737.0,0.0,0.0,0.0,0,2737.0,0.0,0.0
16384,H2WA10048,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,IP,4811.0,0.0,0.0,0.0,0,4811.0,0.0,0.0
16385,H4WA10036,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,HRP,2342.0,0.0,0.0,0.0,0,2342.0,0.0,0.0
16386,H2WV02167,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,R,1684.0,0.0,0.0,0.0,0,1684.0,0.0,0.0
16387,H4WV02148,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,R/W,621.0,0.0,9.0,0.0,0,630.0,0.0,0.0
16388,H4WV02130,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,L,0.0,0.0,7682.0,0.0,0,7682.0,0.0,0.0
16389,H4WI01148,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,R,2450.0,0.0,0.0,0.0,0,2450.0,0.0,0.0
16390,H4WI04241,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,D,21242.0,0.0,0.0,0.0,0,21242.0,0.0,0.0
16391,H4WI04258,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,R,855.0,0.0,0.0,0.0,0,855.0,0.0,0.0
16392,H4WI04266,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,IND,0.0,0.0,7002.0,0.0,0,7002.0,0.0,0.0
16393,H4WI06089,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,R,2117.0,0.0,0.0,0.0,0,2117.0,0.0,0.0
16394,H4WI06113,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,L,0.0,0.0,6865.0,0.0,0,6865.0,0.0,0.0
16395,H0WI07093,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,R,3607.0,0.0,0.0,0.0,0,3607.0,0.0,0.0
16396,H4WI07103,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,W(R)/W,2.0,0.0,5.0,0.0,0,7.0,0.0,0.0
16397,H0WI03084,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,D,5256.0,0.0,0.0,0.0,0,5256.0,0.0,0.0
16398,H4WI07111,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,GRE,0.0,0.0,3686.0,0.0,0,3686.0,0.0,0.0
16399,H4WY00188,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,R,22251.0,0.0,0.0,0.0,0,22251.0,0.0,0.0
16400,H4WY00170,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,D,14209.0,0.0,37803.0,0.0,0,52012.0,0.0,0.0
16401,H2WY00125,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,L,0.0,0.0,7112.0,0.0,0,7112.0,0.0,0.0

In [803]:
cost_vote = cost_vote.rename(columns = {'ge_winner_indicator':'winner'})

In [804]:
cost_vote['costvote'] = cost_vote['totalspend']/cost_vote['total_votes']

In [768]:
cost_vote.mean()

cycle                         2009.142466
c1                           82813.309249
c2                            2937.686044
c3                           24862.413532
c4                           77011.650229
c5                            4297.670139
c6                            7494.260491
c7                            2807.764581
c8                             115.423473
c9                              45.622999
c10                             83.920067
c11                            748.612873
c12                            287.573776
c13                         402798.463396
primary_votes                20683.139878
runoff_votes                   441.977017
general_votes                76868.068037
ge_runoff_election_votes       232.190030
total_votes                  98225.374962
totalspend                  606188.947376
costvote                      2662.593130
dtype: float64

In [806]:
cost_vote['cycle'] = cost_vote['cycle'].astype(int).astype('str')

In [808]:
cost_vote.describe()

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,total_votes,totalspend,costvote
count,1.314000e+04,13140.000000,1.314000e+04,1.314000e+04,13140.000000,1.314000e+04,1.314000e+04,13140.000000,13140.000000,13140.000000,13140.000000,13140.000000,1.314000e+04,1.314000e+04,13140.000000,1.314000e+04,1.314000e+04,1.314000e+04,1.314000e+04,1.314000e+04
mean,8.281331e+04,2937.686044,2.486241e+04,7.701165e+04,4297.670139,7.494260e+03,2.807765e+03,115.423473,45.622999,83.920067,748.612873,287.573776,4.027985e+05,2.068314e+04,441.977017,7.686807e+04,2.321900e+02,9.822537e+04,6.061889e+05,2.662593e+03
std,4.662288e+05,13721.331612,1.365725e+05,5.160868e+05,19948.936705,4.880747e+04,2.082310e+04,5068.014913,875.780998,2216.931541,8543.058359,3322.745012,1.545528e+06,6.919007e+04,8472.866811,2.632518e+05,1.354564e+04,3.218754e+05,1.821591e+06,1.123215e+05
min,-7.637000e+02,-390.000000,-1.900000e-01,-7.500000e+02,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,-5000.000000,0.000000,0.000000,-4.920380e+04,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,4.663000e+03,0.000000e+00,0.000000e+00
50%,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,2.125160e+03,5.676000e+03,0.000000,6.505000e+03,0.000000e+00,1.617900e+04,3.202793e+04,1.441572e+00
75%,1.417877e+04,68.235000,2.014810e+03,4.148600e+03,0.000000,3.873775e+02,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,1.517188e+05,2.091725e+04,0.000000,1.013965e+05,0.000000e+00,1.238395e+05,5.978935e+05,7.717508e+00
max,2.545184e+07,527439.630000,8.283133e+06,2.546524e+07,777330.090000,2.290329e+06,1.000230e+06,500000.000000,43129.070000,164844.000000,407000.000000,117400.000000,3.943196e+07,2.566298e+06,631812.000000,7.864624e+06,1.228033e+06,1.025745e+07,4.955574e+07,7.044762e+06

In [809]:
cost_vote['party'] = cost_vote['party'].astype('str')

In [810]:
cost_vote = cost_vote.replace("DEM","D")

In [811]:
cost_vote = cost_vote.replace("REP","R")

In [812]:
cost_vote = cost_vote.replace("LBT","L")

In [813]:
cost_vote = cost_vote.replace("LIB","L")

In [814]:
major = !=["R","D","L"]

In [815]:
cost_vote = cost_vote.replace(major,"O")

In [816]:
cost_vote.head()

,cand_id,cycle,c1,c2,c3,c4,c5,c6,c7,c8,...,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,winner,total_votes,totalspend,costvote
0,H0AK00089,2010,550.00,0.00,0.00,0.00,0.0,785.00,0.00,0.0,...,0,D,38673.0,0.0,77606.0,0.0,0,116279.0,220001.06,1.892010
1,H0AK01038,2010,1569.23,88.93,0.00,0.00,0.0,0.00,0.00,0.0,...,0,R,24709.0,0.0,0.0,0.0,0,24709.0,169777.74,6.871089
2,H0AL00016,2010,19831.34,909.80,81.19,465.00,0.0,3177.55,2192.99,0.0,...,0,D,6672.0,0.0,0.0,0.0,0,6672.0,26957.87,4.040448
3,H0AL01030,2010,7054.34,5233.32,668.95,27082.28,1175.0,1295.21,583.75,0.0,...,0,R,18725.0,0.0,0.0,0.0,0,18725.0,44377.00,2.369933
4,H0AL01030,2012,3480.00,27.72,381.09,7257.71,0.0,0.00,56.58,0.0,...,0,R,3854.0,0.0,0.0,0.0,0,3854.0,11203.10,2.906876

In [817]:
cost_vote['party'].count()

13140

In [818]:
cost_vote['winner'].value_counts()

0             10355
1              2781
W (Runoff)        2
Dd                1
WW                1
Name: winner, dtype: int64

## Scores for Democrats (blue font unintentional)

In [823]:
Gen = cost_vote[cost_vote.general_votes != 0]

In [824]:
Dem = Gen[Gen['party'].isin(['D'])]

In [825]:
Dem.head(100)

,cand_id,cycle,c1,c2,c3,c4,c5,c6,c7,c8,...,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,winner,total_votes,totalspend,costvote
0,H0AK00089,2010,550.00,0.00,0.00,0.00,0.00,785.00,0.00,0.0,...,0,D,38673.0,0.0,77606.0,0.0,0,116279.0,220001.06,1.892010
9,H0AL03184,2010,14.95,1441.91,0.00,5000.00,0.00,2293.50,0.00,0.0,...,0,D,0.0,0.0,80204.0,0.0,0,80204.0,8750.36,0.109101
19,H0AL07086,2010,717735.35,38988.03,52236.78,690997.05,55500.00,50828.50,31230.29,0.0,...,0,D,31531.0,32366.0,136696.0,0.0,1,200593.0,1673438.30,8.342456
20,H0AL07086,2012,329788.25,48925.15,65657.68,23994.00,0.00,40971.17,140490.99,0.0,...,1,D,0.0,0.0,232520.0,0.0,1,232520.0,661131.32,2.843331
21,H0AL07086,2014,425989.76,57266.94,116612.17,303683.52,30000.00,58571.83,166933.55,0.0,...,1,D,74953.0,0.0,133687.0,0.0,1,208640.0,1165162.70,5.584560
27,H0AR01109,2010,70562.30,5872.99,17720.93,303707.61,26000.00,6671.16,829.76,0.0,...,0,D,25854.0,39402.0,78267.0,0.0,0,143523.0,1562558.79,10.887166
47,H0AR03030,2010,31154.10,784.00,8468.11,4742.09,395.79,3535.65,217.35,0.0,...,0,D,0.0,0.0,56542.0,0.0,0,56542.0,74834.03,1.323512
60,H0AS00018,2004,1192.21,0.00,2021.58,8346.75,0.00,310.00,0.00,0.0,...,1,D,0.0,0.0,6656.0,0.0,1,6656.0,104193.08,15.654008
104,H0CA02138,2010,29435.14,2654.79,2552.37,46165.70,16750.00,8365.14,6036.95,0.0,...,0,D,42334.0,0.0,98092.0,0.0,0,140426.0,131000.68,0.932881
105,H0CA02138,2012,64561.45,7306.04,288.00,26013.00,2960.00,144.22,80.00,0.0,...,0,D,43409.0,0.0,125386.0,0.0,0,168795.0,177103.32,1.049221
106,H0CA03078,2010,865207.61,22761.68,46851.16,347479.00,56372.50,1534657.85,4112.00,0.0,...,0,D,49022.0,0.0,113128.0,0.0,0,162150.0,2928206.81,18.058630
107,H0CA03078,2012,712135.30,11554.11,70232.24,96056.52,115665.00,2290329.14,0.00,0.0,...,0,D,49433.0,0.0,141241.0,0.0,1,190674.0,3346407.61,17.550414
108,H0CA03078,2014,294702.95,2688.41,59157.07,0.00,7500.00,250.00,0.00,0.0,...,1,D,51878.0,0.0,92521.0,0.0,1,144399.0,4300749.04,29.783787
109,H0CA04134,2010,7616.79,656.27,0.00,9222.36,0.00,0.00,0.00,0.0,...,0,D,50400.0,0.0,95653.0,0.0,0,146053.0,19875.42,0.136084
121,H0CA10073,2014,186086.82,10053.98,16226.02,186230.46,15000.00,5649.19,1245.72,0.0,...,0,D,59605.0,0.0,117502.0,0.0,1,177107.0,431810.07,2.438131
125,H0CA10149,2010,168719.03,204.71,6574.87,780.00,29000.00,147546.62,2555.78,0.0,...,1,D,62138.0,0.0,137578.0,0.0,1,199716.0,1621142.25,8.117238
126,H0CA10149,2012,1061.16,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,1,D,59546.0,0.0,126882.0,0.0,1,186428.0,2035746.05,10.919744
162,H0CA24116,2010,59412.42,0.00,4796.66,26844.70,0.00,39153.88,1093.73,0.0,...,0,D,19832.0,0.0,96279.0,0.0,0,116111.0,176775.01,1.522466
181,H0CA31087,2004,103105.13,2382.52,205475.23,8284.71,5610.34,1935.24,252.16,0.0,...,1,D,28948.0,0.0,119144.0,0.0,1,148092.0,350310.11,2.365490
182,H0CA31087,2006,77761.86,410.55,243069.49,956.25,16427.50,0.00,1500.00,0.0,...,1,D,30355.0,0.0,76059.0,0.0,1,106414.0,364781.62,3.427948
183,H0CA31087,2008,62660.43,2239.34,216595.09,1486.19,0.00,0.00,0.00,0.0,...,1,D,17345.0,0.0,130142.0,0.0,1,147487.0,329331.52,2.232953
188,H0CA32101,2010,9368.27,0.00,16319.61,0.00,0.00,4399.88,300.00,0.0,...,1,D,21718.0,0.0,77759.0,0.0,0,99477.0,1669637.20,16.784153
189,H0CA32101,2012,210569.36,7669.01,221468.82,34643.48,0.00,2510.11,560.00,0.0,...,1,D,50203.0,0.0,154191.0,0.0,1,204394.0,526038.54,2.573650
190,H0CA32101,2014,371378.08,1575.99,82606.02,400.00,0.00,9950.05,500.00,0.0,...,1,D,39915.0,0.0,75728.0,0.0,1,115643.0,482764.17,4.174608
211,H0CA45053,2010,511826.13,19511.03,47588.78,1100921.42,26300.00,94587.74,0.00,0.0,...,0,D,33235.0,0.0,87141.0,0.0,0,120376.0,1844932.44,15.326414
214,H0CA46069,2010,8141.56,0.00,1250.63,2879.20,0.00,2618.17,50.00,0.0,...,0,D,19735.0,0.0,84940.0,0.0,0,104675.0,16567.96,0.158280
227,H0CA48131,2010,281203.41,7102.03,71543.67,17061.00,28427.23,278811.78,2750.00,0.0,...,0,D,30818.0,0.0,88465.0,0.0,0,119283.0,689221.45,5.778036
229,H0CA49055,2004,192592.04,1479.00,18402.90,0.00,24361.20,0.00,3171.14,0.0,...,1,D,55791.0,0.0,146449.0,0.0,1,202240.0,242725.79,1.200187
230,H0CA49055,2006,183303.78,479.80,16949.48,1629.18,2500.00,0.00,120.00,0.0,...,1,D,41231.0,0.0,97541.0,0.0,1,138772.0,204982.24,1.477115
231,H0CA49055,2008,154174.48,0.00,91563.85,360.00,15000.00,53.88,2673.20,0.0,...,1,D,43171.0,0.0,161315.0,0.0,1,204486.0,319568.79,1.562791
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,H0MA10082,2010,259814.52,17300.00,56282.04,885717.80,59450.00,25166.96,9269.48,0.0,...,0,D,29953.0,0.0,132743.0,0.0,1,162696.0,1392739.87,8.560382
597,H0MA10082,2012,218681.47,651.74,210294.23,280984.55,36400.00,15476.84,5539.51,0.0,...,1,D,31366.0,0.0,212754.0,0.0,1,244120.0,805320.14,3.298870
598,H0MA10082,2014,213428.81,650.00,177900.53,352814.44,34000.00,83395.76,495.48,0.0,...,1,D,42716.0,0.0,140413.0,0.0,1,183129.0,1100224.37,6.007920
641,H0MI03175,2010,175931.12,6545.39,34423.46,625670.62,62265.74,35768.49,6094.82,0.0,...,0,D,14114.0,0.0,83953.0,0.0,0,98067.0,982559.11,10.019263
657,H0MI08091,2012,17736.98,6781.05,170.00,7874.80,0.00,5165.69,2585.29,0.0,...,0,D,29322.0,0.0,128657.0,0.0,0,157979.0,45909.99,0.290608
668,H0MI11087,2010,52230.78,1181.34,55142.96,80578.79,17802.40,52128.97,3602.01,0.0,...,0,D,27295.0,0.0,91710.0,0.0,0,119005.0,301939.95,2.537204
700,H0MO00019,2004,599324.44,11411.77,82710.90,560157.24,52000.00,34427.74,35628.26,0.0,...,0,D,24507.0,0.0,146894.0,0.0,1,171401.0,1379030.16,8.045637
701,H0MO00019,2006,861674.92,40436.99,726.56,20898.74,33783.06,86.09,81875.88,0.0,...,1,D,37200.0,0.0,145219.0,0.0,1,182419.0,1043308.81,5.719299
702,H0MO00019,2008,413280.34,16707.90,0.00,8949.00,0.00,0.00,54833.29,0.0,...,1,D,38020.0,0.0,202470.0,0.0,1,240490.0,717644.37,2.984092
703,H0MO00019,2010,307353.62,11080.39,38340.28,765.50,0.00,0.00,32058.17,0.0,...,1,D,36976.0,0.0,99398.0,0.0,1,136374.0,2168083.47,15.898071
706,H0MO01066,2004,11597.48,1951.64,18236.26,1668.71,0.00,8078.49,350.00,0.0,...,1,D,92094.0,0.0,213658.0,0.0,1,305752.0,182383.98,0.596510
707,H0MO01066,2006,43433.27,11144.33,46171.88,94783.67,0.00,4833.00,2265.74,0.0,...,1,D,33358.0,0.0,141574.0,0.0,1,174932.0,287052.35,1.640937
708,H0MO01066,2008,4053.69,6723.45,13277.57,1925.00,0.00,0.00,550.00,0.0,...,1,D,41517.0,0.0,242570.0,0.0,1,284087.0,397794.34,1.400255
709,H0MO01066,2010,16953.12,406.88,46054.15,75567.22,5500.00,1471.02,12355.00,0.0,...,1,D,37041.0,0.0,135907.0,0.0,1,172948.0,470833.55,2.722400
710,H0MO01066,2012,621.02,314.00,10860.00,1825.00,0.00,0.00,700.00,0.0,...,1,D,57791.0,0.0,267927.0,0.0,1,325718.0,866728.37,2.660978
714,H0MO02213,2010,9511.62,0.00,0.00,0.00,1994.12,35697.81,830.00,0.0,...,0,D,24227.0,0.0,77467.0,0.0,0,101694.0,48033.55,0.472334
716,H0MO02213,2014,5804.06,0.00,11971.85,11568.00,0.00,23185.45,2242.68,0.0,...,0,D,54557.0,0.0,75384.0,0.0,0,129941.0,55222.04,0.424978
725,H0MO06149,2010,3017.84,0.00,225.00,212.00,0.00,0.00,0.00,0.0,...,0,D,30233.0,0.0,67762.0,0.0,0,97995.0,8675.06,0.088526
728,H0MO06172,2012,2666.60,16936.41,6105.72,4450.71,0.00,22134.36,1068.28,0.0,...,0,D,10242.0,0.0,108503.0,0.0,0,118745.0,53362.08,0.449384
754,H0NC00012,2010,129084.27,1143.61,44743.79,42653.15,9500.00,53814.24,3128.74,0.0,...,0,D,0.0,0.0,72762.0,0.0,0,72762.0,313434.56,4.307668
760,H0NC03099,2010,4396.20,315.03,1560.16,700.00,0.00,112.00,400.14,0.0,...,0,D,0.0,0.0,51317.0,0.0,0,51317.0,7483.53,0.145829
764,H0NC06134,2010,800.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0,D,0.0,0.0,51507.0,0.0,0,51507.0,800.00,0.015532
799,H0NE02144,2010,37356.50,19300.00,46576.67,0.00,0.00,7637.66,10552.16,0.0,...,0,D,12333.0,0.0,60486.0,0.0,0,72819.0,1069673.13,14.689478
801,H0NE03175,2010,14319.17,4299.29,4496.80,18535.64,0.00,1728.34,0.00,0.0,...,0,D,16425.0,0.0,29932.0,0.0,0,46357.0,44666.02,0.963523
816,H0NH02181,2010,442386.12,17143.07,87230.15,1625278.58,92776.05,29272.15,40252.90,11375.0,...,0,D,25431.0,0.0,105060.0,0.0,0,130491.0,2483116.81,19.029027
817,H0NH02181,2012,8075.03,1597.50,103.92,0.00,0.00,0.00,4819.43,0.0,...,0,D,40627.0,0.0,169275.0,0.0,1,209902.0,3147165.42,14.993499
823,H0NJ01066,2012,1759.96,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,1,D,21318.0,0.0,210470.0,0.0,1,231788.0,1256475.43,5.420796
829,H0NJ04086,2010,22129.07,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0,D,7976.0,0.0,52118.0,0.0,0,60094.0,126729.52,2.108855
830,H0NJ05125,2010,6755.70,1841.75,1710.48,1140.00,0.00,6079.55,420.51,0.0,...,0,D,5711.0,0.0,62634.0,0.0,0,68345.0,18856.79,0.275906
837,H0NJ07212,2010,114238.63,3446.28,13338.63,6755.00,14000.00,11000.45,0.00,0.0,...,0,D,8176.0,0.0,71902.0,0.0,0,80078.0,339196.13,4.235822

In [826]:
DemW = Dem[Dem['winner'].isin(['1'])] #table of Democrats who won
DemW.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
c1,1267.0,1.199751e+05,3.508850e+05,0.00,0.000000,0.000000,1.168401e+05,7.071784e+06
c2,1267.0,6.036074e+03,1.999258e+04,0.00,0.000000,0.000000,2.665975e+03,2.893896e+05
c3,1267.0,4.683261e+04,1.871672e+05,0.00,0.000000,0.000000,4.140319e+04,5.594799e+06
c4,1267.0,1.444014e+05,9.467859e+05,-750.00,0.000000,0.000000,5.594320e+03,2.546524e+07
c5,1267.0,9.649582e+03,4.169237e+04,0.00,0.000000,0.000000,0.000000e+00,7.773301e+05
c6,1267.0,1.538446e+04,8.322974e+04,0.00,0.000000,0.000000,1.006340e+03,2.290329e+06
c7,1267.0,6.245743e+03,3.424702e+04,0.00,0.000000,0.000000,9.900000e+02,1.000230e+06
c8,1267.0,2.807535e+02,5.966891e+03,0.00,0.000000,0.000000,0.000000e+00,1.800000e+05
c9,1267.0,1.164275e+02,1.610966e+03,0.00,0.000000,0.000000,0.000000e+00,4.312907e+04
c10,1267.0,7.386825e+01,5.182740e+02,-400.00,0.000000,0.000000,0.000000e+00,9.300000e+03
c11,1267.0,1.952061e+03,1.337378e+04,0.00,0.000000,0.000000,0.000000e+00,2.036200e+05
c12,1267.0,9.082558e+02,6.051558e+03,0.00,0.000000,0.000000,0.000000e+00,1.002500e+05
c13,1267.0,1.145732e+06,2.366909e+06,-3250.43,105872.895000,526376.150000,1.177707e+06,3.054992e+07
primary_votes,1267.0,5.752490e+04,1.557394e+05,0.00,16700.000000,33746.000000,5.767300e+04,2.566298e+06
runoff_votes,1267.0,1.078556e+02,1.727875e+03,0.00,0.000000,0.000000,0.000000e+00,4.128100e+04
general_votes,1267.0,2.303419e+05,5.038459e+05,5195.00,107115.500000,147307.000000,1.916055e+05,7.864624e+06
ge_runoff_election_votes,1267.0,7.321547e+01,1.895361e+03,0.00,0.000000,0.000000,0.000000e+00,5.761100e+04
total_votes,1267.0,2.880478e+05,6.459336e+05,5195.00,133015.000000,183129.000000,2.379480e+05,1.025745e+07
totalspend,1267.0,1.497307e+06,2.725725e+06,0.00,466471.025000,777783.850000,1.540219e+06,4.209675e+07
costvote,1267.0,6.969716e+00,6.876767e+00,0.00,2.520605,4.409621,9.173136e+00,5.207765e+01

In [827]:
DemWInc = DemW[DemW['incumbent'].isin(['1'])] #table of Democrat Incumbent who won
DemWInc.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
c1,1082.0,1.027144e+05,2.674979e+05,0.00,0.000000,0.000000,1.029508e+05,4.238332e+06
c2,1082.0,5.974485e+03,2.055652e+04,0.00,0.000000,0.000000,2.377308e+03,2.893896e+05
c3,1082.0,4.301155e+04,1.026644e+05,0.00,0.000000,0.000000,4.165430e+04,1.404384e+06
c4,1082.0,9.161149e+04,5.470340e+05,-750.00,0.000000,0.000000,3.792497e+03,9.983008e+06
c5,1082.0,6.393242e+03,2.851137e+04,0.00,0.000000,0.000000,0.000000e+00,5.923005e+05
c6,1082.0,8.534720e+03,3.586878e+04,0.00,0.000000,0.000000,4.486450e+02,5.160952e+05
c7,1082.0,6.306496e+03,3.639518e+04,0.00,0.000000,0.000000,3.500000e+02,1.000230e+06
c8,1082.0,2.352132e+02,5.683070e+03,0.00,0.000000,0.000000,0.000000e+00,1.800000e+05
c9,1082.0,1.101515e+02,1.599351e+03,0.00,0.000000,0.000000,0.000000e+00,4.312907e+04
c10,1082.0,5.944092e+01,4.648726e+02,-400.00,0.000000,0.000000,0.000000e+00,9.300000e+03
c11,1082.0,1.987103e+03,1.383727e+04,0.00,0.000000,0.000000,0.000000e+00,2.036200e+05
c12,1082.0,1.018889e+03,6.527311e+03,0.00,0.000000,0.000000,0.000000e+00,1.002500e+05
c13,1082.0,1.005902e+06,2.257333e+06,-3250.43,113295.177500,499038.605000,1.001600e+06,3.054992e+07
primary_votes,1082.0,5.919737e+04,1.630891e+05,0.00,18348.000000,36868.000000,5.940125e+04,2.566298e+06
runoff_votes,1082.0,0.000000e+00,0.000000e+00,0.00,0.000000,0.000000,0.000000e+00,0.000000e+00
general_votes,1082.0,2.241900e+05,5.081205e+05,5195.00,106049.750000,148203.500000,1.936530e+05,7.864624e+06
ge_runoff_election_votes,1082.0,3.248891e+01,1.068683e+03,0.00,0.000000,0.000000,0.000000e+00,3.515300e+04
total_votes,1082.0,2.834199e+05,6.589987e+05,5195.00,134668.500000,187667.000000,2.399040e+05,1.025745e+07
totalspend,1082.0,1.273624e+06,2.355289e+06,0.00,427044.057500,701968.700000,1.212394e+06,3.054992e+07
costvote,1082.0,6.119377e+00,6.336220e+00,0.00,2.309266,3.896909,7.531073e+00,5.207765e+01

In [830]:
DemWC = DemW[DemW['incumbent'].isin(['0'])] #table of Democrat challengers who won
DemWC.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
c1,185.0,2.209269e+05,6.440000e+05,0.0,0.000000e+00,1.670529e+04,2.535038e+05,7.071784e+06
c2,185.0,6.396287e+03,1.635166e+04,0.0,0.000000e+00,0.000000e+00,6.115970e+03,1.713475e+05
c3,185.0,6.918062e+04,4.225187e+05,0.0,0.000000e+00,2.735900e+03,3.996882e+04,5.594799e+06
c4,185.0,4.531512e+05,2.073003e+06,0.0,0.000000e+00,0.000000e+00,2.035845e+05,2.546524e+07
c5,185.0,2.869477e+04,8.220168e+04,0.0,0.000000e+00,0.000000e+00,3.581110e+04,7.773301e+05
c6,185.0,5.544621e+04,1.954838e+05,0.0,0.000000e+00,0.000000e+00,3.039067e+04,2.290329e+06
c7,185.0,5.890416e+03,1.695737e+04,0.0,0.000000e+00,0.000000e+00,4.669500e+03,1.877644e+05
c8,185.0,5.471027e+02,7.425599e+03,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.010000e+05
c9,185.0,1.531336e+02,1.681307e+03,0.0,0.000000e+00,0.000000e+00,0.000000e+00,2.218561e+04
c10,185.0,1.582486e+02,7.550699e+02,0.0,0.000000e+00,0.000000e+00,0.000000e+00,8.313270e+03
c11,185.0,1.747110e+03,1.028026e+04,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.050000e+05
c12,185.0,2.612024e+02,1.081166e+03,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.025000e+04
c13,185.0,1.963544e+06,2.796817e+06,0.0,7.943907e+04,1.244422e+06,2.318563e+06,1.754149e+07
primary_votes,185.0,4.774318e+04,1.025043e+05,0.0,1.496700e+04,2.326100e+04,4.062700e+04,8.019200e+05
runoff_votes,185.0,7.386649e+02,4.480337e+03,0.0,0.000000e+00,0.000000e+00,0.000000e+00,4.128100e+04
general_votes,185.0,2.663219e+05,4.778097e+05,21224.0,1.112870e+05,1.412410e+05,1.740120e+05,3.597456e+06
ge_runoff_election_votes,185.0,3.114108e+02,4.235645e+03,0.0,0.000000e+00,0.000000e+00,0.000000e+00,5.761100e+04
total_votes,185.0,3.151152e+05,5.643335e+05,26090.0,1.287630e+05,1.671930e+05,2.108310e+05,4.253379e+06
totalspend,185.0,2.805550e+06,4.063595e+06,0.0,1.133013e+06,1.788538e+06,2.909104e+06,4.209675e+07
costvote,185.0,1.194305e+01,7.770916e+00,0.0,6.474354e+00,1.027556e+01,1.624768e+01,4.179232e+01

In [831]:
DemL = Dem[Dem['winner'].isin(['0'])] #table of Democrats who won
DemL.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
c1,1327.0,74627.974295,2.653480e+05,0.0,0.000000,885.480000,37941.670000,4.360481e+06
c2,1327.0,3059.714936,1.270278e+04,-390.0,0.000000,0.000000,1611.315000,2.932756e+05
c3,1327.0,14895.315418,5.258994e+04,0.0,0.000000,0.000000,6039.150000,7.080864e+05
c4,1327.0,95057.723595,3.959304e+05,-324.0,0.000000,0.000000,17048.250000,8.772151e+06
c5,1327.0,6155.928184,1.985510e+04,0.0,0.000000,0.000000,0.000000,2.048548e+05
c6,1327.0,11311.573738,5.881164e+04,0.0,0.000000,0.000000,5520.820000,1.534658e+06
c7,1327.0,1958.495961,9.088393e+03,0.0,0.000000,0.000000,673.625000,1.525661e+05
c8,1327.0,20.481959,3.992992e+02,0.0,0.000000,0.000000,0.000000,1.137500e+04
c9,1327.0,27.953851,2.709405e+02,0.0,0.000000,0.000000,0.000000,5.626030e+03
c10,1327.0,99.073534,1.468812e+03,0.0,0.000000,0.000000,0.000000,4.983207e+04
c11,1327.0,378.067325,3.039727e+03,0.0,0.000000,0.000000,0.000000,5.000000e+04
c12,1327.0,350.695079,3.332410e+03,0.0,0.000000,0.000000,0.000000,6.567507e+04
c13,1327.0,508000.656375,1.580524e+06,0.0,26.215000,12902.730000,254064.160000,2.034871e+07
primary_votes,1327.0,24444.516956,5.973315e+04,0.0,0.000000,14283.000000,25965.000000,1.110579e+06
runoff_votes,1327.0,949.996986,1.058775e+04,0.0,0.000000,0.000000,0.000000,1.910610e+05
general_votes,1327.0,136501.376036,3.258061e+05,121.0,65868.500000,89743.000000,116178.000000,5.548646e+06
ge_runoff_election_votes,1327.0,900.881688,2.525141e+04,0.0,0.000000,0.000000,0.000000,9.099230e+05
total_votes,1327.0,162796.771665,3.713651e+05,121.0,77527.500000,106030.000000,140065.500000,5.562173e+06
totalspend,1327.0,715923.172291,1.694762e+06,0.0,8505.745000,103373.380000,767343.525000,2.034871e+07
costvote,1327.0,4.934048,8.944462e+00,0.0,0.102507,1.054464,5.875992,9.575100e+01

In [832]:
DemLInc = DemL[DemL['incumbent'].isin(['1'])] #table of Democrat Incumbent who lose
DemLInc.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
c1,134.0,2.007616e+05,5.297954e+05,0.0,0.000000,0.000000e+00,1.622017e+05,4.104223e+06
c2,134.0,7.777744e+03,2.476687e+04,-390.0,0.000000,0.000000e+00,7.730797e+03,2.564344e+05
c3,134.0,5.197178e+04,1.122384e+05,0.0,0.000000,0.000000e+00,5.594996e+04,6.066072e+05
c4,134.0,2.737383e+05,9.412709e+05,0.0,0.000000,0.000000e+00,5.718943e+03,8.772151e+06
c5,134.0,1.493568e+04,3.702865e+04,0.0,0.000000,0.000000e+00,0.000000e+00,2.048548e+05
c6,134.0,1.590541e+04,5.779092e+04,0.0,0.000000,0.000000e+00,3.140160e+03,5.585654e+05
c7,134.0,5.183430e+03,1.859039e+04,0.0,0.000000,0.000000e+00,1.005745e+03,1.493258e+05
c8,134.0,0.000000e+00,0.000000e+00,0.0,0.000000,0.000000e+00,0.000000e+00,0.000000e+00
c9,134.0,2.985022e+01,2.413234e+02,0.0,0.000000,0.000000e+00,0.000000e+00,2.000000e+03
c10,134.0,5.183029e+02,4.356871e+03,0.0,0.000000,0.000000e+00,0.000000e+00,4.983207e+04
c11,134.0,8.827922e+02,3.801371e+03,0.0,0.000000,0.000000e+00,0.000000e+00,2.588000e+04
c12,134.0,2.496233e+03,9.683035e+03,0.0,0.000000,0.000000e+00,0.000000e+00,6.567507e+04
c13,134.0,1.717180e+06,2.491329e+06,0.0,257631.890000,1.359010e+06,2.373232e+06,2.031522e+07
primary_votes,134.0,1.871513e+04,2.780063e+04,0.0,0.000000,1.489350e+04,2.880000e+04,2.236880e+05
runoff_votes,134.0,1.699082e+03,1.409064e+04,0.0,0.000000,0.000000e+00,0.000000e+00,1.347560e+05
general_votes,134.0,1.849782e+05,5.297102e+05,3157.0,89119.500000,1.068020e+05,1.450628e+05,4.432525e+06
ge_runoff_election_votes,134.0,0.000000e+00,0.000000e+00,0.0,0.000000,0.000000e+00,0.000000e+00,0.000000e+00
total_votes,134.0,2.053924e+05,5.315777e+05,3157.0,103995.500000,1.273705e+05,1.541730e+05,4.432525e+06
totalspend,134.0,2.291381e+06,2.656171e+06,0.0,840687.112500,1.839905e+06,2.647818e+06,2.034085e+07
costvote,134.0,1.696590e+01,1.345786e+01,0.0,5.894686,1.482635e+01,2.218737e+01,6.431447e+01

In [833]:
DemLC = DemL[DemL['incumbent'].isin(['0'])] #table of Democrat Incumbent who lose
DemLC.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
c1,1193.0,60460.410017,2.121733e+05,0.0,0.000000,1172.170000,35016.330000,4.360481e+06
c2,1193.0,2529.777091,1.040555e+04,0.0,0.000000,0.000000,1498.850000,2.932756e+05
c3,1193.0,10730.817477,3.871861e+04,0.0,0.000000,0.000000,4796.660000,7.080864e+05
c4,1193.0,74987.981098,2.674599e+05,-324.0,0.000000,0.000000,18038.170000,4.025618e+06
c5,1193.0,5169.770319,1.661077e+04,0.0,0.000000,0.000000,0.000000,1.923870e+05
c6,1193.0,10795.585809,5.892666e+04,0.0,0.000000,0.000000,5691.910000,1.534658e+06
c7,1193.0,1596.265272,7.212662e+03,0.0,0.000000,0.000000,641.910000,1.525661e+05
c8,1193.0,22.782531,4.210831e+02,0.0,0.000000,0.000000,0.000000,1.137500e+04
c9,1193.0,27.740847,2.741582e+02,0.0,0.000000,0.000000,0.000000,5.626030e+03
c10,1193.0,51.984904,5.098685e+02,0.0,0.000000,0.000000,0.000000,1.140000e+04
c11,1193.0,321.375675,2.938446e+03,0.0,0.000000,0.000000,0.000000,5.000000e+04
c12,1193.0,109.704225,1.147220e+03,0.0,0.000000,0.000000,0.000000,2.968857e+04
c13,1193.0,372183.344568,1.379681e+06,0.0,0.000000,8688.560000,107986.750000,2.034871e+07
primary_votes,1193.0,25088.052808,6.228014e+04,0.0,4350.000000,14224.000000,25627.000000,1.110579e+06
runoff_votes,1193.0,865.858340,1.012319e+04,0.0,0.000000,0.000000,0.000000,1.910610e+05
general_votes,1193.0,131056.372171,2.940764e+05,121.0,64047.000000,87645.000000,113625.000000,5.548646e+06
ge_runoff_election_votes,1193.0,1002.070411,2.663105e+04,0.0,0.000000,0.000000,0.000000,9.099230e+05
total_votes,1193.0,158012.353730,3.487977e+05,121.0,74508.000000,103684.000000,136914.000000,5.562173e+06
totalspend,1193.0,538964.757301,1.448286e+06,0.0,5722.420000,74186.480000,459908.070000,2.034871e+07
costvote,1193.0,3.582608,7.119479e+00,0.0,0.068284,0.710066,3.888314,9.575100e+01

In [834]:
Rep = Gen[Gen['party'].isin(['R'])]

In [835]:
Rep.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
c1,2579.0,2.072966e+05,8.460947e+05,-0.29,0.000000,5590.320000,1.601081e+05,2.545184e+07
c2,2579.0,6.304956e+03,1.994414e+04,0.00,0.000000,0.000000,2.978155e+03,5.274396e+05
c3,2579.0,6.604212e+04,2.410546e+05,0.00,0.000000,298.250000,4.423546e+04,8.283133e+06
c4,2579.0,1.396537e+05,5.996801e+05,0.00,0.000000,0.000000,4.327663e+04,1.811699e+07
c5,2579.0,7.637804e+03,2.223311e+04,0.00,0.000000,0.000000,2.225000e+02,3.169784e+05
c6,2579.0,1.084493e+04,5.548636e+04,0.00,0.000000,0.000000,2.960750e+03,1.872233e+06
c7,2579.0,5.973010e+03,2.679677e+04,0.00,0.000000,0.000000,2.000000e+03,8.582995e+05
c8,2579.0,4.126891e+02,1.062226e+04,0.00,0.000000,0.000000,0.000000e+00,5.000000e+05
c9,2579.0,5.368474e+01,1.020658e+03,0.00,0.000000,0.000000,0.000000e+00,3.620453e+04
c10,2579.0,1.314378e+02,3.583009e+03,-5000.00,0.000000,0.000000,0.000000e+00,1.648440e+05
c11,2579.0,1.881926e+03,1.452592e+04,0.00,0.000000,0.000000,0.000000e+00,4.070000e+05
c12,2579.0,3.748323e+02,4.116015e+03,0.00,0.000000,0.000000,0.000000e+00,1.174000e+05
c13,2579.0,7.618662e+05,2.159934e+06,-49203.80,2415.000000,47342.880000,7.245294e+05,3.563831e+07
primary_votes,2579.0,3.614929e+04,8.149249e+04,0.00,5174.000000,20046.000000,4.317250e+04,1.560472e+06
runoff_votes,2579.0,7.277193e+02,1.323884e+04,0.00,0.000000,0.000000,0.000000e+00,6.318120e+05
general_votes,2579.0,1.732084e+05,3.298568e+05,258.00,75449.000000,118826.000000,1.675890e+05,4.713887e+06
ge_runoff_election_votes,2579.0,6.834986e+02,2.459264e+04,0.00,0.000000,0.000000,0.000000e+00,1.228033e+06
total_votes,2579.0,2.107689e+05,4.079082e+05,258.00,87908.500000,144682.000000,2.025785e+05,5.571669e+06
totalspend,2579.0,1.208061e+06,2.536844e+06,0.00,88243.655000,623219.380000,1.324499e+06,4.955574e+07
costvote,2579.0,6.297274e+00,1.043934e+01,0.00,1.001388,3.722669,7.885977e+00,3.130080e+02

In [836]:
RepW = Rep[Rep['winner'].isin(['1'])]
RepW.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
c1,1326.0,2.577024e+05,5.937132e+05,0.00,0.000000,23237.710000,3.063876e+05,8.853032e+06
c2,1326.0,8.815329e+03,2.433561e+04,0.00,0.000000,0.000000,7.877342e+03,5.274396e+05
c3,1326.0,8.879124e+04,2.018838e+05,0.00,0.000000,5158.070000,1.081441e+05,3.066642e+06
c4,1326.0,1.500616e+05,4.929795e+05,0.00,0.000000,0.000000,8.852273e+04,1.223820e+07
c5,1326.0,9.903480e+03,2.497333e+04,0.00,0.000000,0.000000,6.900000e+03,3.169784e+05
c6,1326.0,9.848562e+03,3.401812e+04,0.00,0.000000,0.000000,2.182648e+03,4.990009e+05
c7,1326.0,7.526809e+03,2.159333e+04,0.00,0.000000,0.000000,3.860815e+03,3.121001e+05
c8,1326.0,6.898546e+02,1.443028e+04,0.00,0.000000,0.000000,0.000000e+00,5.000000e+05
c9,1326.0,8.358416e+01,1.376192e+03,0.00,0.000000,0.000000,0.000000e+00,3.620453e+04
c10,1326.0,2.375463e+02,4.987876e+03,0.00,0.000000,0.000000,0.000000e+00,1.648440e+05
c11,1326.0,3.297452e+03,1.969610e+04,0.00,0.000000,0.000000,0.000000e+00,4.070000e+05
c12,1326.0,6.498114e+02,5.695080e+03,0.00,0.000000,0.000000,0.000000e+00,1.174000e+05
c13,1326.0,9.014998e+05,1.914327e+06,-20172.76,20886.945000,393592.235000,1.012906e+06,2.278027e+07
primary_votes,1326.0,4.449684e+04,7.222273e+04,0.00,14517.250000,36519.500000,5.408650e+04,1.069936e+06
runoff_votes,1326.0,1.289190e+03,1.840387e+04,0.00,0.000000,0.000000,0.000000e+00,6.318120e+05
general_votes,1326.0,2.021082e+05,3.009648e+05,4306.00,124515.500000,156707.500000,1.890100e+05,4.440137e+06
ge_runoff_election_votes,1326.0,9.827089e+02,3.378529e+04,0.00,0.000000,0.000000,0.000000e+00,1.228033e+06
total_votes,1326.0,2.488769e+05,3.774869e+05,4306.00,153662.250000,189530.000000,2.310495e+05,5.552507e+06
totalspend,1326.0,1.438418e+06,1.987435e+06,0.00,588557.332500,931779.570000,1.553077e+06,2.278027e+07
costvote,1326.0,7.119861e+00,7.394780e+00,0.00,2.990276,5.037838,8.535706e+00,8.714645e+01

In [837]:
RepWInc = RepW[RepW['incumbent'].isin(['1'])]
RepWInc.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
c1,1093.0,2.398409e+05,5.518194e+05,0.00,0.000000,13000.870000,2.809910e+05,8.853032e+06
c2,1093.0,8.214321e+03,2.020866e+04,0.00,0.000000,0.000000,7.097140e+03,1.804328e+05
c3,1093.0,8.835692e+04,1.975340e+05,0.00,0.000000,4055.500000,1.110198e+05,3.066642e+06
c4,1093.0,1.033081e+05,2.837885e+05,0.00,0.000000,0.000000,5.020331e+04,2.836189e+06
c5,1093.0,8.611447e+03,2.254651e+04,0.00,0.000000,0.000000,1.821990e+03,3.169784e+05
c6,1093.0,8.593977e+03,3.286661e+04,0.00,0.000000,0.000000,1.551450e+03,4.990009e+05
c7,1093.0,7.530983e+03,2.219011e+04,0.00,0.000000,0.000000,3.677850e+03,3.121001e+05
c8,1093.0,8.038643e+02,1.587516e+04,0.00,0.000000,0.000000,0.000000e+00,5.000000e+05
c9,1093.0,8.265757e+01,1.461936e+03,0.00,0.000000,0.000000,0.000000e+00,3.620453e+04
c10,1093.0,2.186181e+02,5.076361e+03,0.00,0.000000,0.000000,0.000000e+00,1.648440e+05
c11,1093.0,3.437372e+03,1.773259e+04,0.00,0.000000,0.000000,0.000000e+00,2.512500e+05
c12,1093.0,7.598876e+02,6.259408e+03,0.00,0.000000,0.000000,0.000000e+00,1.174000e+05
c13,1093.0,8.153402e+05,1.665947e+06,-20172.76,20510.940000,393606.720000,9.347948e+05,2.278027e+07
primary_votes,1093.0,4.327920e+04,6.094688e+04,0.00,14294.000000,39706.000000,5.583300e+04,9.972160e+05
runoff_votes,1093.0,0.000000e+00,0.000000e+00,0.00,0.000000,0.000000,0.000000e+00,0.000000e+00
general_votes,1093.0,1.929983e+05,2.472606e+05,45907.00,128285.000000,160668.000000,1.908260e+05,4.337469e+06
ge_runoff_election_votes,1093.0,1.123543e+03,3.714497e+04,0.00,0.000000,0.000000,0.000000e+00,1.228033e+06
total_votes,1093.0,2.374011e+05,3.105494e+05,48291.00,158790.000000,193892.000000,2.332370e+05,5.334685e+06
totalspend,1093.0,1.284295e+06,1.713823e+06,0.00,564425.240000,849423.020000,1.433279e+06,2.278027e+07
costvote,1093.0,6.525025e+00,7.129628e+00,0.00,2.729467,4.535134,7.501834e+00,8.714645e+01

In [838]:
RepWC = Rep[Rep['incumbent'].isin(['0'])]
RepWC.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
c1,1388.0,175310.494265,1.034101e+06,-0.29,0.000000,3331.000000,7.522167e+04,2.545184e+07
c2,1388.0,4298.117774,1.800384e+04,0.00,0.000000,0.000000,1.499310e+03,5.274396e+05
c3,1388.0,38860.785101,1.580284e+05,0.00,0.000000,0.000000,1.305766e+04,3.518841e+06
c4,1388.0,148195.179769,7.242292e+05,0.00,0.000000,0.000000,3.697907e+04,1.811699e+07
c5,1388.0,6135.219733,1.950180e+04,0.00,0.000000,0.000000,0.000000e+00,2.734362e+05
c6,1388.0,12063.845187,6.716189e+04,0.00,0.000000,0.000000,4.421440e+03,1.872233e+06
c7,1388.0,4282.806744,2.707683e+04,0.00,0.000000,0.000000,1.287438e+03,8.582995e+05
c8,1388.0,31.969726,7.030291e+02,0.00,0.000000,0.000000,0.000000e+00,2.279056e+04
c9,1388.0,34.660101,5.023567e+02,0.00,0.000000,0.000000,0.000000e+00,1.168465e+04
c10,1388.0,67.340367,1.883028e+03,-5000.00,0.000000,0.000000,0.000000e+00,6.953224e+04
c11,1388.0,562.555663,1.132538e+04,0.00,0.000000,0.000000,0.000000e+00,4.070000e+05
c12,1388.0,73.178689,5.365049e+02,0.00,0.000000,0.000000,0.000000e+00,1.210000e+04
c13,1388.0,573006.697507,2.025948e+06,-7355.43,0.000000,8319.330000,1.851169e+05,2.817194e+07
primary_votes,1388.0,29929.566282,9.304586e+04,0.00,4835.000000,12880.000000,2.483125e+04,1.560472e+06
runoff_votes,1388.0,1352.152738,1.802558e+04,0.00,0.000000,0.000000,0.000000e+00,6.318120e+05
general_votes,1388.0,153709.678674,3.796233e+05,258.00,51381.250000,80558.500000,1.174745e+05,4.713887e+06
ge_runoff_election_votes,1388.0,292.439481,5.775576e+03,0.00,0.000000,0.000000,0.000000e+00,1.392090e+05
total_votes,1388.0,185283.837176,4.667234e+05,258.00,60499.250000,94733.000000,1.423790e+05,5.571669e+06
totalspend,1388.0,962890.880901,2.668147e+06,0.00,8475.562500,145313.445000,1.051994e+06,4.955574e+07
costvote,1388.0,5.371301,1.192407e+01,0.00,0.101598,1.778009,7.189618e+00,3.130080e+02

In [839]:
RepL = Rep[Rep['winner'].isin(['0'])]
RepL.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
c1,1250.0,153246.067240,1.047505e+06,-0.29,0.000000,2163.935000,49467.530000,2.545184e+07
c2,1250.0,3612.894088,1.332654e+04,0.00,0.000000,0.000000,1050.845000,2.365198e+05
c3,1250.0,41690.754696,2.746369e+05,0.00,0.000000,0.000000,9302.522500,8.283133e+06
c4,1250.0,126270.019472,6.914690e+05,0.00,0.000000,0.000000,28787.982500,1.811699e+07
c5,1250.0,5083.717824,1.784564e+04,0.00,0.000000,0.000000,0.000000,2.207500e+05
c6,1250.0,11862.138128,7.156846e+04,0.00,0.000000,0.000000,3948.235000,1.872233e+06
c7,1250.0,4297.205752,3.132184e+04,0.00,0.000000,0.000000,859.750000,8.582995e+05
c8,1250.0,119.662464,3.438098e+03,0.00,0.000000,0.000000,0.000000,1.202947e+05
c9,1250.0,22.096272,3.729753e+02,0.00,0.000000,0.000000,0.000000,1.150000e+04
c10,1250.0,19.193424,2.843237e+02,-5000.00,0.000000,0.000000,0.000000,5.000000e+03
c11,1250.0,384.853576,4.427084e+03,0.00,0.000000,0.000000,0.000000,1.017950e+05
c12,1250.0,84.034056,6.289300e+02,0.00,0.000000,0.000000,0.000000,1.210000e+04
c13,1250.0,614362.509824,2.387038e+06,-7355.43,0.000000,6104.960000,108262.757500,3.563831e+07
primary_votes,1250.0,27380.962400,8.955356e+04,0.00,3389.000000,11458.000000,22854.500000,1.560472e+06
runoff_votes,1250.0,133.857600,1.326256e+03,0.00,0.000000,0.000000,0.000000,2.472500e+04
general_votes,1250.0,142754.856800,3.558840e+05,258.00,47900.000000,75564.500000,108715.000000,4.713887e+06
ge_runoff_election_votes,1250.0,101.620800,2.137238e+03,0.00,0.000000,0.000000,0.000000,5.704200e+04
total_votes,1250.0,170371.297600,4.348483e+05,258.00,57147.250000,88062.000000,126645.250000,5.571669e+06
totalspend,1250.0,960935.484352,2.994190e+06,0.00,2770.632500,91036.095000,734838.435000,4.955574e+07
costvote,1250.0,5.411397,1.285167e+01,0.00,0.036505,1.196331,6.422529,3.130080e+02

In [841]:
RepLInc = RepL[RepL['incumbent'].isin(['1'])]
RepLInc.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
c1,96.0,2.783346e+05,5.101413e+05,0.0,0.000000e+00,2.352942e+04,3.298094e+05,2.302124e+06
c2,96.0,1.293684e+04,3.465435e+04,0.0,0.000000e+00,0.000000e+00,1.155245e+04,2.365198e+05
c3,96.0,1.997231e+05,8.528603e+05,0.0,0.000000e+00,8.647240e+03,1.974637e+05,8.283133e+06
c4,96.0,3.690383e+05,9.617031e+05,0.0,0.000000e+00,0.000000e+00,1.353513e+05,7.191944e+06
c5,96.0,1.438836e+04,3.456190e+04,0.0,0.000000e+00,0.000000e+00,0.000000e+00,2.207500e+05
c6,96.0,1.820664e+04,7.143082e+04,0.0,0.000000e+00,0.000000e+00,8.115100e+02,5.913480e+05
c7,96.0,1.170751e+04,5.451083e+04,0.0,0.000000e+00,0.000000e+00,3.531590e+03,5.009458e+05
c8,96.0,1.472162e+03,1.236015e+04,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.202947e+05
c9,96.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
c10,96.0,6.833542e+01,4.981880e+02,0.0,0.000000e+00,0.000000e+00,0.000000e+00,4.400000e+03
c11,96.0,3.287638e+03,1.354546e+04,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.017950e+05
c12,96.0,3.600343e+02,1.460876e+03,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.171000e+04
c13,96.0,2.898440e+06,5.440277e+06,0.0,9.603367e+04,9.600703e+05,3.000578e+06,3.563831e+07
primary_votes,96.0,4.539083e+04,9.933605e+04,0.0,0.000000e+00,2.288500e+04,3.997200e+04,5.655800e+05
runoff_votes,96.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
general_votes,96.0,2.311280e+05,3.636768e+05,26606.0,1.014460e+05,1.275600e+05,1.535235e+05,1.887510e+06
ge_runoff_election_votes,96.0,7.290000e+02,5.040116e+03,0.0,0.000000e+00,0.000000e+00,0.000000e+00,3.776700e+04
total_votes,96.0,2.772479e+05,4.518284e+05,26606.0,1.173728e+05,1.491500e+05,1.899668e+05,2.348175e+06
totalspend,96.0,3.806491e+06,5.373535e+06,0.0,1.215796e+06,2.291236e+06,3.379683e+06,3.564246e+07
costvote,96.0,1.646429e+01,1.254301e+01,0.0,7.797669e+00,1.378054e+01,2.240936e+01,8.141107e+01

In [842]:
RepLC = RepL[RepL['incumbent'].isin(['0'])]
RepLC.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
c1,1153.0,141877.161240,1.079682e+06,-0.29,0.000000,1689.540000,41575.360000,2.545184e+07
c2,1153.0,2813.710364,9.221109e+03,0.00,0.000000,0.000000,866.960000,1.177486e+05
c3,1153.0,28417.237580,1.397162e+05,0.00,0.000000,0.000000,7861.050000,3.518841e+06
c4,1153.0,103328.784458,6.542873e+05,0.00,0.000000,0.000000,26138.810000,1.811699e+07
c5,1153.0,4145.517988,1.441653e+04,0.00,0.000000,0.000000,0.000000,1.651940e+05
c6,1153.0,11332.446886,7.161650e+04,0.00,0.000000,0.000000,4027.840000,1.872233e+06
c7,1153.0,3629.130772,2.847086e+04,0.00,0.000000,0.000000,781.120000,8.582995e+05
c8,1153.0,7.155690,2.284881e+02,0.00,0.000000,0.000000,0.000000,7.753680e+03
c9,1153.0,23.955195,3.883031e+02,0.00,0.000000,0.000000,0.000000,1.150000e+04
c10,1153.0,15.118456,2.587691e+02,-5000.00,0.000000,0.000000,0.000000,5.000000e+03
c11,1153.0,143.498439,2.314746e+03,0.00,0.000000,0.000000,0.000000,6.013050e+04
c12,1153.0,61.126869,4.959694e+02,0.00,0.000000,0.000000,0.000000,1.210000e+04
c13,1153.0,424589.075915,1.807222e+06,-7355.43,0.000000,4329.700000,50397.790000,2.817194e+07
primary_votes,1153.0,25883.432784,8.861211e+04,0.00,3781.000000,11257.000000,21519.000000,1.560472e+06
runoff_votes,1153.0,145.118820,1.380371e+03,0.00,0.000000,0.000000,0.000000,2.472500e+04
general_votes,1153.0,135450.616652,3.545467e+05,258.00,44585.000000,72074.000000,101517.000000,4.713887e+06
ge_runoff_election_votes,1153.0,49.472680,1.679887e+03,0.00,0.000000,0.000000,0.000000,5.704200e+04
total_votes,1153.0,161528.640937,4.326037e+05,258.00,54715.000000,83737.000000,117914.000000,5.571669e+06
totalspend,1153.0,720376.764163,2.567285e+06,0.00,487.000000,65562.510000,507612.390000,4.955574e+07
costvote,1153.0,4.453584,1.238441e+01,0.00,0.002396,0.904983,4.968044,3.130080e+02

In [843]:
Lib = cost_vote[cost_vote['party'].isin(['L'])]

In [844]:
Lib.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
c1,889.0,879.089359,14044.488988,0.0,0.0,0.0,0.0,2.958971e+05
c2,889.0,92.602092,1505.483201,0.0,0.0,0.0,0.0,3.177802e+04
c3,889.0,775.674196,20495.719610,0.0,0.0,0.0,0.0,6.101976e+05
c4,889.0,1694.625411,36426.028055,0.0,0.0,0.0,0.0,1.077713e+06
c5,889.0,48.653543,1134.645189,0.0,0.0,0.0,0.0,3.310000e+04
c6,889.0,117.286299,1166.336665,0.0,0.0,0.0,0.0,3.050309e+04
c7,889.0,46.575917,564.495003,0.0,0.0,0.0,0.0,1.083557e+04
c8,889.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000e+00
c9,889.0,0.433780,12.933615,0.0,0.0,0.0,0.0,3.856300e+02
c10,889.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000e+00
c11,889.0,0.371204,10.110733,0.0,0.0,0.0,0.0,3.000000e+02
c12,889.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000e+00
c13,889.0,2526.705951,51955.924217,0.0,0.0,0.0,0.0,1.537375e+06
primary_votes,889.0,383.640045,3638.422754,0.0,0.0,0.0,161.0,1.016480e+05
runoff_votes,889.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000e+00
general_votes,889.0,11073.020247,20803.271238,0.0,3553.0,5680.0,9897.0,2.165220e+05
ge_runoff_election_votes,889.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000e+00
total_votes,889.0,11456.660292,21505.141467,21.0,3691.0,5814.0,10136.0,2.301780e+05
totalspend,889.0,6182.017750,91187.454083,0.0,0.0,0.0,0.0,2.191168e+06
costvote,889.0,0.586803,6.887734,0.0,0.0,0.0,0.0,1.367087e+02

In [847]:
LibW = Lib[Lib['winner'].isin(['1'])]
LibW.describe().transpose()

                          count  mean  std  min  25%  50%  75%  max
c1                          0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c2                          0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c3                          0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c4                          0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c5                          0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c6                          0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c7                          0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c8                          0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c9                          0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c10                         0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c11                         0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c12                         0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c13                         0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
primary_votes               0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
runoff_votes                0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
general_votes               0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
ge_runoff_election_votes    0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
total_votes                 0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
totalspend                  0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
costvote                    0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [848]:
LibL = Lib[Lib['winner'].isin(['0'])]
LibL.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
c1,889.0,879.089359,14044.488988,0.0,0.0,0.0,0.0,2.958971e+05
c2,889.0,92.602092,1505.483201,0.0,0.0,0.0,0.0,3.177802e+04
c3,889.0,775.674196,20495.719610,0.0,0.0,0.0,0.0,6.101976e+05
c4,889.0,1694.625411,36426.028055,0.0,0.0,0.0,0.0,1.077713e+06
c5,889.0,48.653543,1134.645189,0.0,0.0,0.0,0.0,3.310000e+04
c6,889.0,117.286299,1166.336665,0.0,0.0,0.0,0.0,3.050309e+04
c7,889.0,46.575917,564.495003,0.0,0.0,0.0,0.0,1.083557e+04
c8,889.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000e+00
c9,889.0,0.433780,12.933615,0.0,0.0,0.0,0.0,3.856300e+02
c10,889.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000e+00
c11,889.0,0.371204,10.110733,0.0,0.0,0.0,0.0,3.000000e+02
c12,889.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000e+00
c13,889.0,2526.705951,51955.924217,0.0,0.0,0.0,0.0,1.537375e+06
primary_votes,889.0,383.640045,3638.422754,0.0,0.0,0.0,161.0,1.016480e+05
runoff_votes,889.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000e+00
general_votes,889.0,11073.020247,20803.271238,0.0,3553.0,5680.0,9897.0,2.165220e+05
ge_runoff_election_votes,889.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000e+00
total_votes,889.0,11456.660292,21505.141467,21.0,3691.0,5814.0,10136.0,2.301780e+05
totalspend,889.0,6182.017750,91187.454083,0.0,0.0,0.0,0.0,2.191168e+06
costvote,889.0,0.586803,6.887734,0.0,0.0,0.0,0.0,1.367087e+02

In [850]:
LibLInc = LibL[LibL['incumbent'].isin(['1'])]
LibLInc.describe().transpose()

                          count  mean  std  min  25%  50%  75%  max
c1                          0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c2                          0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c3                          0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c4                          0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c5                          0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c6                          0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c7                          0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c8                          0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c9                          0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c10                         0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c11                         0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c12                         0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
c13                         0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
primary_votes               0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
runoff_votes                0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
general_votes               0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
ge_runoff_election_votes    0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
total_votes                 0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
totalspend                  0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN
costvote                    0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [851]:
LibLC = LibL[LibL['incumbent'].isin(['0'])]
LibLC.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
c1,889.0,879.089359,14044.488988,0.0,0.0,0.0,0.0,2.958971e+05
c2,889.0,92.602092,1505.483201,0.0,0.0,0.0,0.0,3.177802e+04
c3,889.0,775.674196,20495.719610,0.0,0.0,0.0,0.0,6.101976e+05
c4,889.0,1694.625411,36426.028055,0.0,0.0,0.0,0.0,1.077713e+06
c5,889.0,48.653543,1134.645189,0.0,0.0,0.0,0.0,3.310000e+04
c6,889.0,117.286299,1166.336665,0.0,0.0,0.0,0.0,3.050309e+04
c7,889.0,46.575917,564.495003,0.0,0.0,0.0,0.0,1.083557e+04
c8,889.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000e+00
c9,889.0,0.433780,12.933615,0.0,0.0,0.0,0.0,3.856300e+02
c10,889.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000e+00
c11,889.0,0.371204,10.110733,0.0,0.0,0.0,0.0,3.000000e+02
c12,889.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000e+00
c13,889.0,2526.705951,51955.924217,0.0,0.0,0.0,0.0,1.537375e+06
primary_votes,889.0,383.640045,3638.422754,0.0,0.0,0.0,161.0,1.016480e+05
runoff_votes,889.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000e+00
general_votes,889.0,11073.020247,20803.271238,0.0,3553.0,5680.0,9897.0,2.165220e+05
ge_runoff_election_votes,889.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000e+00
total_votes,889.0,11456.660292,21505.141467,21.0,3691.0,5814.0,10136.0,2.301780e+05
totalspend,889.0,6182.017750,91187.454083,0.0,0.0,0.0,0.0,2.191168e+06
costvote,889.0,0.586803,6.887734,0.0,0.0,0.0,0.0,1.367087e+02

In [181]:
catsort['cycle'] = catsort['cycle'].astype(int).astype('str')

In [182]:
catsort.head()

,cand_id,cycle,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,total
0,H6FL19038,2006,281886.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,H2NY17071,2004,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H8TX27023,2008,12900.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,H8OH18088,2012,30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,H0SC01071,2008,83183.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [183]:
exp['cycle']=pd.to_numeric(exp['cycle'],errors='coerce')

In [184]:
print(exp[pd.to_numeric(exp['cycle'], errors = 'coerce').isnull()])

       state_abbreviation district incumbent party  primary_votes  \
187                    CA        4       (I)   REP        63731.0
188                    CA        4       (I)     R       105015.0
264                    CA       45       NaN     R         8422.0
282                    CA       48       NaN     D        39385.0
283                    CA       48       NaN     D        39385.0
284                    CA       49       (I)     R        56558.0
285                    CA       49       (I)     R        71329.0
286                    CA       49       (I)   REP        60447.0
287                    CA       49       (I)     R        41369.0
288                    CA       49       (I)   REP        47693.0
289                    CA       49       (I)     R        66710.0
1063                   ID        1       (I)     R        48986.0
1064                   ID        1       (I)     R        48986.0
1081                   ID        1       (I)     R        48986.0
1382                   LA        2       (I)     D        17506.0
1383                   LA        2       (I)   DEM            NaN
1384                   LA        2       (I)     D            NaN
1775                   MN        7       NaN   IDP         2242.0
1776                   MN        7       NaN     R         7698.0
2029                   MO        7       NaN   DEM         4370.0
2030                   MO        7       NaN     D         3743.0
2031                   MT        0       (I)   REP        96796.0
2032                   MT        0       (I)     R        90492.0
2033                   MT        0       (I)   REP        91836.0
2034                   MT        0       (I)     R       107309.0
2152                   NV        3       (I)     R        21955.0
2153                   NV        3       (I)   REP            0.0
2154                   NV        3       (I)     R            0.0
2155                   NV        3       (I)     R        21955.0
2156                   NV        3       (I)   REP            0.0
...                   ...      ...       ...   ...            ...
458501                 ID        S       NaN     R         2082.0
458502                 OH        S       NaN     W            NaN
458503                 NC        9       NaN   LBT            NaN
458504                 NV        1       NaN     R         1137.0
458505                 CO        4       NaN    UN            NaN
458506                 TX        3       NaN     R         2357.0
458507                 AK        S       NaN     D         1080.0
458508                 TX       24       NaN   LBT            NaN
458509                 CA       52       NaN   LBT          486.0
458510                 NV        4       NaN   IAP            NaN
458511                 NV        3       NaN   IAP            NaN
458512                 OK        S       NaN     R         3800.0
458513                 RI        2       NaN     W            NaN
458514                 MN        4       NaN   DFL         3212.0
458515                 MN        4       NaN   DFL         8622.0
458516                 SC        1       NaN   IDP            NaN
458517                 CA       49       NaN   LIB          395.0
458518                 AZ        7       NaN   REP         2737.0
458519                 TX       17       NaN   LIB            NaN
458520                 TX       31       NaN   LIB            NaN
458521                 NV        S       NaN   LBT            NaN
458522                 NJ        S       NaN     R        19238.0
458523                 HI        1       NaN     R          799.0
458524                 HI        1       NaN   REP          397.0
458525                 HI        1       NaN   LBT          295.0
458526                 NJ       13       NaN   PLC            NaN
458527                 NJ       13       NaN   PLC            NaN
458528                 OR        S       NaN     R        15838.0
458529                 NJ       13       NaN   PLC            NaN
458530                 MD        8       NaN   CON            NaN

        runoff_votes  general_votes  ge_runoff_election_votes  \
187              NaN       135818.0                       NaN
188              NaN       221926.0                       NaN
264              NaN            NaN                       NaN
282              NaN        93525.0                       NaN
283              NaN        93525.0                       NaN
284              NaN        98161.0                       NaN
285              NaN       159725.0                       NaN
286              NaN       119088.0                       NaN
287              NaN       140300.0                       NaN
288              NaN        98831.0                       NaN
289              NaN       141658.0                       NaN
1063             NaN       207662.0                       NaN
1064             NaN       207662.0                       NaN
1081             NaN       207662.0                       NaN
1382         92921.0        31318.0                       NaN
1383             NaN        28283.0                   35153.0
1384             NaN       173510.0                       NaN
1775             NaN         7839.0                       NaN
1776             NaN        87062.0                       NaN
2029             NaN            NaN                       NaN
2030             NaN            NaN                       NaN
2031             NaN       217696.0                       NaN
2032             NaN       308470.0                       NaN
2033             NaN       239124.0                       NaN
2034             NaN       286076.0                       NaN
2152             NaN       147940.0                       NaN
2153             NaN       102232.0                       NaN
2154             NaN       162240.0                       NaN
2155             NaN       147940.0                       NaN
2156             NaN       102232.0                       NaN
...              ...            ...                       ...
458501           NaN            NaN                       NaN
458502           NaN          296.0                       NaN
458503           NaN         6711.0                       NaN
458504           NaN            NaN                       NaN
458505           NaN         3986.0                       NaN
458506           NaN            NaN                       NaN
458507           NaN            NaN                       NaN
458508           NaN         4340.0                       NaN
458509           NaN         6465.0                       NaN
458510           NaN         9389.0                       NaN
458511           NaN         6937.0                       NaN
458512           NaN            NaN                       NaN
458513           NaN            6.0                       NaN
458514           NaN            NaN                       NaN
458515           NaN            NaN                       NaN
458516           NaN         2489.0                       NaN
458517           NaN         4290.0                       NaN
458518           NaN            NaN                       NaN
458519           NaN            NaN                       NaN
458520           NaN        26735.0                       NaN
458521           NaN         5269.0                       NaN
458522           NaN            NaN                       NaN
458523           NaN            NaN                       NaN
458524           NaN            NaN                       NaN
458525           NaN            NaN                       NaN
458526           NaN         2592.0                       NaN
458527           NaN          586.0                       NaN
458528           NaN            NaN                       NaN
458529           NaN         1282.0                       NaN
458530           NaN          696.0                       NaN

       ge_winner_indicator  total_votes    cand_id    cmte_id  exp_sum  \
187                      W       199549  H0CA14042  C00393181      NaN
188                      W       326941  H0CA14042  C00393181      NaN
264                    NaN         8422  H0CA44122  C00396457      NaN
282                    NaN       132910  H0CA47034  C00404889      NaN
283                    NaN       132910  H0CA47034  C00349597      NaN
284                      W       154719  H0CA48024  C00393181      NaN
285                      W       231054  H0CA48024  C00393181      NaN
286                      W       179535  H0CA48024  C00393181      NaN
287                      W       181669  H0CA48024  C00393181      NaN
288                      W       146524  H0CA48024  C00393181      NaN
289                      W       208368  H0CA48024  C00393181      NaN
1063                     W       256648  H0ID01139  C00393181      NaN
1064                     W       256648  H0ID01139  C00381319      NaN
1081                     W       256648  H0ID01139  C00404814      NaN
1382                   NaN       141745  H0LA02119  C00247734      NaN
1383                     W        63436  H0LA02119  C00247734      NaN
1384                     W       173510  H0LA02119  C00247734      NaN
1775                   NaN        10081  H0MN07034  C00355537      NaN
1776                   NaN        94760  H0MN07034  C00355537      NaN
2029                   NaN         4370  H0MO07097  C00379339      NaN
2030                   NaN         3743  H0MO07097  C00379339      NaN
2031                     W       314492  H0MT00033  C00393181      NaN
2032                     W       398962  H0MT00033  C00393181      NaN
2033                     W       330960  H0MT00033  C00393181      NaN
2034                     W       393385  H0MT00033  C00393181      NaN
2152                   NaN       169895  H0NV01078  C00393181      NaN
2153                     W       102232  H0NV01078  C00393181      NaN
2154                     W       162240  H0NV01078  C00393181      NaN
2155                   NaN       169895  H0NV01078  C00350454      NaN
2156                     W       102232  H0NV01078  C00350454      NaN
...                    ...          ...        ...        ...      ...
458501                 NaN         2082        NaN        NaN      NaN
458502                 NaN          296        NaN        NaN      NaN
458503                 NaN         6711        NaN        NaN      NaN
458504                 NaN         1137        NaN        NaN      NaN
458505                 NaN         3986        NaN        NaN      NaN
458506                 NaN         2357        NaN        NaN      NaN
458507                 NaN         1080        NaN        NaN      NaN
458508                 NaN         4340        NaN        NaN      NaN
458509                 NaN         6951        NaN        NaN      NaN
458510                 NaN         9389        NaN        NaN      NaN
458511                 NaN         6937        NaN        NaN      NaN
458512                 NaN         3800        NaN        NaN      NaN
458513                 NaN            6        NaN        NaN      NaN
458514                 NaN         3212        NaN        NaN      NaN
458515                 NaN         8622        NaN        NaN      NaN
458516                 NaN         2489        NaN        NaN      NaN
458517                 NaN         4685        NaN        NaN      NaN
458518                 NaN         2737        NaN        NaN      NaN
458519                 NaN            0        NaN        NaN      NaN
458520                 NaN        26735        NaN        NaN      NaN
458521                 NaN         5269        NaN        NaN      NaN
458522                 NaN        19238        NaN        NaN      NaN
458523                 NaN          799        NaN        NaN      NaN
458524                 NaN          397        NaN        NaN      NaN
458525                 NaN          295        NaN        NaN      NaN
458526                 NaN         2592        NaN        NaN      NaN
458527                 NaN          586        NaN        NaN      NaN
458528                 NaN        15838        NaN        NaN      NaN
458529                 NaN         1282        NaN        NaN      NaN
458530                 NaN          696        NaN        NaN      NaN

       category  cycle
187         NaN    NaN
188         NaN    NaN
264         NaN    NaN
282         NaN    NaN
283         NaN    NaN
284         NaN    NaN
285         NaN    NaN
286         NaN    NaN
287         NaN    NaN
288         NaN    NaN
289         NaN    NaN
1063        NaN    NaN
1064        NaN    NaN
1081        NaN    NaN
1382        NaN    NaN
1383        NaN    NaN
1384        NaN    NaN
1775        NaN    NaN
1776        NaN    NaN
2029        NaN    NaN
2030        NaN    NaN
2031        NaN    NaN
2032        NaN    NaN
2033        NaN    NaN
2034        NaN    NaN
2152        NaN    NaN
2153        NaN    NaN
2154        NaN    NaN
2155        NaN    NaN
2156        NaN    NaN
...         ...    ...
458501      NaN    NaN
458502      NaN    NaN
458503      NaN    NaN
458504      NaN    NaN
458505      NaN    NaN
458506      NaN    NaN
458507      NaN    NaN
458508      NaN    NaN
458509      NaN    NaN
458510      NaN    NaN
458511      NaN    NaN
458512      NaN    NaN
458513      NaN    NaN
458514      NaN    NaN
458515      NaN    NaN
458516      NaN    NaN
458517      NaN    NaN
458518      NaN    NaN
458519      NaN    NaN
458520      NaN    NaN
458521      NaN    NaN
458522      NaN    NaN
458523      NaN    NaN
458524      NaN    NaN
458525      NaN    NaN
458526      NaN    NaN
458527      NaN    NaN
458528      NaN    NaN
458529      NaN    NaN
458530      NaN    NaN

[20997 rows x 15 columns]

In [185]:
exp = exp[pd.notnull(exp['cycle'])]

In [186]:
exp['cycle'] = exp['cycle'].astype(int).astype('str')

In [187]:
exp.head()

,state_abbreviation,district,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes,cand_id,cmte_id,exp_sum,category,cycle
0,AL,7,(I),D,0.0,NaN,228518.0,NaN,W,228518,H0AL07060,C00347872,1363.96,NaN,2012
1,AL,7,(I),DEM,93586.0,NaN,133870.0,NaN,W,227456,H0AL07060,C00347872,1363.96,NaN,2012
2,AL,7,(I),D,58193.0,NaN,183408.0,NaN,W,241601,H0AL07060,C00347872,1363.96,NaN,2012
3,AL,7,(I),D,0.0,NaN,228518.0,NaN,W,228518,H0AL07060,C00347872,1204248.81,NaN,2010
4,AL,7,(I),DEM,93586.0,NaN,133870.0,NaN,W,227456,H0AL07060,C00347872,1204248.81,NaN,2010

In [188]:
catsort.head()

,cand_id,cycle,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,total
0,H6FL19038,2006,281886.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,H2NY17071,2004,4500.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H8TX27023,2008,12900.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,H8OH18088,2012,30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,H0SC01071,2008,83183.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [189]:
#catsort['cycle']=catsort['cycle'].astype('str')

In [190]:
print(catsort.dtypes)

cand_id     object
cycle       object
c1         float64
c2         float64
c3         float64
c4         float64
c5         float64
c6         float64
c7         float64
c8         float64
c9         float64
c10        float64
c11        float64
c12        float64
c13        float64
total      float64
dtype: object

In [191]:
cs1 = catsort

In [192]:
cs1 = cs1.drop(['c2','c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis=1)

In [193]:
cs1.head()

     cand_id cycle         c1
0  H6FL19038  2006  281886.64
1  H2NY17071  2004    4500.00
2  H8TX27023  2008   12900.00
3  H8OH18088  2012      30.00
4  H0SC01071  2008   83183.76

In [194]:
cs1.set_index(['cand_id','cycle'], inplace=True)

In [195]:
print(cs1)

                         c1
cand_id   cycle
H6FL19038 2006    281886.64
H2NY17071 2004      4500.00
H8TX27023 2008     12900.00
H8OH18088 2012        30.00
H0SC01071 2008     83183.76
S0CA00199 2010     65563.32
S0MI00056 2014     49863.62
H2GA12113 2012    162924.41
H8NJ03156 2010     48652.69
H6AZ08020 2006     21606.11
H4WV03070 2014      2826.00
H4WI04191 2006       966.06
H8VA10072 2008      4602.00
H2MA01202 2012     13388.58
H6WV03083 2006      1652.00
H8WY00148 2012     68895.65
H8WI01024 2014    356582.98
H6TX09033 2004   1143785.48
H0IN07157 2012     28824.84
H2MI11042 2014      1938.75
H0FL12150 2010     11395.96
H8AL05109 2012     10019.08
H8VA11039 2010      6902.86
H2MN08103 2012     22125.35
H4TX19136 2012      4743.92
S2CA00286 2006       595.15
H0WI07051 2012      1965.96
H0NY02085 2010   1625923.74
H4TN06051 2008     86814.26
H8CA37137 2012    390071.78
...                     ...
H0MA06072 2012          NaN
H0AZ01267 2012          NaN
S4SC00083 2006          NaN
H6TX09033 2004          NaN
S8NM00184 2014          NaN
H6OH15104 2014          NaN
H2TX21094 2012          NaN
S8ID00027 2010          NaN
H4PA08074 2006          NaN
S0NY00410 2012          NaN
S0NH00219 2008          NaN
H4TX09095 2008          NaN
H6HI02301 2006          NaN
S2MO00353 2006          NaN
H8OH01043 2008          NaN
H0NY27066 2010          NaN
H2AL05094 2014          NaN
H0KY03226 2010          NaN
H8NC11061 2012          NaN
H6CA27272 2006          NaN
H2ND00057 2008          NaN
S2GA00118 2008          NaN
S6MO00297 2010          NaN
H8AZ05071 2008          NaN
H2AZ07070 2014          NaN
H2GA05133 2012          NaN
H8OH05044 2004          NaN
H0WA02098 2012          NaN
H0WV01072 2014          NaN
S0AR00069 2014          NaN

[42090 rows x 1 columns]

In [196]:
cs1.head()

                        c1
cand_id   cycle
H6FL19038 2006   281886.64
H2NY17071 2004     4500.00
H8TX27023 2008    12900.00
H8OH18088 2012       30.00
H0SC01071 2008    83183.76

In [199]:
#test
cs1.loc["H0SC01071", '2006']

/Users/adammorris/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  from ipykernel import kernelapp as app

                       c1
cand_id   cycle
H0SC01071 2006   34484.85
          2006        NaN
          2006        NaN
          2006        NaN
          2006        NaN
          2006        NaN
          2006        NaN

In [200]:
agg_df = cs1.sum(level=['cand_id','cycle'])
print(agg_df)

                        c1
cand_id   cycle
H0AK00089 2010      550.00
          2012         NaN
H0AK01038 2010     1569.23
H0AL00016 2010    19831.34
H0AL01030 2010     7054.34
          2012     3480.00
H0AL02087 2010         NaN
          2012    11727.82
          2014    12132.25
H0AL02103 2010     2197.40
H0AL02111 2010     4897.58
H0AL03184 2010       14.95
H0AL05049 2004         NaN
          2006         NaN
          2008         NaN
          2010     5818.75
          2012    11016.15
          2014     4592.00
H0AL05155 2010    56555.95
          2012         NaN
H0AL05163 2010    54616.04
          2012    54178.00
          2014    15420.65
H0AL05171 2010     8174.82
H0AL05189 2010     1082.20
H0AL05197 2010         NaN
          2012         NaN
H0AL07060 2004         NaN
          2006         NaN
          2008         NaN
...                    ...
S8TN00246 2008         NaN
S8TX00202 2008         NaN
          2010         NaN
S8TX00228 2008         NaN
S8VA00214 2004     1500.00
          2006      747.99
          2008      250.00
          2012   116540.57
          2014         NaN
S8VA00255 2008         NaN
          2010         NaN
S8VA00263 2008         NaN
          2012         NaN
          2014         NaN
S8WA00194 2006         NaN
          2008         NaN
          2010         NaN
          2012         NaN
          2014         NaN
S8WI00026 2006         NaN
          2008         NaN
          2010         NaN
          2012         NaN
          2014         NaN
S8WI00158 2012     2377.63
          2014         NaN
S8WV00093 2008         NaN
S8WV00101 2010     2318.01
S8WY00163 2008         NaN
S8WY00171 2008         NaN

[10765 rows x 1 columns]

In [203]:
#test
agg_df.loc['H0SC01071','2006']

c1    34484.85
Name: (H0SC01071, 2006), dtype: float64

In [204]:
#cs1 = cs1[pd.notnull(cs1['c1'])]

In [205]:
#cs1 = cs1.drop_duplicates()

In [206]:
#cs1.groupby(['cand_id','cycle'])['c1'].sum()

In [207]:
cs2 = catsort

In [208]:
cs2 = cs2.drop(['c1','c3','c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis =1)

In [209]:
cs2.set_index(['cand_id','cycle'], inplace=True)

In [210]:
print(cs2)

                 c2
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN
S0CA00199 2010  NaN
S0MI00056 2014  NaN
H2GA12113 2012  NaN
H8NJ03156 2010  NaN
H6AZ08020 2006  NaN
H4WV03070 2014  NaN
H4WI04191 2006  NaN
H8VA10072 2008  NaN
H2MA01202 2012  NaN
H6WV03083 2006  NaN
H8WY00148 2012  NaN
H8WI01024 2014  NaN
H6TX09033 2004  NaN
H0IN07157 2012  NaN
H2MI11042 2014  NaN
H0FL12150 2010  NaN
H8AL05109 2012  NaN
H8VA11039 2010  NaN
H2MN08103 2012  NaN
H4TX19136 2012  NaN
S2CA00286 2006  NaN
H0WI07051 2012  NaN
H0NY02085 2010  NaN
H4TN06051 2008  NaN
H8CA37137 2012  NaN
...              ..
H0MA06072 2012  NaN
H0AZ01267 2012  NaN
S4SC00083 2006  NaN
H6TX09033 2004  NaN
S8NM00184 2014  NaN
H6OH15104 2014  NaN
H2TX21094 2012  NaN
S8ID00027 2010  NaN
H4PA08074 2006  NaN
S0NY00410 2012  NaN
S0NH00219 2008  NaN
H4TX09095 2008  NaN
H6HI02301 2006  NaN
S2MO00353 2006  NaN
H8OH01043 2008  NaN
H0NY27066 2010  NaN
H2AL05094 2014  NaN
H0KY03226 2010  NaN
H8NC11061 2012  NaN
H6CA27272 2006  NaN
H2ND00057 2008  NaN
S2GA00118 2008  NaN
S6MO00297 2010  NaN
H8AZ05071 2008  NaN
H2AZ07070 2014  NaN
H2GA05133 2012  NaN
H8OH05044 2004  NaN
H0WA02098 2012  NaN
H0WV01072 2014  NaN
S0AR00069 2014  NaN

[42090 rows x 1 columns]

In [211]:
#cs2 = catsort

In [212]:
cs2.head()

                 c2
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN

In [213]:
#cs2 = cs2[pd.notnull(cs2['c2'])]

In [215]:
#test
cs2.loc["H2NY17071", '2004']

/Users/adammorris/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  from ipykernel import kernelapp as app

                       c2
cand_id   cycle
H2NY17071 2004        NaN
          2004        NaN
          2004   12621.75
          2004        NaN
          2004        NaN
          2004        NaN
          2004        NaN
          2004        NaN
          2004        NaN
          2004        NaN
          2004        NaN

In [216]:
agg_df = cs2.sum(level=['cand_id','cycle'])
print(agg_df)

                       c2
cand_id   cycle
H0AK00089 2010        NaN
          2012        NaN
H0AK01038 2010      88.93
H0AL00016 2010     909.80
H0AL01030 2010    5233.32
          2012      27.72
H0AL02087 2010        NaN
          2012        NaN
          2014        NaN
H0AL02103 2010        NaN
H0AL02111 2010        NaN
H0AL03184 2010    1441.91
H0AL05049 2004        NaN
          2006        NaN
          2008        NaN
          2010        NaN
          2012        NaN
          2014        NaN
H0AL05155 2010   15549.94
          2012        NaN
H0AL05163 2010    2343.79
          2012    8154.95
          2014    8540.32
H0AL05171 2010        NaN
H0AL05189 2010        NaN
H0AL05197 2010        NaN
          2012        NaN
H0AL07060 2004        NaN
          2006        NaN
          2008        NaN
...                   ...
S8TN00246 2008        NaN
S8TX00202 2008        NaN
          2010        NaN
S8TX00228 2008        NaN
S8VA00214 2004        NaN
          2006        NaN
          2008        NaN
          2012        NaN
          2014        NaN
S8VA00255 2008        NaN
          2010        NaN
S8VA00263 2008        NaN
          2012        NaN
          2014        NaN
S8WA00194 2006        NaN
          2008        NaN
          2010        NaN
          2012        NaN
          2014        NaN
S8WI00026 2006        NaN
          2008        NaN
          2010        NaN
          2012        NaN
          2014        NaN
S8WI00158 2012     475.00
          2014        NaN
S8WV00093 2008        NaN
S8WV00101 2010        NaN
S8WY00163 2008        NaN
S8WY00171 2008        NaN

[10765 rows x 1 columns]

In [ ]:
#cs2.drop_duplicates()

In [217]:
#test
agg_df.loc['H0NC11118','2010']

c2    4715.72
Name: (H0NC11118, 2010), dtype: float64

In [218]:
cs2.head()

                 c2
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN

In [219]:
#test
agg_df.loc['H2NY17071','2004']

c2    12621.75
Name: (H2NY17071, 2004), dtype: float64

In [ ]:
#cs2.groupby(['cand_id','cycle'])['c2'].sum()

In [220]:
cs3 = catsort

In [221]:
cs3 = cs3.drop(['c1', 'c2', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [ ]:
#cs3 = cs3[pd.notnull(cs3['c3'])]

In [222]:
cs3.head()

     cand_id cycle  c3
0  H6FL19038  2006 NaN
1  H2NY17071  2004 NaN
2  H8TX27023  2008 NaN
3  H8OH18088  2012 NaN
4  H0SC01071  2008 NaN

In [223]:
cs3.set_index(['cand_id','cycle'], inplace=True)

In [ ]:
#cs3.groupby(['cand_id','cycle'])['c3'].sum()

In [224]:
cs3.head()

                 c3
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN

In [ ]:
#cs3 = cs3.drop_duplicates()

In [225]:
agg_df = cs3.sum(level=['cand_id','cycle'])
print(agg_df)

                        c3
cand_id   cycle
H0AK00089 2010         NaN
          2012         NaN
H0AK01038 2010         NaN
H0AL00016 2010       81.19
H0AL01030 2010      668.95
          2012      381.09
H0AL02087 2010         NaN
          2012    16964.09
          2014    16866.78
H0AL02103 2010         NaN
H0AL02111 2010      484.62
H0AL03184 2010         NaN
H0AL05049 2004         NaN
          2006         NaN
          2008         NaN
          2010         NaN
          2012         NaN
          2014         NaN
H0AL05155 2010   266006.98
          2012     4745.35
H0AL05163 2010    71452.12
          2012   121673.90
          2014    91996.02
H0AL05171 2010         NaN
H0AL05189 2010         NaN
H0AL05197 2010         NaN
          2012         NaN
H0AL07060 2004         NaN
          2006         NaN
          2008         NaN
...                    ...
S8TN00246 2008         NaN
S8TX00202 2008         NaN
          2010         NaN
S8TX00228 2008         NaN
S8VA00214 2004     5112.83
          2006     6585.79
          2008         NaN
          2012    53277.88
          2014         NaN
S8VA00255 2008         NaN
          2010         NaN
S8VA00263 2008         NaN
          2012         NaN
          2014         NaN
S8WA00194 2006         NaN
          2008         NaN
          2010         NaN
          2012         NaN
          2014         NaN
S8WI00026 2006         NaN
          2008         NaN
          2010         NaN
          2012         NaN
          2014         NaN
S8WI00158 2012         NaN
          2014         NaN
S8WV00093 2008         NaN
S8WV00101 2010         NaN
S8WY00163 2008         NaN
S8WY00171 2008         NaN

[10765 rows x 1 columns]

In [226]:
#test
agg_df.loc['S8VA00214','2006']

c3    6585.79
Name: (S8VA00214, 2006), dtype: float64

In [227]:
cs4 = catsort

In [228]:
cs4 = cs4.drop(['c1', 'c2', 'c3', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [ ]:
#cs4 = cs4[pd.notnull(cs4['c4'])]

In [ ]:
#cs4.groupby(['cand_id','cycle'])['c4'].sum()

In [ ]:
#cs4 = cs4.drop_duplicates()

In [229]:
cs4.set_index(['cand_id','cycle'], inplace=True)

In [230]:
cs4.head()

                 c4
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN

In [231]:
agg_df = cs4.sum(level=['cand_id','cycle'])
print(agg_df)

                        c4
cand_id   cycle
H0AK00089 2010         NaN
          2012         NaN
H0AK01038 2010         NaN
H0AL00016 2010      465.00
H0AL01030 2010    27082.28
          2012     7257.71
H0AL02087 2010         NaN
          2012         NaN
          2014         NaN
H0AL02103 2010         NaN
H0AL02111 2010     8403.45
H0AL03184 2010     5000.00
H0AL05049 2004         NaN
          2006         NaN
          2008         NaN
          2010         NaN
          2012         NaN
          2014         NaN
H0AL05155 2010    20809.92
          2012         NaN
H0AL05163 2010   547321.04
          2012   165131.27
          2014    81481.66
H0AL05171 2010    40231.96
H0AL05189 2010         NaN
H0AL05197 2010      595.35
          2012         NaN
H0AL07060 2004         NaN
          2006         NaN
          2008         NaN
...                    ...
S8TN00246 2008         NaN
S8TX00202 2008         NaN
          2010         NaN
S8TX00228 2008         NaN
S8VA00214 2004         NaN
          2006         NaN
          2008         NaN
          2012         NaN
          2014         NaN
S8VA00255 2008         NaN
          2010         NaN
S8VA00263 2008         NaN
          2012         NaN
          2014         NaN
S8WA00194 2006         NaN
          2008         NaN
          2010         NaN
          2012         NaN
          2014         NaN
S8WI00026 2006         NaN
          2008         NaN
          2010         NaN
          2012         NaN
          2014         NaN
S8WI00158 2012         NaN
          2014         NaN
S8WV00093 2008         NaN
S8WV00101 2010         NaN
S8WY00163 2008         NaN
S8WY00171 2008         NaN

[10765 rows x 1 columns]

In [232]:
cs5 = catsort

In [233]:
cs5 = cs5.drop(['c1', 'c2', 'c3', 'c4', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [ ]:
#cs5 = cs5[pd.notnull(cs5['c5'])]

In [ ]:
#cs5.groupby(['cand_id','cycle'])['c5'].sum()

In [ ]:
#cs5 = cs5.drop_duplicates()

In [234]:
cs5.set_index(['cand_id','cycle'], inplace=True)

In [235]:
cs5.head()

                 c5
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN

In [236]:
agg_df = cs5.sum(level=['cand_id','cycle'])
print(agg_df)

                      c5
cand_id   cycle
H0AK00089 2010       NaN
          2012       NaN
H0AK01038 2010       NaN
H0AL00016 2010       NaN
H0AL01030 2010    1175.0
          2012       NaN
H0AL02087 2010       NaN
          2012       NaN
          2014       NaN
H0AL02103 2010       NaN
H0AL02111 2010       NaN
H0AL03184 2010       NaN
H0AL05049 2004       NaN
          2006       NaN
          2008       NaN
          2010       NaN
          2012       NaN
          2014       NaN
H0AL05155 2010       NaN
          2012       NaN
H0AL05163 2010   27000.0
          2012   17000.0
          2014   15000.0
H0AL05171 2010       NaN
H0AL05189 2010       NaN
H0AL05197 2010       NaN
          2012       NaN
H0AL07060 2004       NaN
          2006       NaN
          2008       NaN
...                  ...
S8TN00246 2008       NaN
S8TX00202 2008       NaN
          2010       NaN
S8TX00228 2008       NaN
S8VA00214 2004       NaN
          2006       NaN
          2008       NaN
          2012       NaN
          2014       NaN
S8VA00255 2008       NaN
          2010       NaN
S8VA00263 2008       NaN
          2012       NaN
          2014       NaN
S8WA00194 2006       NaN
          2008       NaN
          2010       NaN
          2012       NaN
          2014       NaN
S8WI00026 2006       NaN
          2008       NaN
          2010       NaN
          2012       NaN
          2014       NaN
S8WI00158 2012       NaN
          2014       NaN
S8WV00093 2008       NaN
S8WV00101 2010       NaN
S8WY00163 2008       NaN
S8WY00171 2008       NaN

[10765 rows x 1 columns]

In [237]:
#test
agg_df.loc['H0CA02138','2010']

c5    16750.0
Name: (H0CA02138, 2010), dtype: float64

In [238]:
cs5.head()

                 c5
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN

In [239]:
cs6 = catsort

In [240]:
cs6 = cs6.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [ ]:
#cs6 = cs6[pd.notnull(cs6['c6'])]

In [ ]:
#cs6.groupby(['cand_id','cycle'])['c6'].sum()

In [ ]:
#cs6 = cs6.drop_duplicates()

In [241]:
cs6.set_index(['cand_id','cycle'], inplace=True)

In [242]:
cs6.head()

                 c6
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN

In [243]:
agg_df = cs6.sum(level=['cand_id','cycle'])
print(agg_df)

                       c6
cand_id   cycle
H0AK00089 2010     785.00
          2012        NaN
H0AK01038 2010        NaN
H0AL00016 2010    3177.55
H0AL01030 2010    1295.21
          2012        NaN
H0AL02087 2010        NaN
          2012        NaN
          2014        NaN
H0AL02103 2010        NaN
H0AL02111 2010    7489.74
H0AL03184 2010    2293.50
H0AL05049 2004        NaN
          2006        NaN
          2008        NaN
          2010        NaN
          2012        NaN
          2014        NaN
H0AL05155 2010        NaN
          2012        NaN
H0AL05163 2010   66857.04
          2012   16138.18
          2014   11833.66
H0AL05171 2010    5993.05
H0AL05189 2010        NaN
H0AL05197 2010        NaN
          2012        NaN
H0AL07060 2004        NaN
          2006        NaN
          2008        NaN
...                   ...
S8TN00246 2008        NaN
S8TX00202 2008        NaN
          2010        NaN
S8TX00228 2008        NaN
S8VA00214 2004        NaN
          2006        NaN
          2008        NaN
          2012        NaN
          2014        NaN
S8VA00255 2008        NaN
          2010        NaN
S8VA00263 2008        NaN
          2012        NaN
          2014        NaN
S8WA00194 2006        NaN
          2008        NaN
          2010        NaN
          2012        NaN
          2014        NaN
S8WI00026 2006        NaN
          2008        NaN
          2010        NaN
          2012        NaN
          2014        NaN
S8WI00158 2012        NaN
          2014        NaN
S8WV00093 2008        NaN
S8WV00101 2010        NaN
S8WY00163 2008        NaN
S8WY00171 2008        NaN

[10765 rows x 1 columns]

In [244]:
cs6.head()

                 c6
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN

In [245]:
#test
agg_df.loc['H0AR01109','2010']

c6    6671.16
Name: (H0AR01109, 2010), dtype: float64

In [246]:
cs7 = catsort

In [247]:
cs7 = cs7.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [ ]:
#cs7 = cs7[pd.notnull(cs7['c7'])]

In [ ]:
#cs7.groupby(['cand_id','cycle'])['c7'].sum()

In [ ]:
#cs7 = cs7.drop_duplicates()

In [248]:
cs7.set_index(['cand_id','cycle'], inplace=True)

In [249]:
cs7.head()

                 c7
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN

In [250]:
agg_df = cs7.sum(level=['cand_id','cycle'])
print(agg_df)

                       c7
cand_id   cycle
H0AK00089 2010        NaN
          2012        NaN
H0AK01038 2010        NaN
H0AL00016 2010    2192.99
H0AL01030 2010     583.75
          2012      56.58
H0AL02087 2010        NaN
          2012        NaN
          2014        NaN
H0AL02103 2010        NaN
H0AL02111 2010        NaN
H0AL03184 2010        NaN
H0AL05049 2004        NaN
          2006        NaN
          2008        NaN
          2010        NaN
          2012        NaN
          2014        NaN
H0AL05155 2010   47101.73
          2012        NaN
H0AL05163 2010    9362.66
          2012    9083.92
          2014    2350.00
H0AL05171 2010        NaN
H0AL05189 2010     205.00
H0AL05197 2010        NaN
          2012        NaN
H0AL07060 2004        NaN
          2006        NaN
          2008        NaN
...                   ...
S8TN00246 2008        NaN
S8TX00202 2008        NaN
          2010        NaN
S8TX00228 2008        NaN
S8VA00214 2004        NaN
          2006        NaN
          2008        NaN
          2012    1516.16
          2014        NaN
S8VA00255 2008        NaN
          2010        NaN
S8VA00263 2008        NaN
          2012        NaN
          2014        NaN
S8WA00194 2006        NaN
          2008        NaN
          2010        NaN
          2012        NaN
          2014        NaN
S8WI00026 2006        NaN
          2008        NaN
          2010        NaN
          2012        NaN
          2014        NaN
S8WI00158 2012        NaN
          2014        NaN
S8WV00093 2008        NaN
S8WV00101 2010      86.42
S8WY00163 2008        NaN
S8WY00171 2008        NaN

[10765 rows x 1 columns]

In [251]:
#test
agg_df.loc['H0AL02087','2010']

c7   NaN
Name: (H0AL02087, 2010), dtype: float64

In [252]:
cs8 = catsort

In [253]:
cs8 = cs8.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c9', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [ ]:
#cs8 = cs8[pd.notnull(cs8['c8'])]

In [ ]:
#cs8.groupby(['cand_id','cycle'])['c8'].sum()

In [ ]:
#cs8 = cs8.drop_duplicates()

In [254]:
cs8.head()

     cand_id cycle  c8
0  H6FL19038  2006 NaN
1  H2NY17071  2004 NaN
2  H8TX27023  2008 NaN
3  H8OH18088  2012 NaN
4  H0SC01071  2008 NaN

In [255]:
cs8.set_index(['cand_id','cycle'], inplace=True)

In [256]:
cs8.head()

                 c8
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN

In [257]:
agg_df = cs8.sum(level=['cand_id','cycle'])
print(agg_df)

                    c8
cand_id   cycle
H0AK00089 2010     NaN
          2012     NaN
H0AK01038 2010     NaN
H0AL00016 2010     NaN
H0AL01030 2010     NaN
          2012     NaN
H0AL02087 2010     NaN
          2012     NaN
          2014     NaN
H0AL02103 2010     NaN
H0AL02111 2010     NaN
H0AL03184 2010     NaN
H0AL05049 2004     NaN
          2006     NaN
          2008     NaN
          2010     NaN
          2012     NaN
          2014     NaN
H0AL05155 2010     NaN
          2012     NaN
H0AL05163 2010   249.0
          2012     NaN
          2014     NaN
H0AL05171 2010     NaN
H0AL05189 2010     NaN
H0AL05197 2010     NaN
          2012     NaN
H0AL07060 2004     NaN
          2006     NaN
          2008     NaN
...                ...
S8TN00246 2008     NaN
S8TX00202 2008     NaN
          2010     NaN
S8TX00228 2008     NaN
S8VA00214 2004     NaN
          2006     NaN
          2008     NaN
          2012     NaN
          2014     NaN
S8VA00255 2008     NaN
          2010     NaN
S8VA00263 2008     NaN
          2012     NaN
          2014     NaN
S8WA00194 2006     NaN
          2008     NaN
          2010     NaN
          2012     NaN
          2014     NaN
S8WI00026 2006     NaN
          2008     NaN
          2010     NaN
          2012     NaN
          2014     NaN
S8WI00158 2012     NaN
          2014     NaN
S8WV00093 2008     NaN
S8WV00101 2010     NaN
S8WY00163 2008     NaN
S8WY00171 2008     NaN

[10765 rows x 1 columns]

In [258]:
#test
agg_df.loc['S8WV00093','2008']

c8   NaN
Name: (S8WV00093, 2008), dtype: float64

In [259]:
cs9 = catsort

In [260]:
cs9 = cs9.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c10', 'c11', 'c12', 'c13','total'], axis = 1)

In [ ]:
#cs9 = cs9[pd.notnull(cs9['c9'])]

In [ ]:
#cs9.groupby(['cand_id','cycle'])['c9'].sum()

In [ ]:
#cs9 = cs9.drop_duplicates()

In [261]:
cs9.set_index(['cand_id','cycle'], inplace=True)

In [262]:
agg_df = cs9.sum(level=['cand_id','cycle'])
print(agg_df)

                 c9
cand_id   cycle
H0AK00089 2010  NaN
          2012  NaN
H0AK01038 2010  NaN
H0AL00016 2010  NaN
H0AL01030 2010  NaN
          2012  NaN
H0AL02087 2010  NaN
          2012  NaN
          2014  NaN
H0AL02103 2010  NaN
H0AL02111 2010  NaN
H0AL03184 2010  NaN
H0AL05049 2004  NaN
          2006  NaN
          2008  NaN
          2010  NaN
          2012  NaN
          2014  NaN
H0AL05155 2010  NaN
          2012  NaN
H0AL05163 2010  NaN
          2012  NaN
          2014  NaN
H0AL05171 2010  NaN
H0AL05189 2010  NaN
H0AL05197 2010  NaN
          2012  NaN
H0AL07060 2004  NaN
          2006  NaN
          2008  NaN
...              ..
S8TN00246 2008  NaN
S8TX00202 2008  NaN
          2010  NaN
S8TX00228 2008  NaN
S8VA00214 2004  NaN
          2006  NaN
          2008  NaN
          2012  NaN
          2014  NaN
S8VA00255 2008  NaN
          2010  NaN
S8VA00263 2008  NaN
          2012  NaN
          2014  NaN
S8WA00194 2006  NaN
          2008  NaN
          2010  NaN
          2012  NaN
          2014  NaN
S8WI00026 2006  NaN
          2008  NaN
          2010  NaN
          2012  NaN
          2014  NaN
S8WI00158 2012  NaN
          2014  NaN
S8WV00093 2008  NaN
S8WV00101 2010  NaN
S8WY00163 2008  NaN
S8WY00171 2008  NaN

[10765 rows x 1 columns]

In [263]:
cs9.head()

                 c9
cand_id   cycle
H6FL19038 2006  NaN
H2NY17071 2004  NaN
H8TX27023 2008  NaN
H8OH18088 2012  NaN
H0SC01071 2008  NaN

In [264]:
#test
agg_df.loc['H0AL05163','2010']

c9   NaN
Name: (H0AL05163, 2010), dtype: float64

In [265]:
cs10 = catsort

In [266]:
cs10 = cs10.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c11', 'c12', 'c13','total'], axis = 1)

In [ ]:
#cs10 = cs10[pd.notnull(cs10['c10'])]

In [ ]:
#cs10.groupby(['cand_id','cycle'])['c10'].sum()

In [ ]:
#cs10 = cs10.drop_duplicates()

In [267]:
cs10.set_index(['cand_id','cycle'], inplace=True)

In [268]:
cs10.head()

                 c10
cand_id   cycle
H6FL19038 2006   NaN
H2NY17071 2004   NaN
H8TX27023 2008   NaN
H8OH18088 2012   NaN
H0SC01071 2008   NaN

In [269]:
agg_df = cs10.sum(level=['cand_id','cycle'])
print(agg_df)

                   c10
cand_id   cycle
H0AK00089 2010     NaN
          2012     NaN
H0AK01038 2010     NaN
H0AL00016 2010     NaN
H0AL01030 2010     NaN
          2012     NaN
H0AL02087 2010     NaN
          2012     NaN
          2014     NaN
H0AL02103 2010     NaN
H0AL02111 2010     NaN
H0AL03184 2010     NaN
H0AL05049 2004     NaN
          2006     NaN
          2008     NaN
          2010     NaN
          2012     NaN
          2014     NaN
H0AL05155 2010   610.0
          2012     NaN
H0AL05163 2010     NaN
          2012     NaN
          2014     NaN
H0AL05171 2010     NaN
H0AL05189 2010     NaN
H0AL05197 2010     NaN
          2012     NaN
H0AL07060 2004     NaN
          2006     NaN
          2008     NaN
...                ...
S8TN00246 2008     NaN
S8TX00202 2008     NaN
          2010     NaN
S8TX00228 2008     NaN
S8VA00214 2004     NaN
          2006     NaN
          2008     NaN
          2012     NaN
          2014     NaN
S8VA00255 2008     NaN
          2010     NaN
S8VA00263 2008     NaN
          2012     NaN
          2014     NaN
S8WA00194 2006     NaN
          2008     NaN
          2010     NaN
          2012     NaN
          2014     NaN
S8WI00026 2006     NaN
          2008     NaN
          2010     NaN
          2012     NaN
          2014     NaN
S8WI00158 2012     NaN
          2014     NaN
S8WV00093 2008     NaN
S8WV00101 2010     NaN
S8WY00163 2008     NaN
S8WY00171 2008     NaN

[10765 rows x 1 columns]

In [270]:
#test
agg_df.loc['H0AL05155','2010']

c10    610.0
Name: (H0AL05155, 2010), dtype: float64

In [271]:
cs11 = catsort

In [272]:
cs11 = cs11.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c12', 'c13','total'], axis = 1)

In [273]:
cs11.head()

     cand_id cycle  c11
0  H6FL19038  2006  NaN
1  H2NY17071  2004  NaN
2  H8TX27023  2008  NaN
3  H8OH18088  2012  NaN
4  H0SC01071  2008  NaN

In [ ]:
#cs11 = cs11[pd.notnull(cs11['c11'])]

In [ ]:
#cs11.groupby(['cand_id','cycle'])['c11'].sum()

In [ ]:
#cs11 = cs11.drop_duplicates()

In [274]:
cs11.set_index(['cand_id','cycle'], inplace=True)

In [275]:
cs11.head()

                 c11
cand_id   cycle
H6FL19038 2006   NaN
H2NY17071 2004   NaN
H8TX27023 2008   NaN
H8OH18088 2012   NaN
H0SC01071 2008   NaN

In [276]:
agg_df = cs11.sum(level=['cand_id','cycle'])
print(agg_df)

                   c11
cand_id   cycle
H0AK00089 2010     NaN
          2012     NaN
H0AK01038 2010     NaN
H0AL00016 2010     NaN
H0AL01030 2010     NaN
          2012     NaN
H0AL02087 2010     NaN
          2012     NaN
          2014     NaN
H0AL02103 2010     NaN
H0AL02111 2010     NaN
H0AL03184 2010     NaN
H0AL05049 2004     NaN
          2006     NaN
          2008     NaN
          2010     NaN
          2012     NaN
          2014     NaN
H0AL05155 2010     NaN
          2012     NaN
H0AL05163 2010     NaN
          2012     NaN
          2014     NaN
H0AL05171 2010     NaN
H0AL05189 2010     NaN
H0AL05197 2010   500.0
          2012     NaN
H0AL07060 2004     NaN
          2006     NaN
          2008     NaN
...                ...
S8TN00246 2008     NaN
S8TX00202 2008     NaN
          2010     NaN
S8TX00228 2008     NaN
S8VA00214 2004     NaN
          2006     NaN
          2008     NaN
          2012     NaN
          2014     NaN
S8VA00255 2008     NaN
          2010     NaN
S8VA00263 2008     NaN
          2012     NaN
          2014     NaN
S8WA00194 2006     NaN
          2008     NaN
          2010     NaN
          2012     NaN
          2014     NaN
S8WI00026 2006     NaN
          2008     NaN
          2010     NaN
          2012     NaN
          2014     NaN
S8WI00158 2012     NaN
          2014     NaN
S8WV00093 2008     NaN
S8WV00101 2010     NaN
S8WY00163 2008     NaN
S8WY00171 2008     NaN

[10765 rows x 1 columns]

In [277]:
#test
agg_df.loc['H0AL05197','2010']

c11    500.0
Name: (H0AL05197, 2010), dtype: float64

In [278]:
cs12 = catsort

In [279]:
cs12 = cs12.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c13','total'], axis = 1)

In [280]:
cs12.head()

     cand_id cycle  c12
0  H6FL19038  2006  NaN
1  H2NY17071  2004  NaN
2  H8TX27023  2008  NaN
3  H8OH18088  2012  NaN
4  H0SC01071  2008  NaN

In [ ]:
#cs12 = cs12[pd.notnull(cs12['c12'])]

In [ ]:
#cs12.groupby(['cand_id','cycle'])['c12'].sum()

In [ ]:
#cs12 = cs12.drop_duplicates()

In [281]:
cs12.set_index(['cand_id','cycle'], inplace=True)

In [282]:
cs12.head()

                 c12
cand_id   cycle
H6FL19038 2006   NaN
H2NY17071 2004   NaN
H8TX27023 2008   NaN
H8OH18088 2012   NaN
H0SC01071 2008   NaN

In [283]:
agg_df = cs12.sum(level=['cand_id','cycle'])
print(agg_df)

                    c12
cand_id   cycle
H0AK00089 2010      NaN
          2012      NaN
H0AK01038 2010      NaN
H0AL00016 2010    300.0
H0AL01030 2010      NaN
          2012      NaN
H0AL02087 2010      NaN
          2012      NaN
          2014      NaN
H0AL02103 2010      NaN
H0AL02111 2010      NaN
H0AL03184 2010      NaN
H0AL05049 2004      NaN
          2006      NaN
          2008      NaN
          2010      NaN
          2012    500.0
          2014   5000.0
H0AL05155 2010      NaN
          2012      NaN
H0AL05163 2010      NaN
          2012      NaN
          2014      NaN
H0AL05171 2010      NaN
H0AL05189 2010      NaN
H0AL05197 2010      NaN
          2012      NaN
H0AL07060 2004      NaN
          2006      NaN
          2008      NaN
...                 ...
S8TN00246 2008      NaN
S8TX00202 2008      NaN
          2010      NaN
S8TX00228 2008      NaN
S8VA00214 2004      NaN
          2006      NaN
          2008      NaN
          2012      NaN
          2014      NaN
S8VA00255 2008      NaN
          2010      NaN
S8VA00263 2008      NaN
          2012      NaN
          2014      NaN
S8WA00194 2006      NaN
          2008      NaN
          2010      NaN
          2012      NaN
          2014      NaN
S8WI00026 2006      NaN
          2008      NaN
          2010      NaN
          2012      NaN
          2014      NaN
S8WI00158 2012      NaN
          2014      NaN
S8WV00093 2008      NaN
S8WV00101 2010      NaN
S8WY00163 2008      NaN
S8WY00171 2008      NaN

[10765 rows x 1 columns]

In [284]:
#test
agg_df.loc['H0AL05049', '2012']

c12    500.0
Name: (H0AL05049, 2012), dtype: float64

In [285]:
cs13 = catsort

In [286]:
cs13 = cs13.drop(['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12','total'], axis = 1)

In [287]:
cs13.head()

     cand_id cycle  c13
0  H6FL19038  2006  NaN
1  H2NY17071  2004  NaN
2  H8TX27023  2008  NaN
3  H8OH18088  2012  NaN
4  H0SC01071  2008  NaN

In [ ]:
#cs13 = cs13[pd.notnull(cs13['c13'])]

In [ ]:
#cs13.groupby(['cand_id','cycle'])['c13'].sum()

In [ ]:
#cs13 = cs13.drop_duplicates()

In [288]:
cs13.set_index(['cand_id','cycle'], inplace=True)

In [289]:
cs13.head()

                 c13
cand_id   cycle
H6FL19038 2006   NaN
H2NY17071 2004   NaN
H8TX27023 2008   NaN
H8OH18088 2012   NaN
H0SC01071 2008   NaN

In [290]:
agg_df = cs13.sum(level=['cand_id','cycle'])
print(agg_df)

                         c13
cand_id   cycle
H0AK00089 2010     218666.06
          2012       3766.93
H0AK01038 2010     168119.58
H0AL00016 2010           NaN
H0AL01030 2010       1284.15
          2012           NaN
H0AL02087 2010    1403415.39
          2012     666262.07
          2014     541474.45
H0AL02103 2010     127314.17
H0AL02111 2010           NaN
H0AL03184 2010           NaN
H0AL05049 2004     467848.90
          2006     332285.59
          2008     454202.00
          2010      10023.55
          2012        735.00
          2014           NaN
H0AL05155 2010     518734.69
          2012       9324.78
H0AL05163 2010       1626.96
          2012       2321.95
          2014        215.00
H0AL05171 2010      18926.36
H0AL05189 2010     370262.34
H0AL05197 2010     756375.70
          2012     161419.77
H0AL07060 2004    1004122.38
          2006     405922.39
          2008     579570.41
...                      ...
S8TN00246 2008     155202.00
S8TX00202 2008    4061842.00
          2010        723.00
S8TX00228 2008      14396.00
S8VA00214 2004     214384.60
          2006   15703582.53
          2008     181683.63
          2012   14194518.10
          2014      36146.13
S8VA00255 2008    2389603.15
          2010      22641.24
S8VA00263 2008      88847.00
          2012      58640.35
          2014       1067.95
S8WA00194 2006   14223069.42
          2008     899642.00
          2010     931331.42
          2012    8296449.12
          2014     893864.58
S8WI00026 2006    1605292.48
          2008    2327769.00
          2010   14982047.15
          2012    3918602.37
          2014    2470340.41
S8WI00158 2012    3505271.39
          2014      50779.77
S8WV00093 2008     107027.00
S8WV00101 2010           NaN
S8WY00163 2008      15796.00
S8WY00171 2008       6372.00

[10765 rows x 1 columns]

In [291]:
cs13.head()

                 c13
cand_id   cycle
H6FL19038 2006   NaN
H2NY17071 2004   NaN
H8TX27023 2008   NaN
H8OH18088 2012   NaN
H0SC01071 2008   NaN

In [292]:
#test
agg_df.loc['S8WY00163','2008']

c13    15796.0
Name: (S8WY00163, 2008), dtype: float64

In [293]:
pr = exp

In [294]:
pr.head()

,state_abbreviation,district,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes,cand_id,cmte_id,exp_sum,category,cycle
0,AL,7,(I),D,0.0,NaN,228518.0,NaN,W,228518,H0AL07060,C00347872,1363.96,NaN,2012
1,AL,7,(I),DEM,93586.0,NaN,133870.0,NaN,W,227456,H0AL07060,C00347872,1363.96,NaN,2012
2,AL,7,(I),D,58193.0,NaN,183408.0,NaN,W,241601,H0AL07060,C00347872,1363.96,NaN,2012
3,AL,7,(I),D,0.0,NaN,228518.0,NaN,W,228518,H0AL07060,C00347872,1204248.81,NaN,2010
4,AL,7,(I),DEM,93586.0,NaN,133870.0,NaN,W,227456,H0AL07060,C00347872,1204248.81,NaN,2010

In [295]:
pr = pr.drop(['cmte_id', 'exp_sum', 'category'], axis = 1)

In [ ]:
#exp= exp[pd.notnull(cs12['c12'])]

In [296]:
pr.head()

,state_abbreviation,district,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes,cand_id,cycle
0,AL,7,(I),D,0.0,NaN,228518.0,NaN,W,228518,H0AL07060,2012
1,AL,7,(I),DEM,93586.0,NaN,133870.0,NaN,W,227456,H0AL07060,2012
2,AL,7,(I),D,58193.0,NaN,183408.0,NaN,W,241601,H0AL07060,2012
3,AL,7,(I),D,0.0,NaN,228518.0,NaN,W,228518,H0AL07060,2010
4,AL,7,(I),DEM,93586.0,NaN,133870.0,NaN,W,227456,H0AL07060,2010

In [ ]:
#cs10 = cs10.drop_duplicates()

In [297]:
pr.set_index(['cand_id','cycle'], inplace=True)

In [298]:
pr.head()

                state_abbreviation district incumbent party  primary_votes  \
cand_id   cycle
H0AL07060 2012                  AL        7       (I)     D            0.0
          2012                  AL        7       (I)   DEM        93586.0
          2012                  AL        7       (I)     D        58193.0
          2010                  AL        7       (I)     D            0.0
          2010                  AL        7       (I)   DEM        93586.0

                 runoff_votes  general_votes  ge_runoff_election_votes  \
cand_id   cycle
H0AL07060 2012            NaN       228518.0                       NaN
          2012            NaN       133870.0                       NaN
          2012            NaN       183408.0                       NaN
          2010            NaN       228518.0                       NaN
          2010            NaN       133870.0                       NaN

                ge_winner_indicator  total_votes
cand_id   cycle
H0AL07060 2012                    W       228518
          2012                    W       227456
          2012                    W       241601
          2010                    W       228518
          2010                    W       227456

In [299]:
pr['primary_votes'].fillna(0, inplace = True)

In [300]:
pr['runoff_votes'].fillna(0, inplace = True)

In [301]:
pr['ge_runoff_election_votes'].fillna(0, inplace = True)

In [302]:
pr['general_votes'].fillna(0, inplace = True)

In [303]:
pr.head()

                state_abbreviation district incumbent party  primary_votes  \
cand_id   cycle
H0AL07060 2012                  AL        7       (I)     D            0.0
          2012                  AL        7       (I)   DEM        93586.0
          2012                  AL        7       (I)     D        58193.0
          2010                  AL        7       (I)     D            0.0
          2010                  AL        7       (I)   DEM        93586.0

                 runoff_votes  general_votes  ge_runoff_election_votes  \
cand_id   cycle
H0AL07060 2012            0.0       228518.0                       0.0
          2012            0.0       133870.0                       0.0
          2012            0.0       183408.0                       0.0
          2010            0.0       228518.0                       0.0
          2010            0.0       133870.0                       0.0

                ge_winner_indicator  total_votes
cand_id   cycle
H0AL07060 2012                    W       228518
          2012                    W       227456
          2012                    W       241601
          2010                    W       228518
          2010                    W       227456

In [304]:
pr['primary_total'] = pr.primary_votes + pr.runoff_votes

In [305]:
pr.head()

                state_abbreviation district incumbent party  primary_votes  \
cand_id   cycle
H0AL07060 2012                  AL        7       (I)     D            0.0
          2012                  AL        7       (I)   DEM        93586.0
          2012                  AL        7       (I)     D        58193.0
          2010                  AL        7       (I)     D            0.0
          2010                  AL        7       (I)   DEM        93586.0

                 runoff_votes  general_votes  ge_runoff_election_votes  \
cand_id   cycle
H0AL07060 2012            0.0       228518.0                       0.0
          2012            0.0       133870.0                       0.0
          2012            0.0       183408.0                       0.0
          2010            0.0       228518.0                       0.0
          2010            0.0       133870.0                       0.0

                ge_winner_indicator  total_votes  primary_total
cand_id   cycle
H0AL07060 2012                    W       228518            0.0
          2012                    W       227456        93586.0
          2012                    W       241601        58193.0
          2010                    W       228518            0.0
          2010                    W       227456        93586.0

In [306]:
pr['general_total'] = pr.general_votes + pr.ge_runoff_election_votes

In [307]:
pr.head()

                state_abbreviation district incumbent party  primary_votes  \
cand_id   cycle
H0AL07060 2012                  AL        7       (I)     D            0.0
          2012                  AL        7       (I)   DEM        93586.0
          2012                  AL        7       (I)     D        58193.0
          2010                  AL        7       (I)     D            0.0
          2010                  AL        7       (I)   DEM        93586.0

                 runoff_votes  general_votes  ge_runoff_election_votes  \
cand_id   cycle
H0AL07060 2012            0.0       228518.0                       0.0
          2012            0.0       133870.0                       0.0
          2012            0.0       183408.0                       0.0
          2010            0.0       228518.0                       0.0
          2010            0.0       133870.0                       0.0

                ge_winner_indicator  total_votes  primary_total  general_total
cand_id   cycle
H0AL07060 2012                    W       228518            0.0       228518.0
          2012                    W       227456        93586.0       133870.0
          2012                    W       241601        58193.0       183408.0
          2010                    W       228518            0.0       228518.0
          2010                    W       227456        93586.0       133870.0

In [ ]:
#pd.merge(pr,cs1, how = 'left', on = 'cand_id')

In [308]:
RS1 = pr.join(cs1)

In [310]:
RS2 = RS1.join(cs2)

In [311]:
RS3 = RS2.join(cs3)

In [ ]:
RS4 = RS3.join(cs4)

In [ ]:
#cm1 = pd.merge(cs1, cs2, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs3, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs4, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs5, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs6, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs7, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs8, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs9, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs10, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs11, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = pd.merge(csm1, cs12, on=['cand_id','cycle'], how='left')

In [ ]:
#csm1 = csm1.drop(['c13'], axis = 1)

In [ ]:
#csm1 = csm1.drop_duplicates()

In [ ]:
csm1.head(200)

In [ ]:
#cs12.groupby(['cand_id','cycle'])['c12'].sum()

In [ ]:
df.head()

In [ ]:
df = election_spend

In [ ]:
df.drop('id', axis=1, inplace=True)

In [ ]:
df.drop('cand_name', axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
df.count()

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.head(4)

In [ ]:
df.count()

In [ ]:
df.loc[:'H6FL19038']

In [ ]:
df = df[df.total_votes != 0]

In [ ]:
df.head()

In [ ]:
Expense = df[["cand_id","cand_ici","cycle","c1","c2","c3","c4","c5","c6","c7","c8","c9","c10","c11","c12","c13"]]

In [ ]:
Other = df[["cand_id","cand_pty_affiliation","cand_office_st","cand_office","cand_office_district","cand_ici","cycle","total_votes"]]

In [ ]:
Expense.head(10)

In [ ]:
Expense_Update = Expense.drop_duplicates()

In [ ]:
Expense_Update.head()

In [ ]:
results.head()

In [ ]:
df1 = results

In [ ]:
df1.fec_id.apply(str)

In [ ]:
df2 = df1[pd.notnull(df1['fec_id'])]

In [ ]:
df2.head(20)

In [ ]:
df2['incumbent']=df2['incumbent'].fillna(0)

In [ ]:
df2['primary_votes']=df2['primary_votes'].fillna(0)

In [ ]:
df2['runoff_votes']=df2['runoff_votes'].fillna(0)

In [ ]:
df2['general_votes']=df2['general_votes'].fillna(0)

In [ ]:
df2['ge_runoff_election_votes']=df2['ge_runoff_election_votes'].fillna(0)

In [ ]:
df2.head()

In [ ]:
df2['ge_winner_indicator']=df2['ge_winner_indicator'].fillna(0)

In [ ]:
df2.head(20)

In [ ]:
df3 = df2.replace("W",1)

In [ ]:
df3.head(20)

In [ ]:
df4 = df3.replace("(I)",1)

In [ ]:
df4.head(20)

In [ ]:
results_clean = df4.drop_duplicates()

In [ ]:
results_clean.count()

In [ ]:
results_clean.drop('ge_runoff_election_votes', axis=1, inplace=True)

In [ ]:
results_clean.drop('ge_winner_indicator', axis=1, inplace=True)

In [ ]:
results_clean.drop('blank', axis=1, inplace=True)

In [ ]:
results_clean.head(20)

In [ ]:
from pandas.tools.plotting import parallel_coordinates
parallel_coordinates(data, class_column='label')

In [ ]:
from sklearn.model_selection import train_test_split as tts 

X = data[[
    '??', '??', '??', '??', '??', '??', '??'
]]
y = data['label']

print(X.shape)
print(y.shape)

In [ ]:
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2)