# Data Classification

# Notebook set-up

In [2]:
import os 
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
import io

sns.set_style('whitegrid')
sns.set_context('notebook')

# Data loading

In [4]:
FIXTURES = os.path.abspath(os.path.join(os.path.dirname("."), "..", "..", "data"))
WHEAT = os.path.join(FIXTURES, "???", "???.csv")

In [5]:
# Load the data into a dataframe 
#can_master = pd.read_csv('can-1996-2016.csv')
#cmte_master =pd.read_csv('cm-1996-2014.csv') 
#opex=pd.read_csv('opex-2004-2014.csv')
#oth=pd.read_csv('oth-1996-2014.csv')
#exp=pd.read_csv('expresults.csv')
election_spend=pd.read_csv('catall.csv')

/Users/adammorris/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
election_spend.head()

,cand_name,cand_pty_affiliation,cand_office_st,cand_office,cand_office_district,cand_ici,id,cand_id,cycle,c1,...,c11,c12,c13,total,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes
0,"WEXLER, ROBERT",DEM,FL,H,19.0,C,44930,H6FL19038,2006.0,281886.64,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
1,"WEXLER, ROBERT",DEM,FL,H,19.0,C,39165,H6FL19038,2006.0,281886.64,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
2,"WEXLER, ROBERT",DEM,FL,H,19.0,I,33393,H6FL19038,2006.0,281886.64,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
3,"WEXLER, ROBERT",DEM,FL,H,19.0,I,27579,H6FL19038,2006.0,281886.64,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0
4,"WEXLER, ROBERT",DEM,FL,H,19.0,I,24536,H6FL19038,2006.0,281886.64,...,NaN,NaN,NaN,NaN,0.0,NaN,202465.0,NaN,W,202465.0

primary_votes               1.615770e+10
runoff_votes                1.704113e+08
general_votes               6.866443e+10
ge_runoff_election_votes    1.432270e+08
total_votes                 8.513576e+10
exp_sum                     1.101249e+11
cycle                       8.790007e+08
dtype: float64

In [53]:
data.describe()

NameError: name 'data' is not defined

In [ ]:
data.groupby('label').count()

In [ ]:
from pandas.tools.plotting import parallel_coordinates
parallel_coordinates(data, class_column='label')

In [ ]:
from sklearn.model_selection import train_test_split as tts 

X = data[[
    '??', '??', '??', '??', '??', '??', '??'
]]
y = data['label']

print(X.shape)
print(y.shape)

In [ ]:
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2)