In [1]:
import os 
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
import io

sns.set_style('whitegrid')
sns.set_context('notebook')

In [6]:
# Load the data into a dataframe 
#can_master = pd.read_csv('can-1996-2016.csv')
#cmte_master =pd.read_csv('cm-1996-2014.csv') 
#opex=pd.read_csv('opex-2004-2014.csv')
#oth=pd.read_csv('oth-1996-2014.csv')
#exp=pd.read_csv('expresults_rev.csv')
#election_spend=pd.read_csv('catall.csv')
#results = pd.read_csv('candr.csv')
#catsort= pd.read_csv('catsort_rev.csv')
candcat=pd.read_csv('cand_cat.csv')
election=pd.read_csv('election1.csv')
combined=pd.read_csv('combined.csv')

In [3]:
combined=pd.merge(candcat, election, on=['cand_id','cycle'], how='outer')

In [4]:
combined.head()

,cand_id,cycle,c1,c2,c3,c4,c5,c6,c7,c8,...,state_abbreviation,district,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes
0,H0AK00089,2010,550.00,NaN,NaN,NaN,NaN,785.00,NaN,NaN,...,AK,0,0,DEM,38673.0,0.0,77606.0,0.0,0,116279.0
1,H0AK01038,2010,1569.23,88.93,NaN,NaN,NaN,NaN,NaN,NaN,...,AK,0,0,REP,24709.0,0.0,0.0,0.0,0,24709.0
2,H0AL00016,2010,19831.34,909.80,81.19,465.00,NaN,3177.55,2192.99,NaN,...,AL,7,0,DEM,6672.0,0.0,0.0,0.0,0,6672.0
3,H0AL01030,2010,7054.34,5233.32,668.95,27082.28,1175.0,1295.21,583.75,NaN,...,AL,1,0,REP,18725.0,0.0,0.0,0.0,0,18725.0
4,H0AL01030,2012,3480.00,27.72,381.09,7257.71,NaN,NaN,56.58,NaN,...,AL,1,0,R,3854.0,0.0,0.0,0.0,0,3854.0

In [5]:
combined.to_csv('combined.csv', index=False)

In [7]:
combined.head()

,cand_id,cycle,c1,c2,c3,c4,c5,c6,c7,c8,...,state_abbreviation,district,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes
0,H0AK00089,2010,550.00,NaN,NaN,NaN,NaN,785.00,NaN,NaN,...,AK,0,0,DEM,38673.0,0.0,77606.0,0.0,0,116279.0
1,H0AK01038,2010,1569.23,88.93,NaN,NaN,NaN,NaN,NaN,NaN,...,AK,0,0,REP,24709.0,0.0,0.0,0.0,0,24709.0
2,H0AL00016,2010,19831.34,909.80,81.19,465.00,NaN,3177.55,2192.99,NaN,...,AL,7,0,DEM,6672.0,0.0,0.0,0.0,0,6672.0
3,H0AL01030,2010,7054.34,5233.32,668.95,27082.28,1175.0,1295.21,583.75,NaN,...,AL,1,0,REP,18725.0,0.0,0.0,0.0,0,18725.0
4,H0AL01030,2012,3480.00,27.72,381.09,7257.71,NaN,NaN,56.58,NaN,...,AL,1,0,R,3854.0,0.0,0.0,0.0,0,3854.0

In [10]:
combined.transform(csum= c1+ c2+ c3 + c4+ c5 + c6 + c7+ c8 + c9 + c10 + c11 + c12 + c13)

AttributeError: 'DataFrame' object has no attribute 'transform'

In [11]:
d=combined

In [13]:
combined=d

In [16]:
combined['totalspend']=combined['totalspend'].fillna(0)

In [17]:
combined['c1']=combined['c1'].fillna(0)

In [18]:
combined['c2']=combined['c2'].fillna(0)

In [19]:
combined['c3']=combined['c3'].fillna(0)

In [20]:
combined['c4']=combined['c4'].fillna(0)

In [21]:
combined['c5']=combined['c5'].fillna(0)

In [22]:
combined['c6']=combined['c6'].fillna(0)

In [23]:
combined['c7']=combined['c7'].fillna(0)

In [24]:
combined['c8']=combined['c8'].fillna(0)

In [25]:
combined['c9']=combined['c9'].fillna(0)

In [26]:
combined['c10']=combined['c10'].fillna(0)

In [27]:
combined['c11']=combined['c11'].fillna(0)

In [28]:
combined['c12']=combined['c12'].fillna(0)

In [29]:
combined['c13']=combined['c13'].fillna(0)

In [30]:
combined['totalspend']=combined['c1']+combined['c2']+combined['c3']+combined['c4']+combined['c5']+combined['c6']+combined['c7']+combined['c9']+combined['c10']+combined['c11']+combined['c12']+combined['c13']

In [32]:
combined['primary_votes']=combined['primary_votes'].fillna(0)

In [33]:
combined['runoff_votes']=combined['runoff_votes'].fillna(0)

In [34]:
combined['general_votes']=combined['general_votes'].fillna(0)

In [35]:
combined['ge_runoff_election_votes']=combined['ge_runoff_election_votes'].fillna(0)

In [38]:
combined['costpervote']=combined['totalspend']/combined['total_votes']

In [39]:
combined.head()

,cand_id,cycle,c1,c2,c3,c4,c5,c6,c7,c8,...,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,total_votes,totalspend,costpervote
0,H0AK00089,2010,550.00,0.00,0.00,0.00,0.0,785.00,0.00,0.0,...,0,DEM,38673.0,0.0,77606.0,0.0,0,116279.0,220001.06,1.892010
1,H0AK01038,2010,1569.23,88.93,0.00,0.00,0.0,0.00,0.00,0.0,...,0,REP,24709.0,0.0,0.0,0.0,0,24709.0,169777.74,6.871089
2,H0AL00016,2010,19831.34,909.80,81.19,465.00,0.0,3177.55,2192.99,0.0,...,0,DEM,6672.0,0.0,0.0,0.0,0,6672.0,26957.87,4.040448
3,H0AL01030,2010,7054.34,5233.32,668.95,27082.28,1175.0,1295.21,583.75,0.0,...,0,REP,18725.0,0.0,0.0,0.0,0,18725.0,44377.00,2.369933
4,H0AL01030,2012,3480.00,27.72,381.09,7257.71,0.0,0.00,56.58,0.0,...,0,R,3854.0,0.0,0.0,0.0,0,3854.0,11203.10,2.906876

In [40]:
combined.to_csv('combined_all.csv', index=False)