# Election Result Wrangling

# Notebook set-up

In [1]:
import os 
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
import io

sns.set_style('whitegrid')
sns.set_context('notebook')

# Data loading

In [2]:
FIXTURES = os.path.abspath(os.path.join(os.path.dirname("."), "..", "..", "data"))
WHEAT = os.path.join(FIXTURES, "???", "???.csv")

In [3]:
# Load the data into a dataframe 
#can_master = pd.read_csv('can-1996-2016.csv')
#cmte_master =pd.read_csv('cm-1996-2014.csv') 
#opex=pd.read_csv('opex-2004-2014.csv')
#oth=pd.read_csv('oth-1996-2014.csv')
#exp=pd.read_csv('expresults.csv')
election_spend=pd.read_csv('catall.csv')
results = pd.read_csv('candr.csv')

/Users/dave/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
election = results

In [8]:
election['year']=pd.to_numeric(election['year'],errors='coerce')

In [9]:
print(election[pd.to_numeric(election['year'], errors = 'coerce').isnull()])

      state_abbreviation district fec_id incumbent party  primary_votes  \
11                   NaN      NaN    NaN       NaN   NaN            NaN
12                   NaN      NaN    NaN       NaN   NaN            NaN
17                   NaN      NaN    NaN       NaN   NaN            NaN
679                  NaN      NaN    NaN       NaN   NaN            NaN
745                  NaN      NaN    NaN       NaN   NaN            NaN
1133                 NaN      NaN    NaN       NaN   NaN            NaN
1290                 NaN      NaN    NaN       NaN   NaN            NaN
1291                 NaN      NaN    NaN       NaN   NaN            NaN
1368                 NaN      NaN    NaN       NaN   NaN            NaN
1369                 NaN      NaN    NaN       NaN   NaN            NaN
1443                 NaN      NaN    NaN       NaN   NaN            NaN
1669                 NaN      NaN    NaN       NaN   NaN            NaN
2361                 NaN      NaN    NaN       NaN   NaN            NaN
2436                 NaN      NaN    NaN       NaN   NaN            NaN
3027                 NaN      NaN    NaN       NaN   NaN            NaN
3490                 NaN      NaN    NaN       NaN   NaN            NaN
3491                 NaN      NaN    NaN       NaN   NaN            NaN
3639                 NaN      NaN    NaN       NaN   NaN            NaN
3640                 NaN      NaN    NaN       NaN   NaN            NaN
4255                 NaN      NaN    NaN       NaN   NaN            NaN
4554                 NaN      NaN    NaN       NaN   NaN            NaN
4931                 NaN      NaN    NaN       NaN   NaN            NaN
6374                 NaN      NaN    NaN       NaN   NaN            NaN
6443                 NaN      NaN    NaN       NaN   NaN            NaN
6679                 NaN      NaN    NaN       NaN   NaN            NaN
6973                 NaN      NaN    NaN       NaN   NaN            NaN
7045                 NaN      NaN    NaN       NaN   NaN            NaN
7101                 NaN      NaN    NaN       NaN   NaN            NaN
7102                 NaN      NaN    NaN       NaN   NaN            NaN
7103                 NaN      NaN    NaN       NaN   NaN            NaN
...                  ...      ...    ...       ...   ...            ...
9682                 NaN      NaN    NaN       NaN   NaN            NaN
9683                 NaN      NaN    NaN       NaN   NaN            NaN
9684                 NaN      NaN    NaN       NaN   NaN            NaN
9685                 NaN      NaN    NaN       NaN   NaN            NaN
9686                 NaN      NaN    NaN       NaN   NaN            NaN
9687                 NaN      NaN    NaN       NaN   NaN            NaN
9688                 NaN      NaN    NaN       NaN   NaN            NaN
9689                 NaN      NaN    NaN       NaN   NaN            NaN
9690                 NaN      NaN    NaN       NaN   NaN            NaN
9691                 NaN      NaN    NaN       NaN   NaN            NaN
9692                 NaN      NaN    NaN       NaN   NaN            NaN
9693                 NaN      NaN    NaN       NaN   NaN            NaN
9694                 NaN      NaN    NaN       NaN   NaN            NaN
9695                 NaN      NaN    NaN       NaN   NaN            NaN
9696                 NaN      NaN    NaN       NaN   NaN            NaN
9697                 NaN      NaN    NaN       NaN   NaN            NaN
9698                 NaN      NaN    NaN       NaN   NaN            NaN
9699                 NaN      NaN    NaN       NaN   NaN            NaN
9700                 NaN      NaN    NaN       NaN   NaN            NaN
9701                 NaN      NaN    NaN       NaN   NaN            NaN
16297                NaN      NaN    NaN       NaN   NaN            NaN
16298                NaN      NaN    NaN       NaN   NaN            NaN
16299                NaN      NaN    NaN       NaN   NaN            NaN
16300                NaN      NaN    NaN       NaN   NaN            NaN
16301                NaN      NaN    NaN       NaN   NaN            NaN
16302                NaN      NaN    NaN       NaN   NaN            NaN
16303                NaN      NaN    NaN       NaN   NaN            NaN
16304                NaN      NaN    NaN       NaN   NaN            NaN
16305                NaN      NaN    NaN       NaN   NaN            NaN
16306                NaN      NaN    NaN       NaN   NaN            NaN

       runoff_votes  general_votes  ge_runoff_election_votes  \
11              NaN            NaN                       NaN
12              NaN            NaN                       NaN
17              NaN            NaN                       NaN
679             NaN            NaN                       NaN
745             NaN            NaN                       NaN
1133            NaN            NaN                       NaN
1290            NaN            NaN                       NaN
1291            NaN            NaN                       NaN
1368            NaN            NaN                       NaN
1369            NaN            NaN                       NaN
1443            NaN            NaN                       NaN
1669            NaN            NaN                       NaN
2361            NaN            NaN                       NaN
2436            NaN            NaN                       NaN
3027            NaN            NaN                       NaN
3490            NaN            NaN                       NaN
3491            NaN            NaN                       NaN
3639            NaN            NaN                       NaN
3640            NaN            NaN                       NaN
4255            NaN            NaN                       NaN
4554            NaN            NaN                       NaN
4931            NaN            NaN                       NaN
6374            NaN            NaN                       NaN
6443            NaN            NaN                       NaN
6679            NaN            NaN                       NaN
6973            NaN            NaN                       NaN
7045            NaN            NaN                       NaN
7101            NaN            NaN                       NaN
7102            NaN            NaN                       NaN
7103            NaN            NaN                       NaN
...             ...            ...                       ...
9682            NaN            NaN                       NaN
9683            NaN            NaN                       NaN
9684            NaN            NaN                       NaN
9685            NaN            NaN                       NaN
9686            NaN            NaN                       NaN
9687            NaN            NaN                       NaN
9688            NaN            NaN                       NaN
9689            NaN            NaN                       NaN
9690            NaN            NaN                       NaN
9691            NaN            NaN                       NaN
9692            NaN            NaN                       NaN
9693            NaN            NaN                       NaN
9694            NaN            NaN                       NaN
9695            NaN            NaN                       NaN
9696            NaN            NaN                       NaN
9697            NaN            NaN                       NaN
9698            NaN            NaN                       NaN
9699            NaN            NaN                       NaN
9700            NaN            NaN                       NaN
9701            NaN            NaN                       NaN
16297           NaN            NaN                       NaN
16298           NaN            NaN                       NaN
16299           NaN            NaN                       NaN
16300           NaN            NaN                       NaN
16301           NaN            NaN                       NaN
16302           NaN            NaN                       NaN
16303           NaN            NaN                       NaN
16304           NaN            NaN                       NaN
16305           NaN            NaN                       NaN
16306           NaN            NaN                       NaN

      ge_winner_indicator  year blank  total_votes
11                    NaN   NaN     ,            0
12                    NaN   NaN     ,            0
17                    NaN   NaN     ,            0
679                   NaN   NaN     ,            0
745                   NaN   NaN     ,            0
1133                  NaN   NaN     ,            0
1290                  NaN   NaN     ,            0
1291                  NaN   NaN     ,            0
1368                  NaN   NaN     ,            0
1369                  NaN   NaN     ,            0
1443                  NaN   NaN     ,            0
1669                  NaN   NaN     ,            0
2361                  NaN   NaN     ,            0
2436                  NaN   NaN     ,            0
3027                  NaN   NaN     ,            0
3490                  NaN   NaN     ,            0
3491                  NaN   NaN     ,            0
3639                  NaN   NaN     ,            0
3640                  NaN   NaN     ,            0
4255                  NaN   NaN     ,            0
4554                  NaN   NaN     ,            0
4931                  NaN   NaN     ,            0
6374                  NaN   NaN     ,            0
6443                  NaN   NaN     ,            0
6679                  NaN   NaN     ,            0
6973                  NaN   NaN     ,            0
7045                  NaN   NaN     ,            0
7101                  NaN   NaN   NaN            0
7102                  NaN   NaN   NaN            0
7103                  NaN   NaN   NaN            0
...                   ...   ...   ...          ...
9682                  NaN   NaN     ,            0
9683                  NaN   NaN     ,            0
9684                  NaN   NaN     ,            0
9685                  NaN   NaN     ,            0
9686                  NaN   NaN     ,            0
9687                  NaN   NaN     ,            0
9688                  NaN   NaN     ,            0
9689                  NaN   NaN     ,            0
9690                  NaN   NaN     ,            0
9691                  NaN   NaN     ,            0
9692                  NaN   NaN     ,            0
9693                  NaN   NaN     ,            0
9694                  NaN   NaN     ,            0
9695                  NaN   NaN     ,            0
9696                  NaN   NaN     ,            0
9697                  NaN   NaN     ,            0
9698                  NaN   NaN     ,            0
9699                  NaN   NaN     ,            0
9700                  NaN   NaN     ,            0
9701                  NaN   NaN     ,            0
16297                 NaN   NaN   NaN            0
16298                 NaN   NaN   NaN            0
16299                 NaN   NaN   NaN            0
16300                 NaN   NaN   NaN            0
16301                 NaN   NaN   NaN            0
16302                 NaN   NaN   NaN            0
16303                 NaN   NaN   NaN            0
16304                 NaN   NaN   NaN            0
16305                 NaN   NaN   NaN            0
16306                 NaN   NaN   NaN            0

[742 rows x 13 columns]

In [10]:
election = election[pd.notnull(election['year'])]

In [11]:
election['year'] = election['year'].astype(int).astype('str')

/Users/dave/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [12]:
election.fec_id.apply(str)

0              nan
1              nan
2              nan
3              nan
4              nan
5              nan
6              nan
7              nan
8              nan
9              nan
10             nan
13       H6FL19046
14             nan
15       H6LA02207
16             nan
18       S8NE00109
19             nan
20       H8NJ02117
21       H8NJ02133
22       H0NJ02098
23             nan
24             nan
25             nan
26             nan
27             nan
28             nan
29             nan
30             nan
31             nan
32             nan
           ...
24805          nan
24806          nan
24807          nan
24808          nan
24809          nan
24810          nan
24811          nan
24812          nan
24813          nan
24814          nan
24815          nan
24816          nan
24817          nan
24818          nan
24819          nan
24820          nan
24821          nan
24822          nan
24823          nan
24824          nan
24825          nan
24826          nan
24827          nan
24828          nan
24829          nan
24830          nan
24831          nan
24832          nan
24833          nan
24834          nan
Name: fec_id, dtype: object

In [15]:
election = election[pd.notnull(election['fec_id'])]

In [16]:
election.head(20)

,state_abbreviation,district,fec_id,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,year,blank,total_votes
13,FL,19,H6FL19046,NaN,NPA,NaN,NaN,20214.0,NaN,NaN,2008,NaN,20214
15,LA,2,H6LA02207,NaN,LBT,0.0,NaN,549.0,NaN,NaN,2008,NaN,549
18,NE,S,S8NE00109,NaN,N(R),289.0,NaN,NaN,NaN,NaN,2008,NaN,289
20,NJ,2,H8NJ02117,NaN,CNJ,NaN,NaN,1551.0,NaN,NaN,2008,NaN,1551
21,NJ,2,H8NJ02133,NaN,RTB,NaN,NaN,1312.0,NaN,NaN,2008,NaN,1312
22,NJ,2,H0NJ02098,NaN,SUS,NaN,NaN,648.0,NaN,NaN,2008,NaN,648
43,RI,1,H6RI01104,NaN,I,NaN,NaN,15108.0,NaN,NaN,2008,NaN,15108
47,AL,1,H2AL01077,(I),R,0.0,NaN,161067.0,NaN,W,2004,NaN,161067
48,AL,1,H2AL01119,NaN,D,0.0,NaN,93938.0,NaN,NaN,2004,NaN,93938
50,AL,2,H2AL02067,(I),R,0.0,NaN,177086.0,NaN,W,2004,NaN,177086
51,AL,2,H4AL02063,NaN,D,0.0,NaN,70562.0,NaN,NaN,2004,NaN,70562
53,AL,3,H2AL03032,(I),R,0.0,NaN,150411.0,NaN,W,2004,NaN,150411
54,AL,3,H4AL03046,NaN,D,0.0,NaN,95240.0,NaN,NaN,2004,NaN,95240
56,AL,4,H6AL04098,(I),R,0.0,NaN,191110.0,NaN,W,2004,NaN,191110
57,AL,4,H4AL04028,NaN,D,0.0,NaN,64278.0,NaN,NaN,2004,NaN,64278
59,AL,5,H0AL05049,(I),D,37573.0,NaN,200999.0,NaN,W,2004,NaN,238572
60,AL,5,H2AL05078,NaN,D,4393.0,NaN,NaN,NaN,NaN,2004,NaN,4393
62,AL,5,H4AL05066,NaN,R,6742.0,2371.0,74145.0,NaN,NaN,2004,NaN,83258
63,AL,5,H2AL05060,NaN,R,6007.0,2130.0,NaN,NaN,NaN,2004,NaN,8137
64,AL,5,H4AL05058,NaN,R,2175.0,NaN,NaN,NaN,NaN,2004,NaN,2175

In [17]:
election['incumbent']=election['incumbent'].fillna(0)

In [18]:
election['primary_votes']=election['primary_votes'].fillna(0)

In [19]:
election['runoff_votes']=election['runoff_votes'].fillna(0)

In [20]:
election['general_votes']=election['general_votes'].fillna(0)

In [21]:
election['ge_runoff_election_votes']=election['ge_runoff_election_votes'].fillna(0)

In [22]:
election.head()

,state_abbreviation,district,fec_id,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,year,blank,total_votes
13,FL,19,H6FL19046,0,NPA,0.0,0.0,20214.0,0.0,NaN,2008,NaN,20214
15,LA,2,H6LA02207,0,LBT,0.0,0.0,549.0,0.0,NaN,2008,NaN,549
18,NE,S,S8NE00109,0,N(R),289.0,0.0,0.0,0.0,NaN,2008,NaN,289
20,NJ,2,H8NJ02117,0,CNJ,0.0,0.0,1551.0,0.0,NaN,2008,NaN,1551
21,NJ,2,H8NJ02133,0,RTB,0.0,0.0,1312.0,0.0,NaN,2008,NaN,1312

In [23]:
election['ge_winner_indicator']=election['ge_winner_indicator'].fillna(0)

In [24]:
election.head()

,state_abbreviation,district,fec_id,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,year,blank,total_votes
13,FL,19,H6FL19046,0,NPA,0.0,0.0,20214.0,0.0,0,2008,NaN,20214
15,LA,2,H6LA02207,0,LBT,0.0,0.0,549.0,0.0,0,2008,NaN,549
18,NE,S,S8NE00109,0,N(R),289.0,0.0,0.0,0.0,0,2008,NaN,289
20,NJ,2,H8NJ02117,0,CNJ,0.0,0.0,1551.0,0.0,0,2008,NaN,1551
21,NJ,2,H8NJ02133,0,RTB,0.0,0.0,1312.0,0.0,0,2008,NaN,1312

In [25]:
election = election.replace("W",1)

In [26]:
election.head()

,state_abbreviation,district,fec_id,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,year,blank,total_votes
13,FL,19,H6FL19046,0,NPA,0.0,0.0,20214.0,0.0,0,2008,NaN,20214
15,LA,2,H6LA02207,0,LBT,0.0,0.0,549.0,0.0,0,2008,NaN,549
18,NE,S,S8NE00109,0,N(R),289.0,0.0,0.0,0.0,0,2008,NaN,289
20,NJ,2,H8NJ02117,0,CNJ,0.0,0.0,1551.0,0.0,0,2008,NaN,1551
21,NJ,2,H8NJ02133,0,RTB,0.0,0.0,1312.0,0.0,0,2008,NaN,1312

In [27]:
election = election.replace("(I)",1)

In [28]:
election.head()

,state_abbreviation,district,fec_id,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,year,blank,total_votes
13,FL,19,H6FL19046,0,NPA,0.0,0.0,20214.0,0.0,0,2008,NaN,20214
15,LA,2,H6LA02207,0,LBT,0.0,0.0,549.0,0.0,0,2008,NaN,549
18,NE,S,S8NE00109,0,N(R),289.0,0.0,0.0,0.0,0,2008,NaN,289
20,NJ,2,H8NJ02117,0,CNJ,0.0,0.0,1551.0,0.0,0,2008,NaN,1551
21,NJ,2,H8NJ02133,0,RTB,0.0,0.0,1312.0,0.0,0,2008,NaN,1312

In [29]:
election = election.drop_duplicates()

In [30]:
election.count()

state_abbreviation          13459
district                    13399
fec_id                      13459
incumbent                   13459
party                       13352
primary_votes               13459
runoff_votes                13459
general_votes               13459
ge_runoff_election_votes    13459
ge_winner_indicator         13459
year                        13459
blank                           0
total_votes                 13459
dtype: int64

In [31]:
election.head()

,state_abbreviation,district,fec_id,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,year,blank,total_votes
13,FL,19,H6FL19046,0,NPA,0.0,0.0,20214.0,0.0,0,2008,NaN,20214
15,LA,2,H6LA02207,0,LBT,0.0,0.0,549.0,0.0,0,2008,NaN,549
18,NE,S,S8NE00109,0,N(R),289.0,0.0,0.0,0.0,0,2008,NaN,289
20,NJ,2,H8NJ02117,0,CNJ,0.0,0.0,1551.0,0.0,0,2008,NaN,1551
21,NJ,2,H8NJ02133,0,RTB,0.0,0.0,1312.0,0.0,0,2008,NaN,1312

In [32]:
election = election.rename(columns = {'fec_id':'cand_id'})

In [33]:
election = election.rename(columns = {'year':'cycle'})

In [34]:
election = election.drop(['blank'], axis=1)

In [35]:
election.head()

,state_abbreviation,district,cand_id,incumbent,party,primary_votes,runoff_votes,general_votes,ge_runoff_election_votes,ge_winner_indicator,cycle,total_votes
13,FL,19,H6FL19046,0,NPA,0.0,0.0,20214.0,0.0,0,2008,20214
15,LA,2,H6LA02207,0,LBT,0.0,0.0,549.0,0.0,0,2008,549
18,NE,S,S8NE00109,0,N(R),289.0,0.0,0.0,0.0,0,2008,289
20,NJ,2,H8NJ02117,0,CNJ,0.0,0.0,1551.0,0.0,0,2008,1551
21,NJ,2,H8NJ02133,0,RTB,0.0,0.0,1312.0,0.0,0,2008,1312

In [36]:
election.to_csv('election1.csv', index=False)